Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

VW MQB: Volkswagen T-Cross Mk1 (#21709)
  README.md
  RELEASES.md
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/test_routes.py
Due: pylint

Revert lateral tuning change for some TSS2 Rav4
  selfdrive/car/toyota/interface.py
Due: pylint

Revert lateral tuning change for some TSS2 Rav4 (#21715)
  selfdrive/car/toyota/interface.py
Due: pylint

New model: b822ee32-917c-4639-99f8-25be3e6aabad/900
  models/supercombo.dlc
  models/supercombo.onnx
  selfdrive/common/modeldata.h
  selfdrive/modeld/models/driving.cc
Due: cppcheck

Enable keeps
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

Send keep pulses once per second
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

use new packet
  selfdrive/controls/lib/radar_helpers.py
  selfdrive/controls/radard.py
Due: pylint

Updated model_replay_ref_commit
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

New model: 0f160bf9-1bce-43e6-9785-564b2453eeac
  models/supercombo.dlc
  models/supercombo.onnx
Due: none

Bump model_replay_ref_commit
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

safer low speed (#21705)
  selfdrive/controls/lib/lead_mpc.py
  selfdrive/controls/lib/lead_mpc_lib/generator.cpp
  selfdrive/controls/lib/lead_mpc_lib/lib_mpc_export/acado_solver.c
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

UI: decrease api request frequency
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/setup.cc
Due: cppcheck

New model: fd904bf9-5dd8-4619-8997-c5668400e078/550
  models/supercombo.dlc
  models/supercombo.onnx
Due: none

smooth 3d4f
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

HttpRequest: don't send request in ctor (#21665)
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/replay/replay.cc
Due: cppcheck

fixedie fix
  pyextra/acados_template/acados_ocp_solver.py
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/lead_mpc_lib/lead_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

fix test
  selfdrive/controls/tests/test_lateral_mpc.py
Due: pylint

soundd checks
  selfdrive/ui/soundd.cc
Due: cppcheck

update lateral planner
  selfdrive/test/process_replay/ref_commit
Due: none

detect no prime
  selfdrive/athena/athenad.py
  selfdrive/common/params.cc
Due: pylint, cppcheck

show in sidebar
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
Due: cppcheck

revert timeout
  selfdrive/athena/athenad.py
Due: pylint

clear ping param
  selfdrive/athena/athenad.py
  selfdrive/common/params.cc
Due: pylint, cppcheck

udpate vision in thread
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

nav: double click reset pan/zoom timers
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

nav: show error when route request fails
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
