Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

Add missing ALPHARD_TSS2 f/w
  selfdrive/car/toyota/values.py
Due: pylint

Update CARS.md
  docs/CARS.md
Due: none

use less than
  selfdrive/boardd/boardd.cc
Due: cppcheck

cleanup loop condition
  selfdrive/boardd/boardd.cc
Due: cppcheck

cleanup set safety loop
  selfdrive/boardd/boardd.cc
Due: cppcheck

rename params to car_params
  selfdrive/boardd/boardd.cc
Due: cppcheck

Remove redundant check
  selfdrive/boardd/boardd.cc
Due: cppcheck

work on acados lateral MPC (#23558)
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/tests/test_lateral_mpc.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

add test case
  selfdrive/boardd/.gitignore
  selfdrive/boardd/SConscript
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/boardd.h
  selfdrive/boardd/tests/test_safety_setter_thread.cc
Due: cppcheck

VW MQB: Update steering angle and actuator delay
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Due: pylint

Add missing ALPHARD_TSS2 f/w (#23567)
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: pylint

dmonitoringd: make real-time process (#23554)
  selfdrive/monitoring/dmonitoringd.py
Due: pylint

FW for Toyota Highlander 2021 Hybrid
  selfdrive/car/toyota/values.py
Due: pylint

FW for Toyota Highlander 2021 Hybrid (#23571)
  selfdrive/car/toyota/values.py
Due: pylint

dmonitoringd: remove duplicate call on update when driver engaged (#23539)
  selfdrive/monitoring/dmonitoringd.py
Due: pylint

add flake8 exception for values
  selfdrive/car/gm/values.py
Due: pylint

bump opendbc
  selfdrive/car/toyota/toyotacan.py
Due: pylint

Update interfaces.py
  selfdrive/car/interfaces.py
Due: pylint

Add param to process replay
  selfdrive/test/process_replay/process_replay.py
Due: pylint

add lkas_hud messages
  selfdrive/car/toyota/toyotacan.py
Due: pylint

Remove duplicate
  selfdrive/car/toyota/toyotacan.py
Due: pylint

run on PC
  selfdrive/hardware/hw.h
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint, cppcheck

set frameId
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

use rav4h dbc for nx
  selfdrive/car/toyota/values.py
Due: pylint

remove from release file
  release/files_common
Due: none

same with highlander
  release/files_common
  selfdrive/car/toyota/values.py
Due: pylint

remove sienna dbc
  release/files_common
  selfdrive/car/toyota/values.py
Due: pylint

rx and nx are also the same as avalon
  release/files_common
  selfdrive/car/toyota/values.py
Due: pylint

highlander can also use avalon's dbc
  release/files_common
  selfdrive/car/toyota/values.py
Due: pylint
