Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

update Corolla TSS2 wheelbase
  selfdrive/car/toyota/interface.py
Due: pylint

smp_pipenv
  Pipfile
  Pipfile.lock
Due: none

smp_pipenv (#19687)
  Pipfile
  Pipfile.lock
Due: none

test route
  selfdrive/test/test_car_models.py
Due: pylint

add other libraries
  phonelibs/acado/x86_64/lib/libacado_casadi.a
  phonelibs/acado/x86_64/lib/libacado_csparse.a
  phonelibs/acado/x86_64/lib/libacado_qpoases.a
  phonelibs/acado/x86_64/lib/libacado_toolkit.a
  phonelibs/acado/x86_64/lib/libacado_toolkit_s.so
Due: none

3789ba75669929de
  selfdrive/car/honda/values.py
Due: pylint

Civic Hatch 2017 fw (#19688)
  selfdrive/car/honda/values.py
Due: pylint

Longitudinal tune for Corolla TSS2
  selfdrive/car/toyota/interface.py
Due: pylint

updated test route
  selfdrive/test/test_car_models.py
Due: pylint

point it back to comma.
  .gitmodules
Due: none

qt reset and setup improvements
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/setup.cc
Due: cppcheck

Add Esu.esp Fingerprint For RAV4H_TSS2
  selfdrive/car/toyota/values.py
Due: pylint

cpp encoder
  release/files_common
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
Due: cppcheck

cleanup
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

encoder cleanup
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

remove last msg
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

clean up init data
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint, cppcheck

move back
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

clean up
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

util
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

loggerd cleanup (#19668)
  release/files_common
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint, cppcheck

Update fetch_image_from_route.py
  tools/scripts/fetch_image_from_route.py
Due: pylint

Squashed vipc
  SConstruct
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/main.cc
  selfdrive/common/SConscript
  selfdrive/common/buffering.c
  selfdrive/common/buffering.h
  selfdrive/common/cqueue.c
  selfdrive/common/efd.c
  selfdrive/common/efd.h
  selfdrive/common/ipc.c
  selfdrive/common/ipc.h
  selfdrive/common/visionbuf.h
  selfdrive/common/visionbuf_cl.c
  selfdrive/common/visionimg.cc
  selfdrive/common/visionimg.h
  selfdrive/common/visionipc.c
  selfdrive/common/visionipc.h
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/manager.py
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: pylint, cppcheck

Remove else
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

add visionipc to release files
  release/files_common
Due: none

Update release files
  release/files_common
  selfdrive/common/visionbuf_ion.c
Due: none

use poller in vipc receive
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/modeld.cc
  selfdrive/ui/ui.cc
Due: cppcheck

opencl framework instead of lib on macos
  selfdrive/loggerd/SConscript
  selfdrive/ui/SConscript
Due: none

more webcam fixes
  selfdrive/camerad/cameras/camera_webcam.cc
Due: cppcheck

Fix camera webcam
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

Use cur_yuv_buf
  selfdrive/camerad/cameras/camera_webcam.cc
Due: cppcheck

Fix opencl on mac in ui
  selfdrive/ui/SConscript
Due: none
