Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

try
  selfdrive/car/tests/test_models.py
Due: mypy

100 for fun
  selfdrive/car/tests/test_models.py
Due: mypy

the fun is over
  selfdrive/car/tests/test_models.py
Due: mypy

Update selfdrive_tests.yaml
  .github/workflows/selfdrive_tests.yaml
Due: none

Update action.yaml
  .github/workflows/setup/action.yaml
Due: none

Update action.yaml
  .github/workflows/compile-openpilot/action.yaml
Due: none

try even less
  tools/lib/filereader.py
Due: mypy

fix lead distance bars w/ joystick mode
  tools/joystick/joystickd.py
Due: mypy

Update Python packages
  docs/CARS.md
  uv.lock
Due: none

fix lead distance bars w/ joystick mode (#33942)
  tools/joystick/joystickd.py
Due: mypy

[bot] Update Python packages (#33943)
  docs/CARS.md
  uv.lock
Due: none

update docs
  docs/CARS.md
Due: none

release notes
  RELEASES.md
Due: none

op
  RELEASES.md
Due: none

much better
  system/camerad/sensors/os04c10_cl.h
Due: cppcheck

also isp
  system/camerad/sensors/os04c10.cc
Due: cppcheck

os04c10: 12bit tune (#33947)
  system/camerad/sensors/os04c10.cc
  system/camerad/sensors/os04c10_cl.h
Due: cppcheck

migrate for regen
  selfdrive/test/process_replay/migration.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
