Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

set hw types
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

dont use c++ filesystem
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

don't re-init pigeon while offroad
  selfdrive/boardd/boardd.cc
Due: cppcheck

we don't need this
  selfdrive/boardd/boardd.cc
Due: cppcheck

Autoconnect seems useless
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

feature complete, need to cleanup
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/offroad/wifi.hpp
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.hpp
Due: cppcheck

unique networks
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.hpp
Due: cppcheck

cleanup
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

move to device
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/offroad/wifi.hpp
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.hpp
Due: cppcheck

change passwordd
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

works but should probably be cleaned up
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

Set correct HW type in initData (#2685)
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

Don't re-init pigeon while offroad (#2687)
  selfdrive/boardd/boardd.cc
Due: cppcheck

changed var name to minSpeedCan for consistency with other uses of CAN in the capnproto files
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/planner.py
Due: pylint

all but IP works
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.hpp
Due: cppcheck

2021 RX fw (#2683)
  selfdrive/car/toyota/values.py
Due: pylint

Add 2021 Lexus RX
  README.md
Due: none

Add 2021 Lexus RX old-commit-hash: 68e1481b2afbabacdd05373fb6fdcdcb1ef65df2
  README.md
Due: none

update panda
  panda/board/boards/uno.h
Due: none

remove check on frame drop in modeld (#2638)
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

added default value to get_std_params, removed unneeded instances from car interface files
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Due: pylint

Revert PEP8 autoformat corrections
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/lib/planner.py
Due: pylint

convert to c++
  common/params_pxd.pxd
  installer/Makefile
  installer/installer.cc
  installer/updater/updater.cc
  release/files_common
  selfdrive/camerad/SConscript
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/transforms/rgb_to_yuv.cc
  selfdrive/camerad/transforms/rgb_to_yuv.h
  selfdrive/common/SConscript
  selfdrive/common/clutil.cc
  selfdrive/common/clutil.h
  selfdrive/common/params.cc
  selfdrive/common/test_params.c
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/common/utilpp.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/raw_logger.cc
  selfdrive/modeld/SConscript
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/transforms/loadyuv.cc
  selfdrive/modeld/visiontest.cc
  selfdrive/modeld/visiontest.mk
  selfdrive/proclogd/proclogd.cc
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.cc
Due: cppcheck

use name
  selfdrive/locationd/models/loc_kf.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

simplify common_camera_process_front (#2470)
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

gbk
  selfdrive/loggerd/encoder.c
  selfdrive/loggerd/encoder.h
Due: cppcheck

mask off cores 2-3 from RPS
  launch_chffrplus.sh
Due: none

Fix commIssue due to frame drop and power draw (#2689)
  panda/board/boards/uno.h
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

Parametrize MIN_CAN_SPEED in car interfaces (#2684)
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/planner.py
  selfdrive/test/process_replay/ref_commit
Due: pylint
