Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

typo in ui sconsfile
  selfdrive/ui/SConscript
Due: none

visionbuf c++ class
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

Camera qcom was still using visionbuf_allocate
  selfdrive/camerad/cameras/camera_qcom.cc
Due: cppcheck

fix snapshot
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/camerad/snapshot/visionipc.py
Due: pylint

Turn loggerd back on
  selfdrive/manager.py
Due: pylint

No build needed
  selfdrive/camerad/SConscript
Due: none

update test camerad
  Jenkinsfile
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/camerad/test/test_camerad.py
Due: pylint

no more release callback
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
Due: cppcheck

make encoder c++
  release/files_common
  selfdrive/loggerd/SConscript
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
Due: cppcheck

move release callback call
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
Due: cppcheck

No need to check errno
  selfdrive/modeld/dmonitoringmodeld.cc
Due: cppcheck

Revert "no more release callback"
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
Due: cppcheck

fix exit handlers
  selfdrive/camerad/main.cc
  selfdrive/modeld/dmonitoringmodeld.cc
Due: cppcheck

s/VIPCBufExtra/VisionIpcBufExtra/g
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/loggerd/encoder.cc
  selfdrive/loggerd/encoder.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/tests/testraw.cc
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
Due: cppcheck

use non blocking connect
  selfdrive/loggerd/loggerd.cc
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
Due: cppcheck

Lower condition variable wait time
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

ui use non blocking connect
  selfdrive/ui/ui.cc
Due: cppcheck

Snapshot cleanup
  selfdrive/camerad/snapshot/snapshot.py
Due: pylint

more classes, still crashes after a while
  selfdrive/ui/SConscript
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.hpp
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/pairing_qr.cc
  selfdrive/ui/qt/widgets/pairing_qr.hpp
Due: cppcheck

use nvidia container
  tools/sim/Dockerfile.sim
  tools/sim/build_container.sh
  tools/sim/start_openpilot_docker.sh
Due: none

tici: correct battery voltage
  selfdrive/boardd/boardd.cc
Due: cppcheck

read current
  selfdrive/boardd/boardd.cc
Due: cppcheck

use current too
  selfdrive/boardd/boardd.cc
  selfdrive/thermald/tests/test_power_monitoring.py
Due: pylint, cppcheck

Fix battery voltage reading (#19699)
  selfdrive/boardd/boardd.cc
  selfdrive/thermald/tests/test_power_monitoring.py
Due: pylint, cppcheck

better style
  selfdrive/ui/qt/widgets/setup.cc
  selfdrive/ui/qt/widgets/setup.hpp
Due: cppcheck

refactor ui_draw_driver_view
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

fix gap
  selfdrive/ui/paint.cc
Due: cppcheck

continue simplify
  selfdrive/ui/paint.cc
Due: cppcheck

clearer qr code
  selfdrive/ui/qt/widgets/setup.cc
Due: cppcheck

pyopencl pipenv
  Pipfile
  Pipfile.lock
Due: none

refactor ui_draw_driver_view (#19597)
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
