Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

matplotlib
  tools/latency_logging/print_timestamps.py
Due: pylint

readme
  tools/latency_logger/README.md
  tools/latency_logger/latency_logger.py
Due: pylint

Update README.md
  tools/latency_logger/README.md
Due: none

stash
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

add test
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

add preEnabled NO_ENTRY test
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

remove overriding until it's merged in
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

tuples
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

test soft disable
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

Handle NO_ENTRY in PRE_ENABLED
  selfdrive/controls/controlsd.py
Due: pylint

Update refs again
  selfdrive/test/process_replay/ref_commit
Due: none

use Events class
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

Body leash tune (#24105)
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/body/values.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

It's actually Plug-in according to Hyundai (Google capitalizes it)
  selfdrive/car/tests/test_docs.py
Due: pylint

fix docs
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

car docs: enforce naming conventions (#24116)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_docs.py
Due: pylint

update max lines in ui
  selfdrive/ui/ui.cc
Due: cppcheck

target 25fps to leave some room for timing jitter
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/sensor2_i2c.h
Due: cppcheck

register values from wizard
  selfdrive/camerad/cameras/sensor2_i2c.h
Due: cppcheck

fix tests and split out
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

calibrationd: support for not cars
  selfdrive/locationd/calibrationd.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

don't rely on controlsd's counter
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

calibrationd: support for not cars (#24115)
  selfdrive/locationd/calibrationd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

controlsd: add state machine tests (#24107)
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_state_machine.py
Due: pylint

Squashed commit of the following:
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/ui.cc
Due: pylint, cppcheck

clean up
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

controlsState: add override state with grey border (#24030)
  selfdrive/controls/controlsd.py
  selfdrive/ui/ui.cc
Due: pylint, cppcheck

script to read DTC status
  selfdrive/debug/clear_dtc.py
  selfdrive/debug/read_dtc_status.py
Due: pylint

move counter
  selfdrive/car/body/bodycan.py
Due: pylint

add msg
  selfdrive/car/body/carstate.py
Due: pylint
