Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Update Python packages
  docs/CARS.md
  uv.lock
Due: none

f string
  tools/lib/route.py
Due: mypy

add log id
  tools/lib/route.py
Due: mypy

whitespace
  tools/lib/route.py
Due: mypy

another name
  tools/lib/route.py
Due: mypy

another dumb function
  tools/lib/route.py
Due: mypy

add helpers
  tools/lib/route.py
Due: mypy

add logid
  tools/lib/route.py
Due: mypy

add more crap
  tools/lib/route.py
Due: mypy

[bot] Update Python packages (#35778)
  docs/CARS.md
  uv.lock
Due: none

fix naming
  tools/lib/route.py
Due: mypy

update refs:
  selfdrive/test/process_replay/ref_commit
Due: none

bump opendbc (#35789)
  selfdrive/test/process_replay/ref_commit
Due: none

fstring
  tools/lib/route.py
Due: mypy

default
  common/params.cc
  common/params.h
  common/params_keys.h
  common/params_pyx.pyx
  system/manager/manager.py
Due: mypy, cppcheck

Switch to Ubuntu 20.04 and optimize native setup
  .github/workflows/auto_pr_review.yaml
  .github/workflows/badges.yaml
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/docs.yaml
  .github/workflows/jenkins-pr-trigger.yaml
  .github/workflows/model_review.yaml
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
  .github/workflows/repo-maintenance.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/stale.yaml
  .github/workflows/ui_preview.yaml
Due: none

Switch to Ubuntu 20.04 and optimize native setup
  .github/workflows/setup/action.yaml
Due: none

json
  selfdrive/ui/widgets/offroad_alerts.py
Due: mypy

more
  selfdrive/ui/widgets/offroad_alerts.py
Due: mypy

test
  common/tests/test_params.py
Due: mypy

d
  common/tests/test_params.py
Due: mypy

better
  common/tests/test_params.py
Due: mypy

modeld: skip redundant cast, reshape, and flatten (#35735)
  selfdrive/modeld/dmonitoringmodeld.py
  selfdrive/modeld/modeld.py
Due: mypy

test
  selfdrive/test/test_updated.py
Due: mypy

excessive actuation
  cereal/log.capnp
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy, cppcheck

not sure why not here
  system/hardware/hardwared.py
Due: mypy

text
  selfdrive/selfdrived/alerts_offroad.json
  system/hardware/hardwared.py
Due: mypy

Route: add more helpers for now (#35783)
  tools/lib/route.py
Due: mypy

one
  system/updated/updated.py
Due: mypy

software
  selfdrive/selfdrived/alerts_offroad.json
Due: none

check
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/widgets/offroad_alerts.cc
Due: mypy, cppcheck

space
  common/tests/test_params.py
Due: mypy

auto type cast for `Params` (#35786)
  common/params.cc
  common/params.h
  common/params.py
  common/params_keys.h
  common/params_pyx.pyx
  common/tests/test_params.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/selfdrived/tests/test_alerts.py
  selfdrive/test/test_updated.py
  selfdrive/ui/layouts/settings/firehose.py
  selfdrive/ui/widgets/offroad_alerts.py
  system/athena/athenad.py
  system/hardware/power_monitoring.py
  system/loggerd/logger.cc
  system/manager/manager.py
  system/updated/tests/test_base.py
  system/updated/updated.py
Due: mypy, cppcheck
