Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

cleanup magic numbers
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/values.py
Due: pylint

long tuning
  selfdrive/car/honda/interface.py
Due: pylint

indentation
  selfdrive/car/honda/values.py
Due: pylint

remove noqa
  .pre-commit-config.yaml
  selfdrive/car/honda/values.py
Due: pylint

little more
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
Due: pylint

Honda cleanup (#22008)
  .pre-commit-config.yaml
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Due: pylint

fix undefined signal
  selfdrive/car/honda/hondacan.py
Due: pylint

fix tests
  selfdrive/test/test_models.py
Due: pylint

fix apparent Honda HR-V bugs
  selfdrive/car/honda/carstate.py
Due: pylint

Car Port: 2021 Accord 2.0 Touring & Hybrid Touring (#22007)
  README.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

Params: set ParamKeyType: ALL to 0xFFFFFFFF (#21978)
  selfdrive/common/params.h
Due: cppcheck

Add corolla fw from #21991
  selfdrive/car/toyota/values.py
Due: pylint

Revert "tici: give loggerd rt priority (#21503)"
  selfdrive/camerad/main.cc
  selfdrive/debug/check_timings.py
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/omx_encoder.h
  selfdrive/modeld/modeld.cc
Due: pylint, cppcheck

add accord ports to release notes
  RELEASES.md
Due: none

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

release note typo
  RELEASES.md
Due: none

release note typo old-commit-hash: a8a80d73656e9b0b86531afb63b8cd6ba66ed6e4
  RELEASES.md
Due: none

fix jerky cruise control (#456)
  selfdrive/controls/lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/libmpc_py.py
Due: pylint

Add Kodiaq 2019 fingerprint
  selfdrive/car/volkswagen/values.py
Due: pylint

update comma serial README
  tools/serial/README.md
Due: none

use Y,U,V
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

use a pre-calculated table
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Due: cppcheck

add variable use_snpe_model
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

...
  selfdrive/boardd/panda.cc
Due: none

Update README.md
  tools/serial/README.md
Due: none

add login info to serial readme for c3 (#22016)
  tools/serial/README.md
Due: none

Apply suggestions from code review
  selfdrive/car/volkswagen/values.py
Due: pylint

count valids
  selfdrive/debug/count_events.py
Due: pylint

VW MQB: Add FW for 2019 Audi A3
  README.md
  selfdrive/car/volkswagen/values.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
