Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Line 311
  selfdrive/thermald/thermald.py
Due: pylint

Line 81
  selfdrive/manager/manager.py
Due: pylint

Line 172 update mk1
  selfdrive/car/car_helpers.py
Due: pylint

Line 178
  selfdrive/boardd/boardd.cc
Due: cppcheck

Lines 29
  selfdrive/car/interfaces.py
Due: pylint

Remove duplicate FW version
  selfdrive/car/hyundai/values.py
Due: pylint

Remove duplicate FW versions from 0.8.3 FW dump (#20702)
  selfdrive/car/hyundai/values.py
Due: pylint

Adding Corolla FingerPrint
  selfdrive/car/toyota/values.py
Due: pylint

update conf: * add logo and favicon from connect.comma.ai * add version
  docs/_static/favicon.ico
  docs/_static/logo.png
  docs/conf.py
Due: pylint

modeld: update live calibration in main thread (#23235)
  selfdrive/modeld/modeld.cc
Due: cppcheck

add breathe and doxygen
  Pipfile
  Pipfile.lock
  docs/docker/Dockerfile
  tools/mac_setup.sh
  tools/ubuntu_setup.sh
Due: none

add sphinx-breathe c docs generation * add c docs to site
  docs/c_docs.rst
  docs/conf.py
  docs/index.md
Due: pylint

proper version extract
  docs/conf.py
Due: pylint

hasZss was always false
  selfdrive/car/toyota/interface.py
Due: pylint

TSS2 sng and acceleration improvements (#504)
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

plotjuggler: support segment names
  tools/lib/route.py
  tools/plotjuggler/juggle.py
Due: pylint

update docs
  tools/plotjuggler/README.md
Due: none

remove world_objects_visible
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

ui: remove variable world_objects_visible, use rcv_frame (#23264)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

updateStatus
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Mazda 3 2017 fw
  selfdrive/car/mazda/values.py
Due: pylint

Mazda CX-5 2020 FW
  selfdrive/car/mazda/values.py
Due: pylint

Mazda: CX-5 and 3 FW (#23267)
  selfdrive/car/mazda/values.py
Due: pylint

mui
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/mui.cc
Due: cppcheck

fix unit test
  selfdrive/car/car_helpers.py
Due: pylint

Fix FW versions spacing
  selfdrive/car/hyundai/values.py
Due: pylint

Add additional FW version
  selfdrive/car/hyundai/values.py
Due: pylint

Fix SA alerts and add new prompt sound (#508)
  selfdrive/assets/sounds/prompt_single.wav
  selfdrive/controls/lib/events.py
  selfdrive/ui/soundd/sound.h
Due: pylint, cppcheck

build for mac
  SConstruct
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/replay/framereader.cc
  third_party/acados/Darwin/lib/libacados.dylib
  third_party/acados/Darwin/lib/libblasfeo.dylib
  third_party/acados/Darwin/lib/libhpipm.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.3.1.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.dylib
  third_party/acados/Darwin/t_renderer
Due: cppcheck

build for mac (#23048)
  SConstruct
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/replay/framereader.cc
  third_party/acados/Darwin/lib/libacados.dylib
  third_party/acados/Darwin/lib/libblasfeo.dylib
  third_party/acados/Darwin/lib/libhpipm.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.3.1.dylib
  third_party/acados/Darwin/lib/libqpOASES_e.dylib
  third_party/acados/Darwin/t_renderer
Due: cppcheck

Fixup releases (#511)
  README.md
  SA_RELEASES.md
  selfdrive/common/version.h
Due: cppcheck

Enable lane speed (alerts only) (#507)
  common/op_params.py
  selfdrive/controls/lane_speed.py
  selfdrive/manager/process_config.py
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.cc
Due: pylint, cppcheck

Better fork release notes formatting (#513)
  SA_RELEASES.md
  common/markdown.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
