Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Update README.md old-commit-hash: 1a2e67583cbd19c4cd702fd36995643d564c4b58
  tools/plotjuggler/README.md
Due: none

Additional description of BSM signals
  selfdrive/car/volkswagen/carstate.py
Due: pylint

Simplify expression
  selfdrive/car/volkswagen/carstate.py
Due: pylint

Typo
  selfdrive/car/volkswagen/carstate.py
Due: pylint

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

do that automatically
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.hpp
Due: cppcheck

update refs after merge
  selfdrive/test/process_replay/ref_commit
Due: none

move that
  selfdrive/ui/qt/setup/setup.cc
Due: cppcheck

VW MQB: Add support for blind spot monitoring radar (#20242)
  selfdrive/car/volkswagen/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

catch failures in factory reset
  selfdrive/ui/qt/setup/reset.cc
Due: cppcheck

UI touchups (#20243)
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.hpp
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/setup.cc
Due: cppcheck

Add FCW and AEB signal support for VW MQB
  selfdrive/car/volkswagen/carstate.py
Due: pylint

class RGB2Gray
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/imgproc/utils.cc
  selfdrive/camerad/imgproc/utils.h
Due: cppcheck

rename Rgb2Grey to LapConv
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/imgproc/utils.cc
  selfdrive/camerad/imgproc/utils.h
Due: cppcheck

rebase master
  selfdrive/camerad/cameras/camera_qcom.cc
Due: cppcheck

remove roadCameraState from SubMaster
  selfdrive/ui/ui.cc
Due: cppcheck

2020 HRV FW
  selfdrive/car/honda/values.py
Due: pylint

VW MQB: Add support for stock FCW and AEB (#20244)
  selfdrive/car/volkswagen/carstate.py
Due: pylint

ui: remove unused roadCameraState from SubMaster (#20245)
  selfdrive/ui/ui.cc
Due: cppcheck

Use raw instead of processed steering angle
  selfdrive/car/volkswagen/carstate.py
Due: pylint

camera_qcom: move opencl stuff into class LapConv (#20180)
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/imgproc/utils.cc
  selfdrive/camerad/imgproc/utils.h
Due: cppcheck

remove sensor_types
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

move sm,pm out of loop
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

const
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

struct SensorState.remove hardcoded sensor handle
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

use callback to build message
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

LOG
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

fix typo
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

cleanup includes
  selfdrive/sensord/sensors_qcom.cc
Due: cppcheck

Use time.monotonic()
  selfdrive/manager/process.py
Due: pylint

combine init, remove spinner
  selfdrive/manager/manager.py
  selfdrive/test/test_manager.py
Due: pylint

move manager test
  Jenkinsfile
  release/build_release2.sh
  release/build_release3.sh
  release/files_common
  selfdrive/manager/test/__init__.py
  selfdrive/manager/test/test_manager.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
