Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Add batch logs upload and upload retry
  selfdrive/athena/athenad.py
Due: pylint

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Add tests and remove comments for local developing
  selfdrive/athena/athenad.py
  selfdrive/athena/test.py
Due: pylint

remove unused globals, use self.reset() (#2220)
  selfdrive/controls/lib/longcontrol.py
Due: pylint

Params: use a multiple-reader / single-writer flock to improve concurrency (#2207)
  common/params.py
  selfdrive/common/params.cc
Due: pylint, cppcheck

SConstruct better tici detection
  SConstruct
Due: none

camerad: close file descriptors (#2065)
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/common/utilpp.h
Due: cppcheck

qcom2 needs cc conversion (#2125)
  selfdrive/camerad/cameras/camera_qcom2.h
Due: cppcheck

Fix grade force in test_long plant
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Due: pylint

Add 2017 Lexus RX engine fw
  selfdrive/car/toyota/values.py
Due: pylint

loggerd:refactor rotate encoder
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

finish
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

start front_encoder_thread on need
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

change notify_all to notify_one
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

cancelWait
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

rebase master to resolve conflict
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

fix modeld launch script larch64 detection
  selfdrive/modeld/dmonitoringmodeld
  selfdrive/modeld/modeld
Due: none

Update README.md old-commit-hash: d2539e01d3be542b385de27ac454fe897e5e65cf
  common/transformations/README.md
Due: none

Update README.md
  common/transformations/README.md
Due: none

Combine Toyota Avalon rows old-commit-hash: afeb012aeece70b10ecb52acc1c08b82f8f1fc8d
  README.md
Due: none

Combine Toyota Avalon rows
  README.md
Due: none

ProPILOT
  README.md
Due: none

ProPILOT old-commit-hash: 6ffc9a92d7d579353e85cacea5b0d3ad0d3f51ce
  README.md
Due: none

Fixing the pylint import error.
  selfdrive/controls/tests/test_startup.py
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

add function log(MessageBuild&)
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

remoev fcuntion log from class Logger
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

use std::string
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

continue
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

use #pragma once
  selfdrive/loggerd/encoder.h
  selfdrive/loggerd/frame_logger.h
  selfdrive/loggerd/raw_logger.h
Due: cppcheck

use lambda
  selfdrive/loggerd/logger.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
