Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

send current UTC time
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/common/util.h
  selfdrive/locationd/ublox_msg.h
Due: cppcheck

Fix Terms and Training guide skip when the screen turns off (#20942)
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
Due: cppcheck

replay: fix jwt path on PC
  selfdrive/ui/replay/replay.cc
Due: cppcheck

Hotfix: Don't hide onboarding after display timeout (#20973)
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
Due: cppcheck

Store almanac on ublox poweroff (#20967)
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/boardd/pigeon.h
  selfdrive/common/util.h
  selfdrive/locationd/test/ubloxd.py
  selfdrive/locationd/ublox_msg.h
Due: pylint, cppcheck

disable mac for now
  .github/workflows/selfdrive_tests.yaml
Due: none

athenad: reconnect after not receiving ping
  selfdrive/athena/athenad.py
Due: pylint

make sidebar timeout longer than timeout in athena
  selfdrive/ui/qt/sidebar.cc
Due: cppcheck

whitespace
  selfdrive/athena/athenad.py
Due: pylint

athenad: reconnect after not receiving ping (#20974)
  selfdrive/athena/athenad.py
  selfdrive/ui/qt/sidebar.cc
Due: pylint, cppcheck

add modem state to NetworkInfo
  selfdrive/hardware/tici/hardware.py
Due: pylint

UI: add decline page for the Terms and Conditions (#20919)
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.h
Due: cppcheck

nmcli force gsm.auto-config to yes
  launch_chffrplus.sh
Due: none

Agnos 0.18
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Due: none

Agnos 0.18 (#20977)
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Due: none

missing space
  selfdrive/car/chrysler/values.py
Due: pylint

4G sounds slower than LTE
  selfdrive/ui/qt/sidebar.h
Due: cppcheck

log OS version in initData
  selfdrive/loggerd/logger.cc
Due: cppcheck

log OS version in initData (#20979)
  selfdrive/loggerd/logger.cc
Due: cppcheck

better scons cache handling
  SConstruct
  selfdrive/manager/build.py
Due: pylint

add --stream to juggle.py
  tools/plotjuggler/juggle.py
Due: pylint

better
  tools/plotjuggler/install.sh
  tools/plotjuggler/juggle.py
Due: pylint

rm old code
  tools/plotjuggler/juggle.py
Due: pylint

for loopify
  tools/plotjuggler/install.sh
  tools/plotjuggler/juggle.py
Due: pylint

clean up
  tools/plotjuggler/juggle.py
Due: pylint

easier to pick out
  tools/plotjuggler/juggle.py
Due: pylint

start by default
  tools/plotjuggler/juggle.py
Due: pylint

don't exit
  tools/plotjuggler/juggle.py
Due: pylint
