Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

fill and clean up
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/os04c10.cc
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

cleanup
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
Due: cppcheck

camerad: setup IFE gamma correction (#33837)
  system/camerad/cameras/cdm.cc
  system/camerad/cameras/cdm.h
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/os04c10.cc
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

faster onroad
  selfdrive/test/test_onroad.py
Due: mypy

soundd
  Jenkinsfile
  selfdrive/test/test_onroad.py
Due: mypy

enable linearization
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

fixup
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ox03c10.cc
Due: cppcheck

gate that
  system/camerad/cameras/spectra.cc
Due: cppcheck

Enable IFE linearization (#33852)
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

lb
  selfdrive/test/test_onroad.py
Due: mypy

remove first update
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
Due: cppcheck

no duplicates
  system/camerad/cameras/ife.h
Due: cppcheck

100 frames
  selfdrive/modeld/modeld.py
  selfdrive/test/process_replay/model_replay.py
Due: mypy

60
  Jenkinsfile
  selfdrive/test/process_replay/model_replay.py
Due: mypy

fix build
  system/camerad/cameras/spectra.cc
Due: cppcheck

lil more
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/ife.h
Due: cppcheck

lower
  selfdrive/test/process_replay/model_replay.py
Due: mypy

80
  Jenkinsfile
Due: none

lil more
  system/camerad/cameras/ife.h
Due: cppcheck

90
  Jenkinsfile
Due: none

cleanup
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

IFE register cleanup (#33854)
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
Due: cppcheck

simplify
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/os04c10.cc
  system/camerad/sensors/ox03c10.cc
Due: cppcheck

Allow zero actuator delay
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

more back
  .github/workflows/docs.yaml
  .github/workflows/tests.yaml
  selfdrive/test/process_replay/model_replay.py
Due: mypy

better values
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/test_onroad.py
Due: mypy

stop diff
  selfdrive/modeld/modeld.py
  selfdrive/test/test_onroad.py
Due: mypy

more
  .github/workflows/tests.yaml
  Jenkinsfile
Due: none

longitudinal_planner: allow for zero actuator delay (#33855)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

no PYTEST
  .github/workflows/tests.yaml
Due: none

deprecate a field
  cereal/log.capnp
Due: none

aeed0f97-7827-4188-8c6f-a7c07c0e0b9a/400
  selfdrive/modeld/models/supercombo.onnx
Due: none

camerad: set EOF based on readout time
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ox03c10.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

car test
  .github/workflows/tests.yaml
Due: none

set ar
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ar0231_registers.h
Due: cppcheck

5
  .github/workflows/tests.yaml
Due: none

debug
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

not all routes
  .github/workflows/tests.yaml
  selfdrive/car/tests/test_models.py
Due: mypy

even less
  .github/workflows/tests.yaml
Due: none
