Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Support spatial vision features
  openpilot/selfdrive/modeld/compile_modeld.py
Due: mypy

system: refine chestnut offroad alerts
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/chestnut/status.py
Due: mypy

cabana ui: fixes from the side by side parity test
  openpilot/tools/cabana/ui/app.cc
  openpilot/tools/cabana/ui/app.h
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/dialogs/settingsdialog.cc
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/tools/findsignal.cc
  openpilot/tools/cabana/ui/widgets/binaryview.cc
Due: none

cabana ui: deqt.md status after the line-for-line ports
  openpilot/tools/cabana/deqt.md
Due: none

cabana ui: fixes from the line-for-line review
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/ui/app.cc
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chart.h
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/chartswidget.h
  openpilot/tools/cabana/ui/chart/signalselector.cc
  openpilot/tools/cabana/ui/chart/sparkline.cc
  openpilot/tools/cabana/ui/dialogs/filedialog.cc
  openpilot/tools/cabana/ui/dialogs/messagebox.cc
  openpilot/tools/cabana/ui/dialogs/routesdialog.cc
  openpilot/tools/cabana/ui/dialogs/routesdialog.h
  openpilot/tools/cabana/ui/dialogs/settingsdialog.cc
  openpilot/tools/cabana/ui/dialogs/streamselector.cc
  openpilot/tools/cabana/ui/dialogs/streamselector.h
  openpilot/tools/cabana/ui/icons.h
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/tools/findsignal.cc
  openpilot/tools/cabana/ui/tools/findsignal.h
  openpilot/tools/cabana/ui/tools/findsimilarbits.cc
  openpilot/tools/cabana/ui/widgets/binaryview.cc
  openpilot/tools/cabana/ui/widgets/cameraview.cc
  openpilot/tools/cabana/ui/widgets/cameraview.h
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/detailwidget.h
  openpilot/tools/cabana/ui/widgets/historylog.cc
  openpilot/tools/cabana/ui/widgets/historylog.h
  openpilot/tools/cabana/ui/widgets/messagebytes.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.h
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
  openpilot/tools/cabana/ui/widgets/videowidget.cc
  openpilot/tools/cabana/ui/widgets/videowidget.h
Due: none

system: refine chestnut power alerts
  openpilot/common/params_keys.h
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/chestnut/status.py
Due: mypy, cppcheck

system: confirm chestnut power recovery from PCIe
  openpilot/system/hardware/chestnut/status.py
Due: mypy

ui: sync gpu loading state
  openpilot/selfdrive/ui/mici/layouts/home.py
  openpilot/system/ui/widgets/icon_widget.py
Due: mypy

system: detect missing chestnut power from INA voltage
  openpilot/system/hardware/chestnut/status.py
Due: mypy

ui: sync gpu loading to offroad (#38727)
  openpilot/selfdrive/ui/mici/layouts/home.py
  openpilot/system/ui/widgets/icon_widget.py
Due: mypy

system: track chestnut power recovery from INA
  openpilot/system/hardware/chestnut/status.py
Due: mypy

system: refine chestnut power alert copy
  openpilot/system/hardware/chestnut/status.py
Due: mypy

system: clarify chestnut USB ID helper
  openpilot/common/hardware/usb.py
  openpilot/selfdrive/modeld/helpers.py
  openpilot/system/hardware/chestnut/status.py
  openpilot/system/hardware/hardwared.py
Due: mypy

system: fix chestnut USB alert capitalization
  openpilot/selfdrive/selfdrived/alerts_offroad.json
Due: none

add chestnut offroad alerts (#38706)
  openpilot/common/hardware/usb.py
  openpilot/common/params_keys.h
  openpilot/selfdrive/modeld/helpers.py
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/chestnut/status.py
  openpilot/system/hardware/hardwared.py
Due: mypy, cppcheck

cabana ui: parity fixes from the end to end matrix, event driven frame pacing
  openpilot/tools/cabana/ui/app.cc
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/chartswidget.h
  openpilot/tools/cabana/ui/chart/signalselector.cc
  openpilot/tools/cabana/ui/dialogs/filedialog.cc
  openpilot/tools/cabana/ui/dialogs/messagebox.cc
  openpilot/tools/cabana/ui/dialogs/messagebox.h
  openpilot/tools/cabana/ui/dialogs/routesdialog.cc
  openpilot/tools/cabana/ui/dialogs/settingsdialog.cc
  openpilot/tools/cabana/ui/dialogs/streamselector.cc
  openpilot/tools/cabana/ui/dialogs/streamselector.h
  openpilot/tools/cabana/ui/imgui_util.h
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/mainwin.h
  openpilot/tools/cabana/ui/tools/findsignal.cc
  openpilot/tools/cabana/ui/widgets/binaryview.cc
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/historylog.cc
  openpilot/tools/cabana/ui/widgets/messagebytes.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
  openpilot/tools/cabana/ui/widgets/videowidget.cc
  openpilot/tools/cabana/ui/widgets/videowidget.h
Due: none

cabana ui: preserve F1 help formatting
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
Due: none

cabana ui: parity fixes from the end to end matrix, event driven frame pacing
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/dialogs/filedialog.cc
  openpilot/tools/cabana/ui/dialogs/messagebox.cc
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/widgets/videowidget.cc
Due: none

cabana ui: deqt.md status
  openpilot/tools/cabana/deqt.md
Due: none

cabana: fix macOS build of imgui frontend
  openpilot/tools/cabana/SConscript
  openpilot/tools/cabana/ui/chart/sparkline.cc
  openpilot/tools/cabana/ui/chart/sparkline.h
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana ui: parity round 3 fixes, thread pool and one malloc arena for flat memory
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chart.h
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/chartswidget.h
  openpilot/tools/cabana/ui/dialogs/filedialog.cc
  openpilot/tools/cabana/ui/dialogs/settingsdialog.cc
  openpilot/tools/cabana/ui/dialogs/streamselector.cc
  openpilot/tools/cabana/ui/icons.h
  openpilot/tools/cabana/ui/main.cc
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/threadpool.h
  openpilot/tools/cabana/ui/widgets/binaryview.cc
  openpilot/tools/cabana/ui/widgets/historylog.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/videowidget.cc
  openpilot/tools/cabana/ui/widgets/videowidget.h
Due: none

cabana ui: toolbar overflow budget, menu button carets, help overlay colors, signal editor validation
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
  openpilot/tools/cabana/ui/widgets/videowidget.cc
  openpilot/tools/cabana/ui/widgets/videowidget.h
Due: none

cabana: let vsync pace the frame loop
  openpilot/tools/cabana/ui/app.cc
Due: none

cabana: fix macOS build of thread pool / malloc arena changes
  openpilot/tools/cabana/ui/main.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana ui: chart axis label precision, signal list click on empty space clears the selection
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
Due: none

cabana ui: codespell
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/widgets/binaryview.cc
  openpilot/tools/cabana/ui/widgets/messagebytes.cc
Due: none

cabana ui: taller signal rows, system theme detection, full dark palette
  openpilot/tools/cabana/core/settings.h
  openpilot/tools/cabana/ui/app.h
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/tiplabel.cc
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/style.cc
  openpilot/tools/cabana/ui/widgets/binaryview.cc
  openpilot/tools/cabana/ui/widgets/historylog.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
  openpilot/tools/cabana/ui/widgets/videowidget.cc
Due: none

cabana ui: drop the dead y axis alignment chain and chart cache stub
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chart.h
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/chartswidget.h
Due: none

cabana ui: stop the main window from scrolling
  openpilot/tools/cabana/ui/mainwin.cc
Due: none

cabana ui: inset the status bar so its ends are not clipped
  openpilot/tools/cabana/ui/mainwin.cc
Due: none

common: fix OpenpilotPrefix cleanup on macOS
  openpilot/common/prefix.h
Due: cppcheck

common: fix OpenpilotPrefix cleanup on macOS (#38728)
  openpilot/common/prefix.h
Due: cppcheck

cabana ui: drop the leftover imgui object census log
  openpilot/tools/cabana/ui/mainwin.cc
Due: none

cabana ui: keep the selected row highlighted while hovered
  openpilot/tools/cabana/ui/widgets/historylog.cc
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
Due: none

cabana ui: draw the binary view hex column in bold and in the text color
  openpilot/tools/cabana/ui/widgets/binaryview.cc
Due: none

cabana ui: highlight the whole row in the speed menu
  openpilot/tools/cabana/ui/widgets/videowidget.cc
Due: none

cabana ui: fix help menu overlay, Ctrl+F11, time label clipping, toolbar overflow and tool table parity
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/mainwin.h
  openpilot/tools/cabana/ui/tools/findsignal.cc
  openpilot/tools/cabana/ui/tools/findsimilarbits.cc
  openpilot/tools/cabana/ui/tools/routeinfo.cc
  openpilot/tools/cabana/ui/widgets/videowidget.cc
  openpilot/tools/cabana/ui/widgets/videowidget.h
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
