Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

fix cabana
  SConstruct
Due: none

cache
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Due: none

revert for now
  tools/install_ubuntu_dependencies.sh
Due: none

Add test route
  selfdrive/car/tests/routes.py
Due: mypy

fix docs
  docs/c_docs.rst
Due: none

new cache
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Due: none

Toyota: remove smartDSU support
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Due: mypy

Toyota: remove smartDSU support (#32777)
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Due: mypy

Ubuntu 24.04 (#32624)
  .devcontainer/Dockerfile
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  .pre-commit-config.yaml
  Dockerfile.openpilot_base
  SConstruct
  poetry.lock
  pyproject.toml
  selfdrive/navd/SConscript
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map_helpers.cc
  third_party/maplibre-native-qt/x86_64/lib/libQMapLibre.so.3.0.0
  tools/README.md
  tools/profiling/snapdragon/README.md
  tools/webcam/README.md
Due: cppcheck

VW: Rename harnesses
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/volkswagen/values.py
Due: mypy

fix tk-dev
  tools/install_ubuntu_dependencies.sh
Due: none

fix missing pip
  tools/install_python_dependencies.sh
Due: none

no pyenv
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Due: none

Update tools/install_python_dependencies.sh
  tools/install_python_dependencies.sh
Due: none

Ubuntu 24.04 fix setup (#32783)
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Due: none

better
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Due: none

check poetry
  tools/install_python_dependencies.sh
Due: none

docker
  Dockerfile.openpilot_base
Due: none

syntax
  Dockerfile.openpilot_base
Due: none

Manually add symlinks to prevent docker for copying duplicate files
  Dockerfile.openpilot
Due: none

input buffer logic
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/commonmodel.cc
Due: mypy, cppcheck

No print
  selfdrive/modeld/modeld.py
Due: mypy

Copy everything
  Dockerfile.openpilot
Due: none

Do manual image stacking
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
Due: mypy, cppcheck

Fix compile
  selfdrive/modeld/models/commonmodel.pxd
  selfdrive/modeld/models/commonmodel_pyx.pyx
Due: none

dont add twice
  selfdrive/modeld/modeld.py
Due: mypy

more like before
  selfdrive/modeld/modeld.py
Due: mypy

Must add like this
  selfdrive/modeld/modeld.py
Due: mypy

I think this works
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/locationd/calibrationd.py
  selfdrive/modeld/constants.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/parse_model_outputs.py
Due: mypy

Fix indexing
  selfdrive/modeld/modeld.py
Due: mypy

manual env
  Dockerfile.openpilot_base
  tools/install_python_dependencies.sh
Due: none

pre-commit
  Dockerfile.openpilot_base
  tools/install_python_dependencies.sh
Due: none

revert
  tools/install_python_dependencies.sh
Due: none

format
  tools/install_python_dependencies.sh
Due: none

Ford: set vEgoCluster using cluster scale and offset
  selfdrive/car/ford/carstate.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
