Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

body FPv2
  selfdrive/car/body/__init__.py
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/body/radar_interface.py
  selfdrive/car/body/ttt/interface.py
  selfdrive/car/body/values.py
  selfdrive/car/fw_versions.py
Due: pylint

..
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
Due: pylint

fixes
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
Due: pylint

more cleanup
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
Due: pylint

typo
  selfdrive/car/body/carstate.py
Due: pylint

new dbc
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/body/ttt/interface.py
Due: pylint

Temp, REVERT!
  selfdrive/boardd/boardd.cc
Due: cppcheck

cln balancing code
  selfdrive/car/body/carcontroller.py
Due: pylint

..
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
Due: pylint

should work?
  selfdrive/car/body/carcontroller.py
Due: pylint

static analysis
  selfdrive/car/body/carcontroller.py
Due: pylint

..
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/interface.py
Due: pylint

fix
  selfdrive/car/body/carcontroller.py
Due: pylint

Improve startup sequence, get closer to stock openpilot
  selfdrive/car/body/carcontroller.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
Due: pylint, cppcheck

Keep steady and remove handcoded offset
  selfdrive/car/body/carcontroller.py
  selfdrive/locationd/locationd.cc
Due: pylint, cppcheck

THE DOCS!
  docs/CARS.md
  selfdrive/car/body/interface.py
  selfdrive/car/body/values.py
Due: pylint

lowercase
  selfdrive/car/body/values.py
Due: pylint

FAKE bus 0 vin and fingerprint
  selfdrive/boardd/boardd.cc
  selfdrive/car/car_helpers.py
Due: pylint, cppcheck

little cleanup
  docs/CARS.md
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
  selfdrive/ui/.gitignore
Due: pylint

Forgot to define angle
  selfdrive/car/body/carcontroller.py
Due: pylint

revert that
  selfdrive/boardd/boardd.cc
Due: cppcheck

excluded_interfaces
  selfdrive/test/process_replay/test_processes.py
Due: pylint

comments on steer/speed mixin
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/interface.py
Due: pylint

FAKE locationd
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
Due: pylint, cppcheck

switch to bus 0
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/carstate.py
Due: pylint

no test route
  selfdrive/car/tests/routes.py
Due: pylint

less UDS
  selfdrive/car/fw_versions.py
Due: pylint

change safety model
  selfdrive/car/body/interface.py
Due: pylint

read without timestampextra
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  tools/latency_logging/print_timestamps.py
  tools/latency_logging/test.py
Due: pylint, cppcheck

space
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

if
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

mono time instead of frame id
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

lock
  Pipfile.lock
Due: none

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

LongitudinaPlanner: add comment about lateral accel calculation (#24096)
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint
