Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

CI: identify new screenshots in UI preview (#668)
  .github/workflows/ui_preview.yaml
Due: none

CI: update default screenshot in UI preview (#669)
  .github/workflows/ui_preview.yaml
Due: none

Add previews for new ui elements as well
  .github/workflows/ui_preview.yaml
Due: none

sunnylink: pairing and sponsorship (#523)
  common/api/__init__.py
  common/params_keys.h
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/sunnypilot/SConscript
  selfdrive/ui/sunnypilot/qt/api.cc
  selfdrive/ui/sunnypilot/qt/api.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/role_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/sponsor_role_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/models/user_model.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/base_device_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/base_device_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/role_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/role_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/user_service.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/services/user_service.h
  selfdrive/ui/sunnypilot/qt/network/sunnylink/sunnylink_client.cc
  selfdrive/ui/sunnypilot/qt/network/sunnylink/sunnylink_client.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink/sponsor_widget.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink/sponsor_widget.h
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/sunnylink_panel.h
  selfdrive/ui/sunnypilot/qt/request_repeater.cc
  selfdrive/ui/sunnypilot/qt/request_repeater.h
  selfdrive/ui/sunnypilot/ui.cc
  selfdrive/ui/sunnypilot/ui.h
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, cppcheck

pandad: dedicated aligned buffer for deserialization (#671)
  selfdrive/pandad/panda_safety.cc
Due: cppcheck

update zh translations
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Multilang: Update ZH translations (#34889)
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

ci: remove sunnylink pairing QR code from UI preview (#673)
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

Redirect license to LICENSE.md (#672)
  selfdrive/ui/sunnypilot/qt/network/networking.h
  sunnypilot/mads/helpers.py
  sunnypilot/mads/mads.py
  sunnypilot/mads/state.py
  sunnypilot/mads/tests/test_mads_state_machine.py
  sunnypilot/modeld/runners/run_helpers.py
  sunnypilot/models/fetcher.py
  sunnypilot/models/helpers.py
  sunnypilot/models/manager.py
  sunnypilot/models/tests/model_manager_audit.py
Due: mypy, cppcheck

avoid repeated prompts in auto_strategy when rlogs are missing
  tools/lib/logreader.py
Due: mypy

remove the unnecessary str() wrapping around the hexdigest()
  tools/lib/url_file.py
Due: mypy

ci: update existing comment during Squash and Merge (#674)
  release/ci/squash_and_merge_prs.py
Due: mypy

url_file.py: remove the unnecessary str() wrapping around the hexdigest() (#34891)
  tools/lib/url_file.py
Due: mypy

Update Python packages
  uv.lock
Due: none

0.9.9 soon
  RELEASES.md
Due: none

fix ruff
  selfdrive/test/process_replay/migration.py
  tools/joystick/joystick_control.py
Due: mypy

[bot] Update Python packages (#34893)
  selfdrive/test/process_replay/migration.py
  tools/joystick/joystick_control.py
  uv.lock
Due: mypy

bump manager starting time after 519ea9d
  selfdrive/test/test_onroad.py
Due: mypy

confirm forgot
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Due: mypy

python wifi manager
  system/ui/lib/keyboard.py
  system/ui/lib/wifi_manager.py
  system/ui/network.py
Due: mypy

need auth callback
  system/ui/lib/wifi_manager.py
  system/ui/network.py
Due: mypy

improve keyboard & list
  system/ui/lib/wifi_manager.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Due: mypy

move to widgets
  system/ui/lib/keyboard.py
  system/ui/widgets/network.py
Due: mypy

fix ui
  system/ui/lib/keyboard.py
  system/ui/lib/wifi_manager.py
  system/ui/network.py
Due: mypy

remove duplicate
  system/ui/lib/wifi_manager.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/network.py
Due: mypy

add drag detection
  system/ui/lib/scroll_panel.py
  system/ui/lib/wifi_manager.py
  system/ui/widgets/network.py
Due: mypy

optimize calculate_exposure_value with improved loop performance
  system/camerad/cameras/camera_common.cc
Due: cppcheck

stil use image width for now
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Due: cppcheck

refactor spinner&text
  system/ui/lib/application.py
  system/ui/spinner.py
  system/ui/text.py
Due: mypy

Actualizar ui_preview.yaml
  .github/workflows/ui_preview.yaml
Due: none

early return
  tools/replay/route.cc
Due: none

add --auto to replay
  tools/replay/main.cc
Due: none

cleanup
  tools/lib/logreader.py
  tools/replay/main.cc
  tools/replay/route.cc
Due: mypy

add flag to auto load a route from the most suitable source
  tools/cabana/cabana.cc
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/lib/logreader.py
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
  tools/replay/seg_mgr.h
Due: mypy

split to functions
  tools/cabana/cabana.cc
  tools/replay/route.cc
  tools/replay/route.h
Due: none

improve help
  tools/cabana/README.md
  tools/cabana/cabana.cc
  tools/replay/README.md
  tools/replay/main.cc
Due: none

parse datetime
  tools/replay/route.cc
  tools/replay/route.h
Due: none

README
  tools/cabana/README.md
  tools/replay/README.md
  tools/replay/main.cc
Due: none

cleanup
  tools/replay/route.cc
  tools/replay/route.h
Due: none
