Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

better names and comments
  selfdrive/car/__init__.py
Due: pylint

Make frequency fixed at 20hz
  selfdrive/controls/radard.py
Due: pylint

this default doesn't make sense
  selfdrive/car/__init__.py
Due: pylint

or this
  selfdrive/car/__init__.py
Due: pylint

two spaces around class
  selfdrive/car/docs_definitions.py
Due: pylint

inch
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

easier to read
  selfdrive/car/docs_definitions.py
Due: pylint

rawgpsd: accept alt assistance file
  system/sensord/rawgps/rawgpsd.py
Due: pylint

Car docs: clean up docs_definitions (#29201)
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

Revert spaces in process replay
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: pylint

explicitly boolean since latActive is
  selfdrive/car/__init__.py
  selfdrive/car/toyota/carcontroller.py
Due: pylint

rawgpsd: accept alt assistance file (#29202)
  system/sensord/rawgps/rawgpsd.py
Due: pylint

Always use extra client in modeld
  selfdrive/modeld/modeld.cc
Due: cppcheck

aarch64: ubuntu build support (#29171)
  SConstruct
  release/files_common
  release/files_pc
  release/files_tici
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/modeld/SConscript
  selfdrive/navd/SConscript
  selfdrive/ui/SConscript
  third_party/acados/aarch64
  third_party/libyuv/aarch64
  third_party/libyuv/lib/libyuv.a
  third_party/libyuv/x86_64/include
  third_party/libyuv/x86_64/lib/libyuv.a
  third_party/mapbox-gl-native-qt/aarch64/libqmapboxgl.so
Due: none

Enable replay/cabana on linux-aarch64
  SConstruct
Due: none

pass by reference
  selfdrive/modeld/models/driving.cc
Due: cppcheck

Clean up model_publish args to simplify cython bindings
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

Move FCW and model confidence queues into PublishState
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

Update pc files
  release/files_pc
Due: none

Remove libyuv include symlink
  third_party/libyuv/linux-x86_64/include
Due: none

Add missing newline
  common/SConscript
Due: none

manager: remove old unkillable process handling
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
Due: pylint
