Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

xyz coeff
  cereal/log.capnp
  selfdrive/modeld/fill_model_msg.py
Due: mypy

add livepose
  cereal/log.capnp
Due: none

Fix field name
  selfdrive/modeld/fill_model_msg.py
Due: mypy

Update ref commit
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Update README.md
  docs/new/README.md
Due: none

mistake
  selfdrive/car/hyundai/values.py
Due: mypy

oops
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: mypy

Min qlog size 0.6
  selfdrive/test/test_onroad.py
Due: mypy

add weekly_ci
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run.yaml
Due: none

ci_weekly workflow
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run.yaml
Due: none

typo
  .github/workflows/ci_weekly_run.yaml
Due: none

name change
  .github/workflows/ci_weekly_run.yaml
Due: none

add checkout step
  .github/workflows/ci_weekly_report.yaml
Due: none

@master
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run.yaml
Due: none

add org
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run.yaml
Due: none

use action
  .github/workflows/ci_weekly_report.yaml
Due: none

actions
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run/action.yaml
Due: none

use workflows
  .github/workflows/ci_weekly_report.yaml
  .github/workflows/ci_weekly_run/action.yaml
Due: none

test
  .github/workflows/ci_weekly_report.yaml
Due: none

test reusable workflow
  .github/workflows/ci_weekly_report.yaml
Due: none

add workflow_oncall to ci tests
  .github/workflows/badges.yaml
  .github/workflows/docs.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

remove playsound.cc
  selfdrive/ui/tests/.gitignore
  selfdrive/ui/tests/playsound.cc
Due: cppcheck

Smokes! lets go!
  cereal/log.capnp
  selfdrive/modeld/fill_model_msg.py
Due: mypy

Ignore it in model replay
  selfdrive/test/process_replay/model_replay.py
Due: mypy

remove the redundant nested print
  system/logmessaged.py
Due: mypy

Increase lag
  selfdrive/car/hyundai/interface.py
Due: mypy

uv lock
  uv.lock
Due: none

update uv.lock (#32873)
  uv.lock
Due: none

use Toyota Corolla TSS2 as a base
  .gitmodules
  launch_env.sh
  selfdrive/car/gwm/__init__.py
  selfdrive/car/gwm/carcontroller.py
  selfdrive/car/gwm/carstate.py
  selfdrive/car/gwm/fingerprints.py
  selfdrive/car/gwm/interface.py
  selfdrive/car/gwm/radar_interface.py
  selfdrive/car/gwm/tests/__init__.py
  selfdrive/car/gwm/tests/print_platform_codes.py
  selfdrive/car/gwm/tests/test_toyota.py
  selfdrive/car/gwm/toyotacan.py
  selfdrive/car/gwm/values.py
  selfdrive/car/toyota/carstate.py
Due: mypy

try capture brakePress as a ReverseGear
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
Due: mypy

Revert "REVERTME: make usable on my car"
  selfdrive/car/gm/interface.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
