Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test
  selfdrive/car/toyota/values.py
Due: pylint

Revert "test"
  selfdrive/car/toyota/values.py
Due: pylint

Car docs diff bot: auto-generate column header (#25622)
  selfdrive/debug/print_docs_diff.py
Due: pylint

try close lead again
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

Doesnt need to be special
  selfdrive/car/hyundai/interface.py
Due: pylint

Sensible fake lead
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

Add comment
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

rename to hcp
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_versions.py
Due: pylint

Chrysler: add missing hybrid ecus (#25606)
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_versions.py
Due: pylint

temp
  selfdrive/car/gm/interface.py
Due: pylint

update translations
  selfdrive/ui/translations/main_pl.ts
Due: none

remove from languages
  selfdrive/ui/translations/languages.json
Due: none

Added Polish translation file (#25310)
  selfdrive/ui/translations/main_pl.ts
Due: none

VW: Add fingerprint for 2018 Golf MK7 DSG Autobahn (US) (#25612)
  selfdrive/car/volkswagen/values.py
Due: pylint

Update selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/languages.json
Due: none

remove old replay from selfdrive/ui/.gitignore
  selfdrive/ui/.gitignore
Due: none

fix OPTWG on PC
  selfdrive/modeld/SConscript
Due: none

maybe fix non determinism
  selfdrive/modeld/thneed/thneed_common.cc
Due: cppcheck

revert model replay ref commit
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

comments, init zeroed out buffers
  selfdrive/modeld/SConscript
  selfdrive/modeld/thneed/serialize.cc
  selfdrive/modeld/thneed/thneed_pc.cc
Due: cppcheck

Add Dutch translations (Nederlands) (#25327)
  selfdrive/ui/translations/main_nl.ts
Due: none

improve pt-BR, DEVbrazilians use english as default
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

Hyundai: enforce ACC main state with controls allowed
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

back to this
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

little more
  selfdrive/boardd/boardd.cc
  system/hardware/tici/hardware.py
Due: pylint, cppcheck

Toyota: same standstill check as panda (#25570)
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/carstate.py
Due: pylint

upd ref commit
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
