Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

gps add iodc check
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
Due: cppcheck

simplify
  selfdrive/locationd/ublox_msg.cc
Due: cppcheck

upsi
  selfdrive/locationd/ublox_msg.cc
Due: cppcheck

add test
  selfdrive/locationd/test/test_ublox_processing.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

finish up checks refactor
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

works
  selfdrive/locationd/liblocationd.cc
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

refactor the checks
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

Multilang: add missing Thai translations (#27148)
  selfdrive/ui/translations/main_th.ts
Due: none

Ubloxd: gps add iodc check (#27162)
  selfdrive/locationd/test/test_ublox_processing.py
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

.
  tools/gpstest/pidgeottod.py
Due: pylint

ui: tap experimental mode icon to toggle
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.h
Due: cppcheck

fix unit test issue
  selfdrive/locationd/test/_test_locationd_lib.py
Due: pylint

update last messages after seekto
  tools/cabana/historylog.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
Due: none

gen docs
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

Support for Kia Niro PHEV 2020 (#27158)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

replace with QPushButton
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.h
Due: cppcheck

fix pigeond device reset
  selfdrive/sensord/pigeond.py
Due: pylint

move debug files to xx
  tools/gpstest/pidgeottod.py
  tools/gpstest/print_ublox_stats.py
Due: pylint

add num_pandas to get_present_ecus
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
Due: pylint

always bugged me
  selfdrive/car/ecu_addrs.py
Due: pylint

move this to function signature
  selfdrive/car/fw_versions.py
Due: pylint

cleanup
  tools/cabana/streams/abstractstream.cc
Due: none

get_present_ecus: check available pandas (#27181)
  selfdrive/car/car_helpers.py
  selfdrive/car/ecu_addrs.py
  selfdrive/car/fw_versions.py
Due: pylint

fixes
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

boardd: enable fingerprinting with both multiplexed modes (#27159)
  common/params.cc
  selfdrive/boardd/boardd.cc
  selfdrive/car/car_helpers.py
Due: pylint, cppcheck

boardd: update loopback test with new param
  selfdrive/boardd/tests/test_boardd_loopback.py
Due: pylint

cleanup
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

add laikad startup and ephemeris test
  tools/gpstest/test_laikad.py
Due: pylint
