Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -j0
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Add route
  selfdrive/car/tests/routes.py
Due: mypy, pylint

update interface.py
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

updateAlpha in c FirstOrderFilter
  common/util.h
Due: cppcheck

update elocity filter alpha based on speed
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

dont reset timeout on hideEvent
  selfdrive/ui/qt/offroad/driverview.cc
Due: cppcheck

fix re-compiles MPCs every time
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

sync with upstream
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Due: mypy, pylint

Hyundai longitudinal (CAN): display AEB indicator on dashboard on non-FCA cars
  selfdrive/car/hyundai/hyundaican.py
Due: mypy, pylint

remove invalid files
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

Update CARS.md
  docs/CARS.md
Due: none

Hyundai: Car Port for Ioniq 6 2023
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaicanfd.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

Update docs
  RELEASES.md
  docs/CARS.md
Due: none

.
  system/hardware/tici/agnos.json
Due: none

remove these cars temp
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

undashcam
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

Hyundai longitudinal (CAN): detect and conditionally send `FCA12`
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

both
  tools/README.md
Due: none

Update README.md
  tools/README.md
Due: none

match opendbc definition
  selfdrive/car/hyundai/carstate.py
Due: mypy, pylint

cleanup layout
  selfdrive/ui/qt/widgets/prime.cc
Due: cppcheck

cleanup DestinationWidget
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

Update values.py
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

agnos manifest: add alt system image (#29468)
  system/hardware/tici/agnos.json
Due: none

kor translation update
  selfdrive/ui/translations/main_ko.ts
Due: none

slight cleanup
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

stock openpilot route
  selfdrive/car/tests/routes.py
Due: mypy, pylint

Add credit to release note
  RELEASES.md
Due: none

fix incorrect base rpm issue
  selfdrive/car/subaru/values.py
Due: mypy, pylint

agnos: alt system image
  system/hardware/tici/agnos.json
Due: none

Proc replay: field tolerance unused (#29479)
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

kor translation update (#29493)
  selfdrive/ui/translations/main_ko.ts
Due: none

update clone instructions (#29490)
  tools/README.md
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
