Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
        args:
        - --warn-unreachable
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

slightly better abstraction
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/pqcan.py
  selfdrive/car/volkswagen/volkswagencan.py
Due: pylint

VW MQB: Add FW for 2016 Volkswagen Golf
  selfdrive/car/volkswagen/values.py
Due: pylint

Kia Niro PHEV 2018: add missing FW versions (#25187)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

UI: add description for branch switcher
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

remove parenthesis
  selfdrive/car/volkswagen/carstate.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

catch2 needs to iterate through the whole function each time to test this (spams warnings)
  selfdrive/ui/tests/test_translations.cc
Due: cppcheck

Update readme
  selfdrive/ui/translations/README.md
Due: none

Add update the ui header
  selfdrive/ui/translations/README.md
Due: none

build in scons
  selfdrive/ui/SConscript
Due: none

release by default
  selfdrive/ui/SConscript
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/update_translations.py
Due: pylint

Update translations
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

scons in another pr
  selfdrive/ui/SConscript
Due: none

Multilanguage: readme improvements (#25214)
  selfdrive/ui/tests/test_translations.cc
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/README.md
  selfdrive/ui/update_translations.py
Due: pylint, cppcheck

VW MQB: Add FW for 2016 Volkswagen Golf (#25213)
  selfdrive/car/volkswagen/values.py
Due: pylint

switch in code to use gv70 file
  selfdrive/car/hyundai/values.py
Due: pylint

jenkins: patch sshd config in continue.sh
  selfdrive/test/setup_device_ci.sh
Due: none

Car docs: add video for 2019 Highlander Hybrid
  selfdrive/car/toyota/values.py
Due: pylint

Create docs.md
  .github/ISSUE_TEMPLATE/docs.md
Due: none

add shifter and brake commands
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/torque_data/override.yaml
Due: pylint

shifter bug fix. updated dbc file to fix lowercase bug
  selfdrive/car/hyundai/carstate.py
Due: pylint

update translations
  selfdrive/ui/translations/main_ja.qm
  selfdrive/ui/translations/main_ja.ts
Due: none

remove from selector
  selfdrive/ui/translations/languages.json
Due: none

Multilang: Improve Japanese translations (#25108)
  selfdrive/ui/translations/main_ja.qm
  selfdrive/ui/translations/main_ja.ts
Due: none

Subaru: use CANPacker for counter
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/subarucan.py
Due: pylint

All in scons
  .gitignore
  SConstruct
  selfdrive/ui/SConscript
Due: none

delete all this
  SConstruct
Due: none
