Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

more frame
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/snapshot/snapshot.py
  selfdrive/camerad/test/check_skips.py
  selfdrive/test/process_replay/inject_model.py
  tools/replay/camera.py
  tools/replay/ui.py
  tools/replay/unlog_segment.py
  tools/replay/unlogger.py
  tools/sim/bridge.py
  tools/streamer/streamerd.py
Due: pylint, cppcheck

actually a percent
  selfdrive/controls/controlsd.py
  selfdrive/manager.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/thermald/thermald.py
Due: pylint

speed up log writing
  selfdrive/test/process_replay/compare_logs.py
Due: pylint

juggle a whole route
  tools/plotjuggler/juggle.py
Due: pylint

use local juggler
  tools/plotjuggler/juggle.py
Due: pylint

not working
  selfdrive/boardd/SConscript
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda_flashing.cc
  selfdrive/boardd/tests/fix_panda.cc
  selfdrive/boardd/tests/panda_flashing_test/flash_panda
  selfdrive/boardd/tests/panda_flashing_test/flash_panda.cc
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

update tests
  selfdrive/boardd/panda_flashing.cc
  selfdrive/boardd/tests/panda_flashing_test/flash_panda
  selfdrive/boardd/tests/panda_flashing_test/flash_panda.cc
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

memcpy
  selfdrive/boardd/panda_flashing.cc
  selfdrive/boardd/tests/panda_flashing_test/flash_panda
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

Delete fix_panda
  selfdrive/boardd/tests/fix_panda
Due: none

more refactoring
  selfdrive/boardd/panda.cc
  selfdrive/pandad.py
Due: none

Delete flash_panda
  selfdrive/boardd/tests/panda_flashing_test/flash_panda
Due: none

merge
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/panda_flashing.cc
Due: none

fix tests
  selfdrive/boardd/SConscript
Due: none

loggerd: clean exit on SIGPRW
  selfdrive/common/util.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

fix compile
  selfdrive/locationd/ubloxd_test.cc
Due: cppcheck

no SIGPWR on macos
  selfdrive/common/util.h
Due: cppcheck

Fix ubloxd test compilation (#20101)
  selfdrive/locationd/ubloxd_test.cc
Due: cppcheck

add catch2 header
  SConstruct
  phonelibs/catch2/include/catch2/catch.hpp
  phonelibs/catch2/include/catch2/catch_reporter_automake.hpp
  phonelibs/catch2/include/catch2/catch_reporter_sonarqube.hpp
  phonelibs/catch2/include/catch2/catch_reporter_tap.hpp
  phonelibs/catch2/include/catch2/catch_reporter_teamcity.hpp
Due: none

add gitignore
  selfdrive/boardd/tests/panda_flashing_test/.gitignore
  selfdrive/boardd/tests/panda_flashing_test/__init__.py
Due: none

cleanup sconscript
  selfdrive/boardd/SConscript
Due: none

fix basedir
  selfdrive/boardd/panda_flashing.cc
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

test cleanup
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

use same panda throughout test
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

delete fw to be sure
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

use helper function
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

handle dfu panda
  selfdrive/boardd/tests/panda_flashing_test/test_panda_flashing.py
Due: none

bool real -> bool is_road_cam
  selfdrive/camerad/cameras/camera_qcom.cc
Due: cppcheck

update commments
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_webcam.cc
Due: cppcheck

rename CameraState variables to follow new convention
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

rename rhd_front to is_rhd
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

rename sm_front -> sm
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
Due: cppcheck

continue
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

remove unused varialble name from struct CameraInfo
  selfdrive/camerad/cameras/camera_common.h
Due: cppcheck

continue
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_webcam.cc
Due: cppcheck
