Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update Tests
  selfdrive/car/tests/test_cruise_speed.py
Due: mypy

ci: generate Trips panel for ui preview (#549)
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

MADS: Filter disengage events without lateral control impact (#556)
  sunnypilot/mads/mads.py
Due: mypy

Removed numpy_fast and updated dependent files to eliminate dependency
  common/numpy_fast.py
  common/pid.py
  common/tests/test_numpy_fast.py
  scripts/post-commit
  selfdrive/car/cruise.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/helpers.py
  system/hardware/fan_controller.py
  tools/joystick/joystick_control.py
  tools/joystick/joystickd.py
  tools/sim/bridge/common.py
Due: mypy

removed numpy_fast and updated the dependent files
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
Due: mypy

test_ci
  Dockerfile.openpilot_base
Due: none

fix syntax error
  Dockerfile.openpilot_base
Due: none

Update Dockerfile.openpilot_base
  Dockerfile.openpilot_base
Due: none

remove dependencies that may not be needed
  Dockerfile.openpilot_base
Due: none

try this
  README.md
Due: none

adjustments
  Dockerfile.openpilot_base
Due: none

remove more dependencies
  Dockerfile.openpilot_base
Due: none

add back dependency
  Dockerfile.openpilot_base
Due: none

pin uv
  Dockerfile.openpilot_base
Due: none

remove change from the readme
  README.md
Due: none

Resolving #34331 with replacing numpy_fast functions with numpy functions
  common/pid.py
Due: mypy

Better model builder (#559)
  .github/workflows/sunnypilot-build-model.yaml
Due: none

models: retain pre-20hz drive model support (#531)
  cereal/custom.capnp
  selfdrive/debug/uiview.py
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.cc
  selfdrive/ui/sunnypilot/qt/offroad/settings/software_panel.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  sunnypilot/modeld/constants.py
  sunnypilot/modeld/fill_model_msg.py
  sunnypilot/modeld/modeld.py
  sunnypilot/modeld/parse_model_outputs.py
  sunnypilot/modeld/runners/run_helpers.py
  sunnypilot/models/fetcher.py
  sunnypilot/models/helpers.py
  sunnypilot/models/manager.py
  sunnypilot/selfdrive/controls/lib/drive_helpers.py
  system/manager/process_config.py
Due: mypy, cppcheck

caps-lock-works
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Due: cppcheck

leaner and simpler
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

this is simpler
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

better...
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

simpler
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

rm comments
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Due: cppcheck

numpy_fast issue
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/monitoring/helpers.py
  tools/joystick/joystick_control.py
  tools/joystick/joystickd.py
Due: mypy

clearer naming
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Due: cppcheck

make more explicit
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

patch of pycap
  common/pid.py
  common/tests/test_numpy_fast.py
  selfdrive/car/cruise.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/helpers.py
  system/hardware/fan_controller.py
  tools/joystick/joystick_control.py
  tools/joystick/joystickd.py
  tools/sim/bridge/common.py
Due: mypy

change to SHIFT_KEY
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

change name
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/keyboard.h
Due: cppcheck

CI: update install script to allow restore of github runner after agnos update (#562)
  release/ci/install_github_runner.sh
Due: none

release soon
  RELEASES.md
Due: none

modeld: properly release OpenCL context in `__dealloc__` method (#34353)
  common/clutil.cc
  common/clutil.h
  selfdrive/modeld/models/commonmodel.pxd
  selfdrive/modeld/models/commonmodel_pyx.pyx
Due: cppcheck

encoderd: refactor VideoEncoder::publisher_publish to standardize member variable access (#34342)
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/encoder.h
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/v4l_encoder.cc
Due: cppcheck

swaglog: fix locale dependence
  common/swaglog.cc
Due: cppcheck

swaglog: fix locale dependence (#34367)
  common/swaglog.cc
Due: cppcheck

Got rid openpilot.common.numpy_fast
  common/pid.py
  common/tests/test_numpy_fast.py
  selfdrive/car/cruise.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/debug/live_cpu_and_temp.py
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/helpers.py
  system/hardware/fan_controller.py
  tools/joystick/joystick_control.py
  tools/joystick/joystickd.py
  tools/sim/bridge/common.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
