Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

test expand calibration desc
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

debug
  selfdrive/ui/mici/layouts/main.py
  selfdrive/ui/ui_state.py
  system/ui/lib/application.py
Due: mypy

override interactive timeout
  selfdrive/ui/tests/diff/replay.py
Due: mypy

reorder
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

remove todo
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

update
  selfdrive/ui/tests/diff/replay.py
Due: mypy

clarify
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

test reset calibration
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

fix
  selfdrive/ui/mici/layouts/main.py
  selfdrive/ui/mici/layouts/settings/network/__init__.py
  system/ui/lib/application.py
  system/ui/mici_setup.py
Due: mypy

type
  system/ui/lib/application.py
Due: mypy

update
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

clean up
  selfdrive/ui/mici/layouts/main.py
  selfdrive/ui/ui_state.py
  system/ui/lib/application.py
Due: mypy

add calibration params test
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

comments
  selfdrive/ui/tests/diff/replay_script.py
Due: mypy

installer
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
Due: none

tweak to match figma exactly
  system/ui/mici_setup.py
Due: mypy

1cc1791b-4555-41ce-a5cb-ce046967075a/100
  selfdrive/modeld/models/driving_off_policy.onnx
  selfdrive/modeld/models/driving_policy.onnx
Due: none

revert
  selfdrive/ui/SConscript
Due: none

fixup updater
  system/ui/mici_updater.py
Due: mypy

demo day
  continue.sh
  system/ui/mici_setup.py
Due: mypy

demo day v2
  selfdrive/ui/installer/installer.cc
Due: none

... for percent while finishing setup
  selfdrive/ui/installer/installer.cc
Due: none

demo day v3
  selfdrive/ui/installer/installer.cc
Due: none

demo day v4
  continue.sh
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/mici/layouts/settings/device.py
Due: mypy

remove ...
  selfdrive/ui/installer/installer.cc
Due: none

demo day v6 -- "why does it do that!!"
  continue.sh
Due: none

demo day v7 -- no flash
  continue.sh
  system/ui/mici_setup.py
Due: mypy

hmm
  system/ui/mici_setup.py
Due: mypy

demo day v7
  system/ui/mici_setup.py
Due: mypy

prebuilt
  continue.sh
Due: none

use frames instead
  selfdrive/ui/tests/diff/replay.py
Due: mypy

get version from build
  selfdrive/ui/mici/layouts/home.py
Due: mypy

fix test
  selfdrive/ui/tests/diff/replay.py
Due: mypy

disable in CI
  selfdrive/ui/tests/diff/replay.py
Due: mypy

+1
  selfdrive/ui/tests/diff/replay.py
Due: mypy

update progress bar
  selfdrive/ui/tests/diff/diff.py
Due: mypy

ui: restore separate alpha/y filters with 0-1 range, multiply offsets after
  selfdrive/ui/mici/layouts/home.py
Due: mypy

camerad: IFE sharing — process 3 cameras through 2 IFE instances
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/hw.h
  system/camerad/cameras/ife.h
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
Due: cppcheck
