Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

Honda Bosch longitudinal prerequisites (#21217)
  selfdrive/boardd/boardd.cc
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/car/interfaces.py
  selfdrive/common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

bring back DBC dict
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/values.py
Due: pylint

revert changes to boardd safety mode setting
  selfdrive/boardd/boardd.cc
Due: cppcheck

DevicePanel: set specific stylesheet for reboot & poweroff buttons (#21364)
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
Due: cppcheck

util.cc: refactor read_file (#21350)
  selfdrive/common/util.cc
Due: cppcheck

fix FileLock: fd could be closed twice (#21362)
  selfdrive/common/params.cc
Due: cppcheck

update pycapnp to v1.1.0
  Pipfile
  Pipfile.lock
Due: none

Support WPA with no security
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Due: cppcheck

clean up
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.h
Due: cppcheck

update pycapnp to v1.1.0 (#21371)
  Pipfile
  Pipfile.lock
Due: none

log network info on neos
  selfdrive/hardware/eon/hardware.py
Due: pylint

log earfcn
  selfdrive/hardware/eon/hardware.py
Due: pylint

cleanup
  selfdrive/hardware/eon/hardware.py
Due: pylint

capn
  selfdrive/hardware/eon/hardware.py
Due: pylint

log network info on neos (#21375)
  selfdrive/hardware/eon/hardware.py
Due: pylint

calculated these (rounded) gains using ideal torque to reach angle fitted on data from Corolla
  selfdrive/car/toyota/interface.py
Due: pylint

better TSS1 Corolla tuning
  selfdrive/car/toyota/interface.py
Due: pylint

more accurate
  selfdrive/car/toyota/interface.py
  temp_calc_corolla_tune.py
Due: pylint

let's not sacrifice high speed for low speed
  selfdrive/car/toyota/interface.py
Due: pylint

delete script
  temp_calc_corolla_tune.py
Due: pylint

Merged and bolstered installer shell scripts with more checks
  tools/README.md
  tools/install_tools.sh
  tools/mac_setup.sh
  tools/plotjuggler/install.sh
  tools/ubuntu_setup.sh
Due: none

disengage on steer override
  selfdrive/car/tesla/carcontroller.py
Due: pylint

squashed the PR
  selfdrive/car/tesla/__init__.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/tesla/teslacan.py
  selfdrive/car/tesla/values.py
Due: pylint

remove AP passthrough
  selfdrive/car/tesla/carstate.py
Due: pylint

fix: fix pathing issues in ubuntu_setup.sh and openpilot_env.sh
  tools/openpilot_env.sh
  tools/ubuntu_setup.sh
Due: none

tici: toggle wwan when stuck registered
  selfdrive/thermald/thermald.py
Due: pylint

add test routes
  selfdrive/test/process_replay/test_processes.py
  selfdrive/test/test_routes.py
Due: pylint

tesla is still dashcam only
  selfdrive/test/process_replay/test_processes.py
Due: pylint

dashcam only
  selfdrive/car/tesla/interface.py
Due: pylint
