Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

recover mode
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/reset.h
Due: cppcheck

clean up
  selfdrive/ui/qt/setup/reset.cc
Due: cppcheck

less margin
  selfdrive/ui/qt/setup/reset.cc
Due: cppcheck

use inter
  selfdrive/ui/qt/setup/reset.cc
Due: cppcheck

little nicer
  selfdrive/ui/qt/setup/reset.cc
Due: cppcheck

add recover mode to factory resetter (#21492)
  selfdrive/ui/qt/setup/reset.cc
  selfdrive/ui/qt/setup/reset.h
Due: cppcheck

fix wrong db path
  selfdrive/ui/qt/setup/installer.cc
Due: cppcheck

installer.cc: fix wrong db path (#21494)
  selfdrive/ui/qt/setup/installer.cc
Due: cppcheck

agnos 0.20 (#21488)
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Due: none

Rav4 TSS2 has two different steering racks (#21429)
  selfdrive/car/toyota/interface.py
Due: pylint

reduce diff
  tools/plotjuggler/juggle.py
Due: pylint

minSteerSpeed handling
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
Due: pylint

vehicle disengages SCC below 10mph
  README.md
Due: none

faster spinner
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/spinner.h
Due: cppcheck

tici: use LSM6DS3
  selfdrive/locationd/locationd.cc
Due: cppcheck

remove modem logging
  SConstruct
  selfdrive/hardware/eon/SConscript
  selfdrive/hardware/eon/libdiag.h
  selfdrive/hardware/eon/rat.cc
  selfdrive/thermald/thermald.py
Due: pylint, cppcheck

remove modem logging (#21497)
  SConstruct
  selfdrive/hardware/eon/SConscript
  selfdrive/hardware/eon/libdiag.h
  selfdrive/hardware/eon/rat.cc
  selfdrive/thermald/thermald.py
Due: pylint, cppcheck

revert that
  tools/plotjuggler/README.md
Due: none

plotjuggler: add segment_count arg (#21474)
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Due: pylint

tici: use LSM6DS3 (#21496)
  selfdrive/locationd/locationd.cc
Due: cppcheck

no longer need Genesis specific code for minSteerSpeed
  selfdrive/car/hyundai/carcontroller.py
Due: pylint

design
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

fix default tethering password
  selfdrive/ui/qt/offroad/wifiManager.h
Due: cppcheck

period
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

one more
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

initApp
  selfdrive/ui/main.cc
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/qt/text.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

looks pretty good
  selfdrive/assets/offroad/tc.html
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/text_view.qml
Due: cppcheck

little closer
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/text_view.qml
Due: cppcheck

ugh qml
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/text_view.qml
Due: cppcheck

margin
  selfdrive/ui/qt/offroad/text_view.qml
Due: none

scrollbar
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/text_view.qml
Due: cppcheck

cleanup
  selfdrive/assets/offroad/tc.html
  selfdrive/ui/qt/offroad/text_view.qml
Due: none
