Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

Update selfdrive/locationd/calibrationd.py
  selfdrive/locationd/calibrationd.py
Due: pylint

more revert
  selfdrive/camerad/include/media/cam_defs.h
  selfdrive/camerad/include/media/cam_icp.h
  selfdrive/camerad/include/media/cam_isp.h
  selfdrive/camerad/include/media/cam_jpeg.h
  selfdrive/camerad/include/media/cam_req_mgr.h
  selfdrive/camerad/include/media/cam_sensor.h
  selfdrive/camerad/include/msmb_camera.h
  selfdrive/controls/lib/cluster/fastcluster.cpp
  selfdrive/controls/lib/cluster/fastcluster.h
  selfdrive/controls/lib/cluster/fastcluster_dm.cpp
  selfdrive/modeld/thneed/include/msm_kgsl.h
Due: cppcheck

fix: spelling typos (#21861)
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/car/fw_versions.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/carstate.py
  selfdrive/common/clutil.cc
  selfdrive/common/swaglog.h
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/debug/internal/measure_steering_accuracy.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/ublox_msg.cc
  selfdrive/manager/process.py
  selfdrive/modeld/thneed/serialize.cc
  selfdrive/modeld/visiontest.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
  selfdrive/test/test_updated.py
  selfdrive/ui/ui.cc
  tools/lib/url_file.py
  tools/scripts/setup_ssh_keys.py
Due: pylint, cppcheck

small
  selfdrive/controls/lib/events.py
Due: pylint

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

remove HUD warnings
  selfdrive/controls/lib/events.py
Due: pylint

less is more
  selfdrive/controls/lib/events.py
Due: pylint

safe
  selfdrive/controls/lib/events.py
  selfdrive/debug/cycle_alerts.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

update again
  selfdrive/test/process_replay/ref_commit
Due: none

Cleaner lane change alerts (#21857)
  selfdrive/controls/lib/events.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

process replay: fix hang after process time out
  selfdrive/test/process_replay/process_replay.py
Due: pylint

update ref commt
  selfdrive/test/process_replay/ref_commit
Due: none

update
  selfdrive/test/process_replay/ref_commit
Due: none

update uiview
  selfdrive/debug/uiview.py
Due: pylint

draw model not radar
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
Due: cppcheck

compiles
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
Due: cppcheck

DM model with better noise performance (#21733)
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

onroad ui: dynamic follow button (#441)
  common/op_params.py
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: pylint, cppcheck

wrong way
  selfdrive/ui/ui.cc
Due: cppcheck

Draw model leads (#21864)
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
Due: cppcheck

master
  selfdrive/test/process_replay/ref_commit
Due: none

update ref again again
  selfdrive/test/process_replay/ref_commit
Due: none

actually compiled this tim,e
  selfdrive/test/process_replay/ref_commit
Due: none

cleaner
  selfdrive/locationd/locationd.cc
Due: cppcheck

fix calibrated orientation
  selfdrive/locationd/locationd.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
Due: cppcheck

Fix orientation in map (#21863)
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
Due: cppcheck

rotate in time
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

fix encodeIdx
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

check trigger rotate field
  selfdrive/loggerd/loggerd.cc
Due: cppcheck
