Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

add images
  selfdrive/assets/training/step0.png
  selfdrive/assets/training/step1.png
  selfdrive/assets/training/step10.png
  selfdrive/assets/training/step11.png
  selfdrive/assets/training/step12.png
  selfdrive/assets/training/step13.png
  selfdrive/assets/training/step14.png
  selfdrive/assets/training/step2.png
  selfdrive/assets/training/step3.png
  selfdrive/assets/training/step4.png
  selfdrive/assets/training/step5.png
  selfdrive/assets/training/step6.png
  selfdrive/assets/training/step7.png
  selfdrive/assets/training/step8.png
  selfdrive/assets/training/step9.png
Due: none

cloudlog once on commIssue
  selfdrive/controls/controlsd.py
Due: pylint

get value by reference in ranged based loop
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

use capnp::Data::Reader
  selfdrive/boardd/boardd.cc
Due: cppcheck

all works
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/onboarding.hpp
Due: cppcheck

std::atomic<bool> connected
  selfdrive/boardd/panda.h
Due: none

just calculate in the main function
  selfdrive/car/toyota/interface.py
Due: pylint

Panda: use 'std::atomic<bool> connected' to ensure thread-safety (#19954)
  selfdrive/boardd/panda.h
Due: none

keyboard.cc: get value by reference in ranged based loop (#19950)
  selfdrive/ui/qt/widgets/keyboard.cc
Due: cppcheck

OmxEncoder: new function set_state, set and wait state changed (#19906)
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Due: cppcheck

Revert "OmxEncoder: new function set_state, set and wait state changed (#19906)"
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Due: cppcheck

Set "use_bsm" on KIA_NIRO_EV, I've tested it seems to be generating proper "CF_Lca_IndLeft" / "CF_Lca_IndRight" signals in LCA11:
  selfdrive/car/hyundai/values.py
Due: pylint

Set "use_bsm" on KIA_NIRO_EV, I've tested it seems to be generating (#19955)
  selfdrive/car/hyundai/values.py
Due: pylint

new model files
  models/dmonitoring_model.current
  models/dmonitoring_model.keras
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

no more rot
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Due: cppcheck

no rot no diag switch
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

should be correct and cache aware
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

parse new outputs
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Due: cppcheck

405d7aeb
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

change uncertain policy accordingly
  selfdrive/monitoring/driver_monitor.py
Due: pylint

1bdbd9ed
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

adjust
  selfdrive/monitoring/driver_monitor.py
Due: pylint

clean up
  selfdrive/monitoring/driver_monitor.py
Due: pylint

3d4f9cab
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

no face prob no loss
  selfdrive/monitoring/driver_monitor.py
Due: pylint

0.5 is fine
  selfdrive/monitoring/driver_monitor.py
Due: pylint

clean up test
  selfdrive/monitoring/test_monitoring.py
Due: pylint

clean up
  selfdrive/camerad/test/test_camerad.py
Due: pylint

adjust tolerance
  selfdrive/camerad/test/test_camerad.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

match driverView with new model
  selfdrive/ui/paint.cc
Due: cppcheck

use sof on tici
  selfdrive/camerad/test/test_camerad.py
Due: pylint

pyTorch DM (#19760)
  models/dmonitoring_model.current
  models/dmonitoring_model.keras
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
  selfdrive/monitoring/driver_monitor.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
