Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Update interface.py
  selfdrive/car/toyota/interface.py
Due: pylint

replay improvements for testing closet
  selfdrive/debug/internal/can_replay.py
Due: pylint

80c8afeb58f8fce4
  selfdrive/car/honda/values.py
Due: pylint

2017 Civic Hatch fw (#19777)
  selfdrive/car/honda/values.py
Due: pylint

use std::map for fonts&images
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

rebase master
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

use std::string
  selfdrive/ui/ui.hpp
Due: cppcheck

Remove spaces
  selfdrive/ui/qt/home.cc
Due: cppcheck

Remove spaces (#19779)
  selfdrive/ui/qt/home.cc
Due: cppcheck

back to open loop
  selfdrive/controls/lib/pathplanner.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

remove cmp_str
  selfdrive/ui/ui.hpp
Due: cppcheck

use macro to check error
  selfdrive/loggerd/omx_encoder.cc
Due: cppcheck

c++ LoggerHandle
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

OmxEncoder: use macro to check error (#19785)
  selfdrive/loggerd/omx_encoder.cc
Due: cppcheck

Update selfdrive/ui/paint.cc
  selfdrive/ui/paint.cc
Due: cppcheck

params helpers
  common/params.py
Due: pylint

add validation
  common/params.py
Due: pylint

back to open loop (#19781)
  selfdrive/controls/lib/pathplanner.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

use std::map for images (#19768)
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

hyundai: add palisade power steering fw mod fingerprint
  selfdrive/car/hyundai/values.py
Due: pylint

fix wrong fw version
  selfdrive/car/fw_versions.py
  selfdrive/car/toyota/values.py
Due: pylint

Toyota Avalon 2021 (#19790)
  README.md
  selfdrive/car/fw_versions.py
  selfdrive/car/toyota/values.py
Due: pylint

few fixes from LGTM
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/thermald/thermald.py
  tools/nui/FileReader.cpp
  tools/nui/FileReader.hpp
Due: pylint, cppcheck

fix leak
  selfdrive/athena/athenad.py
Due: pylint

assert raises
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
Due: pylint

no q
  selfdrive/athena/tests/helpers.py
Due: pylint

guess the queue did something
  selfdrive/athena/tests/helpers.py
Due: pylint

athena fixups (#19791)
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
Due: pylint

start onroad test
  Jenkinsfile
  selfdrive/test/test_onroad.py
Due: pylint

cpu usage test works
  selfdrive/test/test_onroad.py
Due: pylint

nice print
  selfdrive/test/test_onroad.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
