Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

merge master
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

small cleanup
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

add border size
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Add test route
  selfdrive/test/test_routes.py
Due: pylint

absolute path all the time
  tools/openpilot_env.sh
Due: none

Revert "absolute path all the time"
  tools/openpilot_env.sh
Due: none

Update tools/openpilot_env.sh
  tools/openpilot_env.sh
Due: none

add version to docs.comma.ai (#23260)
  docs/_static/favicon.ico
  docs/conf.py
Due: pylint

Debug Lkas Timing Disable Jyoungs Timing Fix. Disable Pt Brake. Remove Nonascm Steer Limits Changes
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
Due: pylint

re-enable pt brakes
  selfdrive/car/gm/carcontroller.py
Due: pylint

Update interface.py
  selfdrive/car/honda/interface.py
Due: pylint

add supported FW version for Palisade 2022
  selfdrive/debug/hyundai_enable_radar_points.py
Due: pylint

start loop index from 1
  selfdrive/ui/ui.cc
Due: cppcheck

use islessequal
  selfdrive/ui/ui.cc
Due: cppcheck

use build in <=
  selfdrive/ui/ui.cc
Due: cppcheck

Set accel 0 when not active
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

set ignition=false if no panda
  selfdrive/ui/ui.cc
Due: cppcheck

Smooth in a_ego
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

make v_desired a FirstOrderFilter
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

forgot one
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

conditional accel constraint no longer needed
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

one more ref
  selfdrive/test/longitudinal_maneuvers/plant.py
Due: pylint

mac_setup: install git-lfs
  tools/mac_setup.sh
Due: none

plotjuggler: add mac support
  tools/plotjuggler/README.md
  tools/plotjuggler/install.sh
  tools/plotjuggler/juggle.py
  tools/plotjuggler/test_plotjuggler.py
Due: pylint

fix test?
  tools/plotjuggler/test_plotjuggler.py
Due: pylint

update readme
  tools/plotjuggler/README.md
Due: none

oops
  tools/plotjuggler/juggle.py
Due: pylint

fix
  tools/plotjuggler/juggle.py
Due: pylint

cleanup
  tools/plotjuggler/juggle.py
Due: pylint

typo
  tools/plotjuggler/juggle.py
Due: pylint

test new lane line signal
  selfdrive/car/honda/carcontroller.py
Due: pylint

needed too
  selfdrive/car/honda/hondacan.py
Due: pylint

maybe need both?
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Due: pylint

works
  tools/plotjuggler/juggle.py
Due: pylint

little more
  tools/plotjuggler/juggle.py
Due: pylint

fix test
  tools/plotjuggler/test_plotjuggler.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
