Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui: advanced network settings fix button colors and sizes (#24846)
  selfdrive/ui/qt/offroad/networking.cc
Due: cppcheck

networking.cc: remove resolved TODO
  selfdrive/ui/qt/offroad/networking.cc
Due: cppcheck

Update selfdrive/locationd/laikad.py
  selfdrive/locationd/laikad.py
Due: pylint

missing include
  selfdrive/ui/qt/util.cc
Due: cppcheck

Cleanup
  selfdrive/locationd/laikad.py
Due: pylint

selfdrive/ui/qt/util.cc: missing include (#24867)
  selfdrive/ui/qt/util.cc
Due: cppcheck

laikad: calc_pos_fix numpy implementation (#24865)
  selfdrive/locationd/laikad.py
Due: pylint

values.py almost complete
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
Due: pylint

Update model ref
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Revert "Update model ref"
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Update model reg
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Silverado and Bolt EUV val and CP
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
Due: pylint

GM controller updated
  selfdrive/car/gm/carcontroller.py
Due: pylint

immediate fix for "panda dropout"
  selfdrive/thermald/thermald.py
Due: pylint

navd: handle maxspeed being none
  selfdrive/navd/navd.py
Due: pylint

revert
  selfdrive/test/process_replay/regen.py
Due: pylint

update model ref again
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Update docs_definitions.py
  selfdrive/car/docs_definitions.py
Due: pylint

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

fix and add --no-upload for CI testing
  selfdrive/test/process_replay/regen_all.py
Due: pylint

fingerprint if source is fw
  selfdrive/test/process_replay/process_replay.py
Due: pylint

This did upload somehow
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Update steer rate cost
  selfdrive/test/process_replay/ref_commit
Due: none

Rocket league model (#24869)
  selfdrive/car/body/interface.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/thneed/compile.cc
  selfdrive/modeld/thneed/optimizer.cc
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

VW MQB: Add FW for 2016 Passat B8 Passat B8 TDi 2.0 240HP DSG 7 Europe
  selfdrive/car/volkswagen/values.py
Due: pylint

VW MQB: Populate stock ACC standstill flag
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
Due: pylint

it really do be like that sometimes
  selfdrive/car/volkswagen/carstate.py
Due: pylint

just k5
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

HKG: simplify Kia K5 compatibility (#24810)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

Cam hrns supp done (in theory)
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Due: pylint

cleanup for new cars
  selfdrive/car/gm/interface.py
Due: pylint

Remove extra constant
  selfdrive/car/gm/interface.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
