Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

longitudinal: don't apply turn limit in e2e mode
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

longitudinal: don't rate-limit accel clip on first update
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

longitudinal: restore strict cruise speed test tolerance
  openpilot/selfdrive/car/tests/test_cruise_speed.py
Due: mypy

longitudinal: make MPC state follow the actual output
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

longitudinal: remove a_prev cost from MPC
  openpilot/selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

cleanup unused radar fields
  openpilot/cereal/log.capnp
  openpilot/selfdrive/controls/radard.py
  openpilot/selfdrive/modeld/constants.py
  openpilot/selfdrive/modeld/fill_model_msg.py
  openpilot/selfdrive/test/longitudinal_maneuvers/plant.py
  openpilot/selfdrive/test/process_replay/migration.py
  openpilot/tools/replay/lib/ui_helpers.py
Due: mypy

ui: add personality status icon
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
  openpilot/selfdrive/ui/personality.py
  openpilot/selfdrive/ui/tests/test_status_icons.py
Due: mypy

this is nice for debugging
  openpilot/cereal/log.capnp
  openpilot/selfdrive/controls/radard.py
Due: mypy

bring that back too
  openpilot/cereal/log.capnp
  openpilot/selfdrive/controls/radard.py
Due: mypy

bring these back
  openpilot/cereal/log.capnp
  openpilot/selfdrive/controls/radard.py
  openpilot/selfdrive/test/longitudinal_maneuvers/plant.py
Due: mypy

more revert
  openpilot/cereal/log.capnp
  openpilot/selfdrive/modeld/constants.py
  openpilot/selfdrive/modeld/fill_model_msg.py
Due: mypy

cleanup unused radar fields (#38346)
  openpilot/cereal/log.capnp
  openpilot/selfdrive/controls/radard.py
  openpilot/selfdrive/test/longitudinal_maneuvers/plant.py
  openpilot/selfdrive/test/process_replay/migration.py
  openpilot/tools/replay/lib/ui_helpers.py
Due: mypy

annotate radar fields
  openpilot/cereal/log.capnp
Due: none

annotate radar fields (#38347)
  openpilot/cereal/log.capnp
Due: none

start there
  openpilot/selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

no snappy?
  openpilot/selfdrive/controls/controlsd.py
  openpilot/selfdrive/controls/lib/longcontrol.py
  openpilot/selfdrive/controls/tests/test_longcontrol.py
Due: mypy

ui: refine personality status icon
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
Due: mypy

op: add `-u` to scons command line
  tools/op.sh
Due: none

ui: use raw personality status icons
  openpilot/selfdrive/assets/icons_mici/personality_1.png
  openpilot/selfdrive/assets/icons_mici/personality_2.png
  openpilot/selfdrive/assets/icons_mici/personality_3.png
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
Due: mypy

ui: use raw speed limiter icons
  openpilot/selfdrive/assets/icons_mici/speed_limiter_cruise.png
  openpilot/selfdrive/assets/icons_mici/speed_limiter_lead.png
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
Due: mypy

ui: remove unused confidence ball
  openpilot/selfdrive/ui/mici/onroad/confidence_ball.py
Due: mypy

ui: inline status icon mappings
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
  openpilot/selfdrive/ui/personality.py
  openpilot/selfdrive/ui/plan_source.py
  openpilot/selfdrive/ui/tests/test_status_icons.py
Due: mypy

progressive cleanup
  openpilot/cereal/log.capnp
  openpilot/common/params_keys.h
  openpilot/selfdrive/monitoring/policy.py
  openpilot/selfdrive/monitoring/test_monitoring.py
  openpilot/selfdrive/selfdrived/events.py
Due: mypy, cppcheck

op: add `-u` to scons command line (#38348)
  tools/op.sh
Due: none

locality
  openpilot/selfdrive/test/setup_device_ci.sh
Due: none

rm redundant params tests
  openpilot/common/tests/test_params.cc
Due: cppcheck

rm that
  openpilot/common/SConscript
Due: none

jenkins speedups (#38328)
  openpilot/common/SConscript
  openpilot/common/hardware/tici/tests/test_amplifier.py
  openpilot/selfdrive/pandad/tests/test_pandad_spi.py
  openpilot/selfdrive/test/setup_device_ci.sh
  openpilot/selfdrive/test/test_power_draw.py
  openpilot/system/loggerd/tests/test_encoder.py
  openpilot/system/manager/test/test_manager.py
Due: mypy

jp: fix linking on macOS
  SConstruct
  openpilot/tools/jotpluggler/test_jotpluggler.py
Due: mypy

mv to root
  SConstruct
Due: none

ui: fix status icon states
  openpilot/selfdrive/ui/mici/onroad/status_icons.py
Due: mypy

jp: fix linking on macOS (#38353)
  SConstruct
  openpilot/tools/jotpluggler/test_jotpluggler.py
Due: mypy

fix radar message for meb
  openpilot/tools/replay/lib/ui_helpers.py
Due: mypy

it's not a stream
  openpilot/system/loggerd/encoder/jpeg_encoder.cc
Due: cppcheck

Fix thumbnail creation (#38354)
  openpilot/system/loggerd/encoder/jpeg_encoder.cc
Due: cppcheck

nostd
  openpilot/selfdrive/modeld/models/driving_supercombo.onnx
Due: none

loggerd: only wait to rotate on cameras that are actually streaming
  openpilot/system/loggerd/loggerd.cc
Due: cppcheck
