Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

longitudinal MPC: set qp_tol to 1e-2
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

subclass ABC
  selfdrive/thermald/fan_controller.py
Due: pylint

longitudinal MPC: set qp_tol to 1e-1
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

remove trivial terminal constraint and associated CasADi generated functions
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

Fan controller cleanup + testing (#23886)
  release/files_common
  selfdrive/thermald/fan_controller.py
  selfdrive/thermald/tests/test_fan_controller.py
  selfdrive/thermald/thermald.py
Due: pylint

check the bias
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

thermald: use latest modem temps (#23878)
  selfdrive/thermald/thermald.py
Due: pylint

load_dlc_weights
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

nicer scons
  selfdrive/modeld/SConscript
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

tested scons
  selfdrive/modeld/SConscript
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

fix static
  selfdrive/modeld/SConscript
  selfdrive/modeld/thneed/lib.py
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

pylint issue
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

Move 2020 Lexus NX 300 fw fingerprints to TSS2 (#23893)
  selfdrive/car/toyota/values.py
Due: pylint

new ref
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

a few more asserts
  selfdrive/modeld/thneed/weights_fixup.py
Due: pylint

add calib buf
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
Due: cppcheck

add to header
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.h
Due: cppcheck

fake model
  models/dmonitoring_model_q.dlc
Due: none

Update refs
  selfdrive/test/process_replay/ref_commit
Due: none

model: mse err from 0.02-> 0.000056 (#23891)
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/modeld/thneed/__init__.py
  selfdrive/modeld/thneed/lib.py
  selfdrive/modeld/thneed/weights_fixup.py
  selfdrive/test/process_replay/model_replay_ref_commit
Due: pylint

remove trivial terminal constraint and associated CasADi generated functions (#23898)
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

longitudinal MPC: set qp_tol to 1e-3
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

initialize solverExecutionTime longitudinal_planner
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

test_onroad: improve timing evaluation
  selfdrive/test/test_onroad.py
Due: pylint

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

Longitudinal MPC set qp tolerance to 1e-3 (#23899)
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Due: pylint

LongControl: fix control state oscillation (#23333)
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/longcontrol.py
Due: pylint

always update vCruise and don't init if pcmCruise
  selfdrive/controls/controlsd.py
Due: pylint

revert change
  selfdrive/controls/controlsd.py
Due: pylint

Revert "clean up v_cruise_kph"
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Due: pylint

clean up v_cruise_kph
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

Cython: improve error message
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
