Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

Add angular rates carcontroller packet (#23980)
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

No Prius docs change for now
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: pylint

Docs: auto-generate supported cars documentation (#23762)
  docs/CARS.md
  docs/assets/icon-star-empty.svg
  docs/assets/icon-star-full.svg
  docs/assets/icon-star-half.svg
  release/files_common
  selfdrive/car/CARS_template.md
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

CARS.md fixups
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/mazda/values.py
Due: pylint

wrong one
  docs/CARS.md
  selfdrive/car/mazda/values.py
Due: pylint

send pre-enable state when gas is pressed
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

increase steerRatio
  selfdrive/car/hyundai/interface.py
Due: pylint

Easier docker and nvidia-docker install in carla script
  tools/sim/start_carla.sh
Due: none

Small cleanup
  tools/sim/start_carla.sh
Due: none

cleanuo
  tools/sim/start_carla.sh
Due: none

cleanup
  tools/sim/start_carla.sh
Due: none

More comments
  tools/sim/start_carla.sh
Due: none

Remove adding usergroup step
  tools/sim/start_carla.sh
Due: none

re-run car docs generator
  docs/CARS.md
Due: none

show negative speed
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

sort footnotes
  docs/CARS.md
  selfdrive/car/docs.py
Due: pylint

Mazda CX-9 has good torque
  docs/CARS.md
  selfdrive/car/mazda/values.py
Due: pylint

Try this
  selfdrive/car/car_helpers.py
  selfdrive/car/docs.py
Due: pylint

generate
  docs/CARS.md
Due: none

remove ()
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

onroad UI: show negative speed (#23987)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

add fingerprints. rename some things
  selfdrive/car/hyundai/values.py
Due: pylint

Add c3 camera flag to bridge.py
  tools/sim/bridge.py
Due: pylint

msg_order and gantt
  tools/latency_logging/gantt.py
  tools/latency_logging/msg_order.py
  tools/latency_logging/v2gantt.py
Due: pylint

yup, os uses native filesystem order
  docs/CARS.md
  selfdrive/car/car_helpers.py
Due: pylint

add vehicles.vue template
  docs/vehicles_template.vue
  selfdrive/car/docs.py
Due: pylint

add original vue file
  docs/vehicles.vue
Due: none

frameId in long/lat planner
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

stash
  docs/vehicles.vue
  docs/vehicles_orig.vue
  docs/vehicles_template.vue
  selfdrive/car/docs.py
Due: pylint

CARS.md tweaks (#23983)
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/car_helpers.py
  selfdrive/car/mazda/values.py
Due: pylint

track frame id
  tools/latency_logging/latlog.py
  tools/latency_logging/v2gantt.py
Due: pylint

FPv2: try panda bus if few results
  selfdrive/car/car_helpers.py
Due: pylint
