Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

keep the current behavior
  selfdrive/car/toyota/carcontroller.py
Due: pylint

split into multiple tests for easier debugging
  selfdrive/car/tests/test_common.py
Due: pylint

build_release: rm panda obj dir
  release/build_release.sh
Due: none

Create universal binary for libyuv
  SConstruct
  third_party/libyuv/Darwin/lib/libyuv.a
  third_party/libyuv/build.sh
  third_party/libyuv/mac/lib/libyuv.a
  third_party/libyuv/mac_arm64/lib/libyuv.a
Due: none

Add comment about universal binaries to build script
  third_party/libyuv/build.sh
Due: none

Remove duplicate license
  third_party/libyuv/LICENSE.libyuv
Due: none

Add new libyuv path to release files
  release/files_pc
Due: none

Add libyuv's x86_64 lib dir
  third_party/libyuv/x86_64/lib/libyuv.a
Due: none

Move left-over platform specific dirs from files_common
  release/files_common
  release/files_pc
  release/files_tici
Due: none

Remove libyuv/lib directory (duplicate)
  third_party/libyuv/lib/libyuv.a
Due: none

Fix mpc Sconscripts
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

Remove acados lib path from mpc sources
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

Fix typo
  SConstruct
Due: none

libyuv: universal binary build for macOS (#29170)
  SConstruct
  third_party/libyuv/Darwin/lib/libyuv.a
  third_party/libyuv/LICENSE.libyuv
  third_party/libyuv/build.sh
  third_party/libyuv/build.txt
  third_party/libyuv/mac/lib/libyuv.a
  third_party/libyuv/mac_arm64/lib/libyuv.a
Due: none

use default stopAccel
  selfdrive/car/honda/interface.py
Due: pylint

use toyota stoppingDecelRate
  selfdrive/car/honda/interface.py
Due: pylint

Add watch3 exec on aarch64
  selfdrive/ui/SConscript
Due: none

improve performance
  system/loggerd/deleter.py
Due: pylint

simplify initial implementation, remove AEB
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/values.py
Due: pylint

Update values.py
  selfdrive/car/subaru/values.py
Due: pylint

Update values.py
  selfdrive/car/toyota/values.py
Due: pylint

Force poetry to stay in the same venv when installing pre-commit hooks
  update_requirements.sh
Due: none

Update Car/Subaru values.py to support 2022 Crosstrek
  selfdrive/car/subaru/values.py
Due: pylint

remove duplicates
  selfdrive/car/subaru/values.py
Due: pylint

smoother stoppingDecelRate
  selfdrive/car/honda/interface.py
Due: pylint

Optimize Honda Accord stop and go resume too slow issue.
  selfdrive/car/honda/interface.py
Due: pylint

skip the last segment if onroad
  system/loggerd/deleter.py
Due: pylint

dmmonitoringmodeld: remove unused libyuv import
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

Ford Bronco Sport 2023 FW
  selfdrive/car/ford/values.py
Due: pylint
