Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

framereader: fix crash after fallback to cpu decoding (#23055)
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
Due: cppcheck

script to apply patch from PR
  scripts/apply-pr.sh
Due: none

remove dead + duplicate python code
  common/cython_hacks.py
  release/files_common
  tools/lib/lazy_property.py
Due: pylint

juggle: add demo flag and improve README
  tools/plotjuggler/README.md
  tools/plotjuggler/juggle.py
Due: pylint

Fix typo: steerRation -> steerRatio
  selfdrive/car/toyota/interface.py
Due: pylint

Fix comment typo: steerRation -> steerRatio (#23058)
  selfdrive/car/toyota/interface.py
Due: pylint

replay: refactor http download (#23052)
  selfdrive/ui/replay/filereader.cc
  selfdrive/ui/replay/filereader.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Due: cppcheck

DevicePanel: split long constructor into multiple functions (#23043)
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
Due: cppcheck

refactor httprequest: emit single signals (#23039)
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/request_repeater.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/drive_stats.h
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/replay/route.cc
Due: cppcheck

boardd: new function sync_time (#23033)
  selfdrive/boardd/boardd.cc
Due: cppcheck

longitudinal: only apply overshoot prevention when braking (#22986)
  selfdrive/controls/lib/longcontrol.py
Due: pylint

cameraview: fix frameskip (#23022)
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

oops block
  selfdrive/manager/manager.py
Due: pylint

manager: kill procs in parallel
  selfdrive/manager/manager.py
Due: pylint

manager: kill procs in parallel (#23010)
  selfdrive/manager/manager.py
Due: pylint

add test for clear_locks
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.cc
Due: cppcheck

move to bootlog
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
Due: cppcheck

framereader: refactor seeking (#22926)
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
Due: cppcheck

simplify test
  selfdrive/loggerd/tests/test_loggerd.cc
Due: cppcheck

Clear loggerd locks once on boot (#23060)
  selfdrive/loggerd/bootlog.cc
  selfdrive/loggerd/logger.cc
  selfdrive/loggerd/logger.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_loggerd.cc
Due: cppcheck

logreader: support reading from corrupt log (#23050)
  selfdrive/camerad/cameras/camera_replay.cc
  selfdrive/ui/replay/framereader.cc
  selfdrive/ui/replay/framereader.h
  selfdrive/ui/replay/logreader.cc
  selfdrive/ui/replay/logreader.h
  selfdrive/ui/replay/route.cc
  selfdrive/ui/replay/tests/test_replay.cc
  selfdrive/ui/replay/util.cc
  selfdrive/ui/replay/util.h
Due: cppcheck

singleton networkAccessManager
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
Due: cppcheck

ui: singleton networkAccessManager (#22994)
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.h
Due: cppcheck

Add LastControlledShutdown and create bootlog before clearing params
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
Due: pylint, cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
