Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

more release notes old-commit-hash: 4998b600ecebf712b127b1e132d249a1b51a90bc
  RELEASES.md
Due: none

more release notes
  RELEASES.md
Due: none

arrow style line
  tools/cabana/binaryview.cc
Due: none

fix alpha
  tools/cabana/binaryview.cc
Due: none

Revert "arrow style line"
  tools/cabana/binaryview.cc
Due: none

boardd: retry on bad SPI RX data len
  selfdrive/boardd/spi.cc
Due: cppcheck

boardd: retry on bad SPI RX data len (#27314)
  selfdrive/boardd/spi.cc
Due: cppcheck

areduce steer rate limit, other changes
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
Due: pylint

float from np float
  selfdrive/car/gm/interface.py
Due: pylint

add more break points
  selfdrive/car/gm/interface.py
Due: pylint

update feedforward
  selfdrive/car/gm/interface.py
Due: pylint

remove use of exp and log fns
  selfdrive/car/gm/interface.py
  selfdrive/locationd/torqued.py
Due: pylint

clean up
  selfdrive/car/gm/interface.py
Due: pylint

fix that
  selfdrive/car/gm/interface.py
Due: pylint

put friction into ff
  selfdrive/car/gm/interface.py
Due: pylint

working learner
  selfdrive/car/torque_data/override.yaml
  selfdrive/locationd/torqued.py
Due: pylint

increase allowance
  selfdrive/car/gm/values.py
Due: pylint

add vego breakpoints
  selfdrive/car/gm/interface.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: pylint

change interp pts
  selfdrive/car/gm/interface.py
Due: pylint

reduce friction, lagginess
  selfdrive/car/gm/interface.py
  selfdrive/car/torque_data/override.yaml
Due: pylint

tuning options
  selfdrive/car/gm/interface.py
  selfdrive/car/torque_data/override.yaml
Due: pylint

change deadzone function
  selfdrive/car/gm/interface.py
Due: pylint

put MSB/LSB text inside line
  tools/cabana/binaryview.cc
Due: none

cacnel signal hilighting on leaveEvent
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

check duplicate name
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

cant use ' untitled' as msg name
  tools/cabana/detailwidget.cc
Due: none

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

better min enable speed alert
  selfdrive/controls/lib/events.py
Due: pylint

update for ioniq HEV 22
  selfdrive/car/hyundai/values.py
Due: pylint

fix binary::refresh
  tools/cabana/binaryview.cc
Due: none

fix crash
  tools/cabana/binaryview.cc
Due: none

reduce unncessary calls to HistoryLogModelfetchMore
  tools/cabana/historylog.cc
Due: none

cabana: cancel signal highlighting on leaveEvent (#27315)
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

Update selfdrive/car/chrysler/values.py
  selfdrive/car/chrysler/values.py
Due: pylint

Revert "Update selfdrive/car/chrysler/values.py"
  selfdrive/car/chrysler/values.py
Due: pylint

rm new fp
  selfdrive/car/chrysler/values.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
