Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cleanup
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

fix test
  selfdrive/camerad/test/test_debayer_yuv.py
Due: pylint

make fast
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
Due: cppcheck

opencl kernels C3, not profiled
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/real_debayer.cl
Due: cppcheck

equal yuv
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

equal debayer to before
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

edges
  selfdrive/camerad/cameras/debayer.cl
Due: none

test for c3
  selfdrive/camerad/test/rgb_debayer.cl
  selfdrive/camerad/test/test_debayer_yuv.py
Due: pylint

fix writing ys
  selfdrive/camerad/cameras/real_debayer.cl
Due: none

merge LEXUS_ESH
  selfdrive/car/toyota/interface.py
Due: pylint

min and max of all variants
  selfdrive/car/toyota/interface.py
Due: pylint

Fix EPB read
  selfdrive/car/gm/carstate.py
Due: pylint

Update Suburban FPs
  selfdrive/car/gm/values.py
Due: pylint

for those who want to live in the moment
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/thermald/thermald.py
  selfdrive/ui/qt/setup/reset.cc
Due: pylint, cppcheck

Reenable JYoung EPS FIX * Remove Panda-side EPS mitigation * Enable JYoung's EPS code * Contains OP attempt to prevent latch fail * NOTE: LKAS limits on Panda still temp disabled
  RELEASES.md
  selfdrive/car/gm/carcontroller.py
  selfdrive/common/version.h
Due: pylint, cppcheck

forgot honda somehow!
  selfdrive/car/honda/carstate.py
Due: pylint

forgot some more signal defaults
  selfdrive/car/gm/carstate.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/volkswagen/carstate.py
Due: pylint

CANParser: remove rest of default values (#23676)
  selfdrive/car/gm/carstate.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/volkswagen/carstate.py
Due: pylint

Toyota: merge Lexus ESH params into similar vehicles (#23673)
  selfdrive/car/toyota/interface.py
Due: pylint

Improved Silverdao params from skip
  selfdrive/car/gm/interface.py
Due: pylint

added .3 to silverado ratio
  selfdrive/car/gm/interface.py
Due: pylint

updated: add logging for null bytes
  selfdrive/updated.py
Due: pylint

fix cmd
  selfdrive/updated.py
Due: pylint

close usb before goto fail
  selfdrive/boardd/panda.cc
Due: cppcheck

Grey out power button while onroad - comma three only
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

manager: kill UI when manager failed to start
  selfdrive/manager/manager.py
Due: pylint

Revert "remove car exceptions"
  selfdrive/car/honda/carstate.py
  selfdrive/test/test_models.py
Due: pylint

does have ts noise, use updated
  selfdrive/car/honda/carstate.py
Due: pylint

remove car exceptions
  selfdrive/car/honda/carstate.py
  selfdrive/test/test_models.py
Due: pylint

or brake_switch
  selfdrive/car/honda/carstate.py
  selfdrive/test/test_models.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
