Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

add shouldBeRunning field to managerState (#22246)
  selfdrive/manager/process.py
Due: pylint

not relevant anymore
  SConstruct
Due: none

Update FW Version for the 2020 Palisade (#22245)
  selfdrive/debug/hyundai_enable_radar_points.py
Due: pylint

UI: fix getting stuck after vipc recv timeout
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

improve instructions for enabling hyundai radar tracks
  selfdrive/debug/hyundai_enable_radar_points.py
Due: pylint

missing DRIVERS_DOOR_OPEN signal on FREED
  selfdrive/car/honda/carstate.py
Due: pylint

car port: Honda Freed
  docs/CARS.md
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_routes.py
Due: pylint

additional FW; confirm lack of stop-and-go
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
Due: pylint

corrected mass and wheelbase
  selfdrive/car/honda/interface.py
Due: pylint

restore gateway ECU to fingerprint
  selfdrive/car/honda/values.py
Due: pylint

remove redundant long parameters
  selfdrive/car/honda/interface.py
Due: pylint

Additional Fingerprint for Sonata Hybrid
  selfdrive/car/hyundai/values.py
Due: pylint

Update selfdrive/car/hyundai/values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Additional FW for Sonata Hybrid (#22252)
  selfdrive/car/hyundai/values.py
Due: pylint

c3 is straightforward
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

c2 transform
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

Use thneed directly on the loaded YUV data (#22236)
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
  selfdrive/modeld/thneed/thneed.cc
  selfdrive/modeld/thneed/thneed.h
  selfdrive/modeld/transforms/loadyuv.cc
  selfdrive/modeld/transforms/loadyuv.cl
  selfdrive/modeld/transforms/loadyuv.h
Due: cppcheck

c3 preview
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

alpha model
  models/dmonitoring_model_q.dlc
Due: none

Revert "alpha model": wrong quantization data
  models/dmonitoring_model_q.dlc
Due: none

sane lead clips to prevent reset
  selfdrive/controls/lib/lead_mpc_lib/lead_mpc.py
Due: pylint

Added fingerprint for Hyundai Elantra 2021
  selfdrive/car/hyundai/values.py
Due: pylint

fix up replay docs
  README.md
  tools/replay/README.md
Due: none

yuv looks good
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

sane lead clips to prevent reset (#22255)
  selfdrive/controls/lib/lead_mpc_lib/lead_mpc.py
Due: pylint

add stopping for stopped car tests
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Due: pylint

too extreme
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Due: pylint

fix throttle signal width/scaling
  selfdrive/car/stellantis/carstate.py
Due: pylint

hyundai: update radar message names
  selfdrive/car/hyundai/radar_interface.py
Due: pylint

add mondo dbc to Sonata Hybrid
  selfdrive/car/hyundai/values.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
