Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

bigger capacity
  tools/cabana/chart/sparkline.cc
Due: none

this more or less worked
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
Due: pylint

this is all under gen2
  selfdrive/car/subaru/carcontroller.py
Due: pylint

that needs to be up there
  selfdrive/car/subaru/carcontroller.py
Due: pylint

comment
  selfdrive/car/subaru/carcontroller.py
Due: pylint

oops
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

more correct
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

check
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

cleaner
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

thneed: cleanup duplicate GPU config
  selfdrive/modeld/thneed/thneed_qcom2.cc
Due: cppcheck

don't close map when tapping on it
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

UI: consider border when setting map width
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

show map by default, for now
  selfdrive/ui/qt/maps/map_panel.cc
Due: cppcheck

close map when tapping on it, but not settings
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

translations
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
Due: none

translations2
  selfdrive/ui/translations/main_ko.ts
Due: none

final translations
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

fix
  selfdrive/ui/translations/main_de.ts
Due: none

fix segfault
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

mroe translation fixes
  selfdrive/ui/translations/main_ja.ts
Due: none

UI: consider border when setting map width (#28488)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

selfdrive/car: CanBusBase to share between brands
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

bugfix
  selfdrive/car/hyundai/interface.py
Due: pylint

can just do this
  selfdrive/ui/qt/home.cc
Due: cppcheck

or signals/slots
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

clean up
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: cppcheck

clean up
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

hide
  selfdrive/ui/qt/home.cc
Due: cppcheck

selfdrive/car: reusable CanBus helper (#28489)
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/hyundaicanfd.py
  selfdrive/car/hyundai/interface.py
Due: pylint

Custom handling of gcc-arm-embedded toolchain cache
  .github/workflows/selfdrive_tests.yaml
Due: none

Ford: detect auxiliary panda
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Due: pylint

Ford: detect auxiliary panda (#28491)
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Due: pylint

Ford: shiftByWire ECU not used for fingerprinting
  selfdrive/car/ford/values.py
Due: pylint

Encoderd: encoders just encode, no writing (#28482)
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/encoder.h
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.h
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/encoder/v4l_encoder.h
  system/loggerd/encoderd.cc
Due: cppcheck

Rename dep cache key
  .github/workflows/selfdrive_tests.yaml
Due: none

Ford: shiftByWire ECU not used for fingerprinting (#28493)
  selfdrive/car/ford/values.py
Due: pylint
