Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

no heck
  system/camerad/cameras/camera_common.cc
Due: cppcheck

disos
  system/camerad/cameras/camera_common.cc
Due: cppcheck

done above
  selfdrive/car/subaru/interface.py
Due: mypy

two spaces
  selfdrive/car/__init__.py
Due: mypy

that is moved up
  selfdrive/car/gm/interface.py
Due: mypy

fix hardcoded fingerprints
  selfdrive/car/interfaces.py
  selfdrive/car/tests/routes.py
  selfdrive/car/values.py
Due: mypy

whitespace
  selfdrive/car/tests/routes.py
Due: mypy

agnos 9.7
  launch_env.sh
  system/hardware/tici/agnos.json
Due: none

values
  release/files_common
Due: none

better?
  selfdrive/car/interfaces.py
  selfdrive/car/values.py
Due: mypy

real 10
  system/camerad/cameras/real_debayer.cl
Due: none

fix
  selfdrive/car/interfaces.py
Due: mypy

hmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
  selfdrive/car/__init__.py
  selfdrive/car/interfaces.py
  selfdrive/car/values.py
Due: mypy

unrelated
  selfdrive/car/__init__.py
Due: mypy

forgot
  selfdrive/car/subaru/interface.py
Due: mypy

for some reason this is flipped
  system/camerad/cameras/real_debayer.cl
Due: none

fix :(
  tools/lib/logreader.py
Due: mypy

consolidate and cleanup PQ configs
  selfdrive/car/volkswagen/interface.py
Due: mypy

update
  system/hardware/tici/agnos.json
Due: none

20hz
  system/camerad/cameras/camera_common.cc
  system/camerad/sensors/os04c10_registers.h
Due: cppcheck

no return
  system/camerad/cameras/real_debayer.cl
Due: none

ford: remove dynamic dashcam lockout for hybrids
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
Due: mypy

releases?
  RELEASES.md
Due: none

Revert "releases?"
  RELEASES.md
Due: none

Reapply "releases?"
  RELEASES.md
Due: none

097
  RELEASES.md
Due: none

ae
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/sensors/os04c10.cc
Due: cppcheck

tear
  system/camerad/sensors/os04c10_registers.h
Due: cppcheck

force fingerprint
  launch_env.sh
Due: none

Revert "force fingerprint"
  launch_env.sh
Due: none

hardware
  .github/workflows/selfdrive_tests.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
