Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

Toggles must be alphabetical (#25654)
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

small nissan cleanup
  selfdrive/car/nissan/interface.py
  selfdrive/car/nissan/nissancan.py
Due: pylint

Remove lane planning code (#25651)
  release/files_common
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/lane_planner.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

Dont stop for cars next to you without model confirmation
  selfdrive/controls/lib/radar_helpers.py
Due: pylint

Radard: ignore leads without model confirmation wider than 1.0m (#25664)
  selfdrive/controls/lib/radar_helpers.py
Due: pylint

Exp.
  selfdrive/ui/translations/main_ja.ts
Due: none

default main_en
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

update transaltions
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

remove params
  selfdrive/ui/qt/sidebar.h
Due: cppcheck

Multilang: improve pt-BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

consistent start from stop
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

stop timer if PairingQRWidget is hidden
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Due: cppcheck

update translations
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

set default language in manager.py
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: pylint, cppcheck

after h
  selfdrive/manager/manager.py
Due: pylint

ui/sidebar: remove unused variable params (#25667)
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Add missing HIGHLANDER_TSS2 engine f/w (#25657)
  selfdrive/car/toyota/values.py
Due: pylint

Subaru Legacy 22 fingerprint (#25665)
  selfdrive/car/subaru/values.py
Due: pylint

small nissan cleanup (#25663)
  selfdrive/car/nissan/interface.py
  selfdrive/car/nissan/nissancan.py
Due: pylint

manager.py: set default lang to main_en (#25666)
  selfdrive/manager/manager.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

Toyota: match dash set speed (#25649)
  selfdrive/car/toyota/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

no line numbers
  selfdrive/ui/update_translations.py
Due: pylint

remove locations
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Toyota: add missing HIGHLANDER_TSS2 engine f/w (#25659)
  selfdrive/car/toyota/values.py
Due: pylint

replay: add shortcuts for seeking to the next info, warning, and critical alerts (#25576)
  tools/replay/consoleui.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

VW: Add fingerprint for 2015 Audi A3 MK3 (US) (#25639)
  selfdrive/car/volkswagen/values.py
Due: pylint

build_release: remove special panda handling
  Jenkinsfile
  release/build_release.sh
Due: none
