Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

camerad: remove Hardware::PC() check (#33713)
  system/camerad/main.cc
Due: cppcheck

regen with buttonEvents set properly
  selfdrive/test/process_replay/test_processes.py
Due: mypy

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

handle eintr
  system/sensord/sensors_qcom2.cc
Due: cppcheck

Deprecate carState.events (#33693)
  cereal/car.capnp
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_models.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: mypy

new OnroadEvent struct
  cereal/car.capnp
  cereal/log.capnp
Due: none

and migrate python
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_models.py
  selfdrive/selfdrived/events.py
Due: mypy

more forgotten
  selfdrive/debug/cycle_alerts.py
  selfdrive/monitoring/helpers.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/test/test_time_to_onroad.py
Due: mypy

re-index new OnroadEvent struct
  cereal/log.capnp
Due: none

fix!
  selfdrive/selfdrived/selfdrived.py
Due: mypy

more missing
  selfdrive/selfdrived/tests/test_alerts.py
  selfdrive/test/test_onroad.py
Due: mypy

migrate onroadEvents
  selfdrive/test/process_replay/migration.py
Due: mypy

fix input error calculation to use current target
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

ui: refactor model updating and rendering into ModelRenderer class (#33702)
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

cameread: remove outdated 'm' and 'atomic' libraries (#33714)
  system/camerad/SConscript
Due: none

same thing really
  selfdrive/car/car_specific.py
Due: mypy

update that
  selfdrive/car/car_specific.py
Due: mypy

If field is empty put nans
  selfdrive/test/process_replay/migration.py
Due: mypy

Move import out
  selfdrive/test/process_replay/migration.py
Due: mypy

migrate dm events
  selfdrive/test/process_replay/migration.py
Due: mypy

process_replay: fix llk migration (#33717)
  selfdrive/test/process_replay/migration.py
Due: mypy

peace
  selfdrive/car/car_specific.py
Due: mypy

car doc
  docs/CARS.md
Due: none

hacks to get proc replay to say succeeded
  selfdrive/test/process_replay/compare_logs.py
Due: mypy

Revert "hacks to get proc replay to say succeeded"
  selfdrive/test/process_replay/compare_logs.py
Due: mypy

bump that now
  docs/CARS.md
Due: none

Update metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_process.py
Due: mypy

comment
  Jenkinsfile
Due: none

jenkins: disable time to onroad (#33719)
  Jenkinsfile
Due: none

Deprecate car onroadEvents (#33687)
  cereal/car.capnp
  cereal/log.capnp
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/tests/test_models.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/monitoring/helpers.py
  selfdrive/monitoring/test_monitoring.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/selfdrived/tests/test_alerts.py
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
  selfdrive/test/test_time_to_onroad.py
Due: mypy

move car.capnp to opendbc
  cereal/car.capnp
Due: none

do card
  selfdrive/car/card.py
Due: mypy

fix some more tests
  selfdrive/car/card.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/controls/lib/tests/test_latcontrol.py
  selfdrive/controls/lib/tests/test_vehicle_model.py
  selfdrive/test/process_replay/process_replay.py
Due: mypy

rm helpers
  selfdrive/car/helpers.py
Due: mypy

format fp
  selfdrive/debug/format_fingerprints.py
Due: mypy
