Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

ev6 blinkers + increased low speed torque
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Due: pylint

nav lane changes
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/desire_helper.py
  selfdrive/controls/lib/events.py
Due: pylint

nav model + driving style
  selfdrive/manager/process_config.py
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/nav.h
  selfdrive/modeld/models/navmodel.onnx
  selfdrive/modeld/models/navmodel_q.dlc
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/runners/thneedmodel.cc
Due: pylint, cppcheck

lat planner retune + slow down for turns
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

navd: recompute if far for > 3 steps
  selfdrive/navd/navd.py
Due: pylint

rename LatCtl mode to lca_rq
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
Due: pylint

LatControlCurvature: fix desired steering angle/saturation check
  selfdrive/controls/lib/latcontrol_curvature.py
Due: pylint

model_replay: use last N frames of segment so navRoute is valid
  selfdrive/test/process_replay/model_replay.py
Due: pylint

typo
  selfdrive/navd/navd.py
Due: pylint

Use llk logMonoTime for MapRenderState.locationMonoTime
  selfdrive/navd/map_renderer.cc
Due: cppcheck

Record mapRenderState
  selfdrive/test/process_replay/model_replay.py
Due: pylint

HKG: Add FW Versions for Southeast Asia Kia EV6 2022 HDA1 (#26795)
  docs/CARS.md
  selfdrive/car/hyundai/values.py
Due: pylint

init laikad switch
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: pylint, cppcheck

re-add map gnss usage
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/ui.cc
Due: cppcheck

.
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

test for drive
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: pylint, cppcheck

cleanUP
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
Due: pylint, cppcheck

.
  selfdrive/locationd/locationd.cc
Due: cppcheck

change logging
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

make drive ready
  selfdrive/locationd/locationd.cc
Due: cppcheck

cleanUp
  selfdrive/locationd/locationd.cc
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/ui.cc
Due: cppcheck

driving ready
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

test version
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
Due: pylint, cppcheck

fix bearing
  selfdrive/locationd/locationd.cc
Due: cppcheck

v1
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

init update
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
Due: cppcheck

wip..
  selfdrive/car/mock/interface.py
  selfdrive/thermald/thermald.py
Due: pylint

change timing name
  selfdrive/locationd/laikad.py
Due: pylint

.
  selfdrive/locationd/laikad.py
Due: pylint

finish sympy impl
  selfdrive/locationd/laikad_helpers.py
Due: pylint

add proper velocity
  selfdrive/locationd/laikad.py
  selfdrive/locationd/laikad_helpers.py
  selfdrive/locationd/locationd.cc
Due: pylint, cppcheck

upsi
  selfdrive/locationd/locationd.cc
Due: cppcheck

remove cache cleanUp
  selfdrive/locationd/laikad.py
Due: pylint

remove logging
  selfdrive/locationd/laikad.py
Due: pylint

change loss to matrices, needs cleanUp
  selfdrive/locationd/laikad_helpers.py
Due: pylint

convert to sympy
  selfdrive/locationd/laikad_helpers.py
Due: pylint
