Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Increase low speed jerk cost
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
Due: pylint

Update planner weight
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

Update lateral_planner.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

cleanup and refactor
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

CAN FD non-ISO support
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Due: cppcheck

modify checksum when bit flipped
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/gmcan.py
Due: pylint

so i can test without restarting
  selfdrive/car/gm/gmcan.py
Due: pylint

Add ip and port arguments
  tools/sim/bridge.py
Due: pylint

Add descriptions of ip and port arguments
  tools/sim/README.md
Due: none

Update README.md
  tools/sim/README.md
Due: none

clean up
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/gmcan.py
Due: pylint

comment
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Due: pylint

also fix this
  selfdrive/car/gm/gmcan.py
Due: pylint

Update selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/carstate.py
Due: pylint

filter dbc files bye typing
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

remove all charts if dbc file changed
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/parser.cc
  tools/cabana/parser.h
Due: none

if gm cam, start steering cmd at last pt counter
  selfdrive/car/gm/carstate.py
Due: pylint

fix wrong idx
  tools/cabana/messageswidget.cc
Due: none

set to 0 for testing
  selfdrive/car/gm/carstate.py
Due: pylint

don't see a reason to check loopback freq
  selfdrive/car/gm/carstate.py
Due: pylint

Add GM button msg checksum
  selfdrive/car/gm/gmcan.py
Due: pylint

bolder dbc filename
  tools/cabana/messageswidget.cc
Due: none

rename
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
Due: pylint

Kia: update Optima platform name (#25852)
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: pylint

update chart if signal has been edited
  tools/cabana/chartswidget.cc
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/cabana/signaledit.cc
Due: none

new signals signalAdded,signalUpdated
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/cabana/signaledit.cc
Due: none

disabling checks on loopback bus
  selfdrive/car/gm/carstate.py
Due: pylint

split class Parser into CanMessages and DBCManager
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
  tools/cabana/videowidget.cc
Due: none

cleanup
  tools/cabana/cabana.cc
  tools/cabana/dbcmanager.cc
  tools/cabana/detailwidget.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/replay/main.cc
  tools/replay/replay.h
  tools/replay/tests/test_replay.cc
Due: none

updateState after set message
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

cleanup
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/mainwin.cc
  tools/cabana/signaledit.cc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
