Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

Add 2019 Highlander Hybrid (#2412)
  selfdrive/car/toyota/values.py
Due: pylint

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

simplify cache keys
  .github/workflows/test.yaml
  selfdrive/controls/tests/test_startup.py
Due: pylint

Update test_car_models.py
  selfdrive/test/test_car_models.py
Due: pylint

smarter cache allocation
  .github/workflows/test.yaml
Due: none

restore behavior
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

just use the same
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

restore behavior (#2418)
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

Adding Lexus NX 300 and Cabana drives for merge
  selfdrive/car/toyota/valuesnew.py
Due: pylint

removing test file
  selfdrive/car/toyota/valuesnew.py
Due: pylint

Update README.md
  README.md
Due: none

Update test.yaml
  .github/workflows/test.yaml
Due: none

fix cpu test thresholds after downclock
  selfdrive/test/test_cpu_usage.py
Due: pylint

Adding Test Drive for Lexus NX 300
  selfdrive/test/test_car_models.py
Due: pylint

Additional CAR.CAMRY f/w
  selfdrive/car/toyota/values.py
Due: pylint

Additional CAR.CAMRY f/w (#2422)
  selfdrive/car/toyota/values.py
Due: pylint

fix camera malfunction alert on startup
  selfdrive/controls/controlsd.py
Due: pylint

enable event processing in UI
  selfdrive/ui/android/ui.cc
Due: cppcheck

clean up 1
  common/transformations/camera.py
  common/transformations/model.py
  selfdrive/modeld/modeld.cc
Due: pylint, cppcheck

complain
  common/transformations/model.py
Due: pylint

sm doesn't have a msg yet
  selfdrive/controls/controlsd.py
Due: pylint

it's an orange alert
  selfdrive/controls/lib/events.py
Due: pylint

just this for now
  selfdrive/controls/lib/events.py
Due: pylint

grey panda deprecation (#2406)
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Due: pylint

increase timing
  selfdrive/controls/tests/test_startup.py
Due: pylint

remove caching
  .github/workflows/test.yaml
Due: none

previous worked again, reducing diff
  selfdrive/controls/tests/test_startup.py
Due: pylint

try to make fingerprinting run later
  .github/workflows/test.yaml
Due: none

more waiting to attempt to fix test_startup
  selfdrive/controls/tests/test_startup.py
Due: pylint

add more tests
  .github/workflows/test.yaml
Due: none

slight timing cutback and more tests
  selfdrive/controls/tests/test_startup.py
Due: pylint

...
  selfdrive/controls/tests/test_startup.py
Due: pylint
