Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

Update test_car_models.py
  selfdrive/test/test_car_models.py
Due: pylint

new patterns
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
Due: none

final changes
  tools/README.md
Due: none

final change
  tools/README.md
Due: none

improving tools readme (#20305)
  tools/README.md
  tools/carcontrols/README.md
  tools/carcontrols/steer.gif
  tools/replay/README.md
  tools/sim/README.md
  tools/sim/bridge.py
  tools/ubuntu_setup.sh
Due: pylint

operation does not need resuming
  selfdrive/controls/lib/events.py
Due: pylint

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Kia Seltos 2021 (#20321)
  README.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/test/test_car_models.py
Due: pylint

add gts
  .gitignore
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
Due: none

add to jenkis
  Jenkinsfile
Due: none

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

add kia seltos to release notes
  RELEASES.md
Due: none

this more useful
  selfdrive/camerad/test/ae_gray_test.cc
  selfdrive/camerad/test/ae_gray_test.h
Due: none

typo
  selfdrive/camerad/cameras/camera_qcom.cc
Due: cppcheck

Better high speed alert message (#20322)
  selfdrive/controls/lib/events.py
Due: pylint

test only
  selfdrive/camerad/SConscript
Due: none

use loop index (#20307)
  selfdrive/camerad/imgproc/utils.cc
Due: cppcheck

initial commit
  tools/sim/Dockerfile.sim
Due: none

refactor function alloc (#20192)
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Minimize sim docker image size (#20324)
  tools/sim/Dockerfile.sim
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

bump pycapnp version
  Pipfile
  Pipfile.lock
Due: none

bump pycapnp version (#20326)
  Pipfile
  Pipfile.lock
Due: none

FW values for Audi A3 Prestige
  selfdrive/car/volkswagen/values.py
Due: pylint

test flag
  Jenkinsfile
Due: none
