Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Add 2021 Lexus ES to readme
  README.md
Due: none

fix sounds
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
Due: cppcheck

clip arcsin
  common/transformations/orientation.cc
Due: cppcheck

can of course be negative
  common/transformations/orientation.cc
Due: cppcheck

no gl?
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

clip arcsin to prevent locationd orientation NaN (#20868)
  common/transformations/orientation.cc
Due: cppcheck

cleanup
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

offroad alert for unregistered devices
  selfdrive/athena/registration.py
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/manager/manager.py
Due: pylint

update tests
  selfdrive/athena/tests/test_registration.py
  selfdrive/manager/manager.py
Due: pylint

match nvg onroad alerts (#20854)
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/ui.cc
Due: cppcheck

add param
  selfdrive/common/params.cc
Due: cppcheck

remove offset from full screen onroad alerts
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

onroad UI optimizations
  selfdrive/ui/qt/'
  selfdrive/ui/qt/onroad.h
Due: cppcheck

remove that
  selfdrive/ui/qt/'
Due: none

onroad UI optimizations (#20871)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

update release notes
  RELEASES.md
Due: none

fix stretch
  selfdrive/ui/qt/widgets/offroad_alerts.cc
Due: cppcheck

offroad alert for unregistered devices (#20870)
  selfdrive/athena/registration.py
  selfdrive/athena/tests/test_registration.py
  selfdrive/common/params.cc
  selfdrive/controls/lib/alerts_offroad.json
  selfdrive/manager/manager.py
  selfdrive/ui/qt/widgets/offroad_alerts.cc
Due: pylint, cppcheck

Change wwan power command
  selfdrive/thermald/thermald.py
Due: pylint

store all files in /sys/fs/pstore in bootlog
  selfdrive/common/params.cc
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/loggerd/bootlog.cc
Due: cppcheck

whitespace
  selfdrive/loggerd/bootlog.cc
Due: cppcheck

fix bootlog test
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

2021 Acura RDX
  selfdrive/car/honda/values.py
Due: pylint

Change wwan power command (#20874)
  selfdrive/thermald/thermald.py
Due: pylint

Update README.md to include 21 Subaru Forester as supported car
  README.md
Due: none

time checks
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/models/live_kf.cc
  selfdrive/locationd/models/live_kf.h
Due: cppcheck

no debug print
  selfdrive/locationd/locationd.cc
Due: cppcheck

Add test route for VW Atlas
  selfdrive/test/test_routes.py
Due: pylint

Add support for VW Atlas
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/values.py
Due: pylint

Add Atlas to README
  README.md
Due: none

correct timestamps in test
  selfdrive/locationd/test/test_locationd.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
