Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

can also do this
  selfdrive/car/interfaces.py
Due: mypy

Add missing files to generated sources
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

but unclear
  selfdrive/car/interfaces.py
Due: mypy

Typo fix
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
Due: none

messaging_python dep
  SConstruct
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

pandad: recover from bad bootstub
  selfdrive/boardd/pandad.py
  selfdrive/boardd/tests/test_pandad.py
Due: mypy

more
  selfdrive/boardd/pandad.py
  selfdrive/boardd/tests/test_pandad.py
Due: mypy

adjust that
  selfdrive/boardd/pandad.py
  system/hardware/tici/hardware.py
Due: mypy

ugh guess multipanda is still a thing
  selfdrive/boardd/pandad.py
Due: mypy

reset
  selfdrive/boardd/pandad.py
Due: mypy

dynamically add
  selfdrive/assets/assets.qrc
  selfdrive/ui/SConscript
Due: none

not sure if required
  release/files_common
Due: none

fix translations not being updated for widgets
  selfdrive/ui/SConscript
Due: none

Fix condition
  selfdrive/modeld/SConscript
Due: none

build before
  selfdrive/ui/SConscript
Due: none

revert to master
  selfdrive/ui/SConscript
Due: none

move translations above assets
  selfdrive/ui/SConscript
Due: none

Fix missing json11 references
  selfdrive/modeld/SConscript
Due: none

add translations to qrc file
  selfdrive/ui/SConscript
Due: none

comment
  selfdrive/ui/SConscript
Due: none

Remove thneed build flags
  SConstruct
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/driving.pxd
  selfdrive/modeld/models/driving_pyx.pyx
  selfdrive/modeld/runners/run.h
Due: mypy, cppcheck

Fix shebang. Fix LD_PRELOAD
  selfdrive/modeld/dmonitoringmodeld
  selfdrive/modeld/modeld
  selfdrive/modeld/navmodeld
Due: none

now add translations_assets_src to assets sources
  selfdrive/ui/SConscript
Due: none

Added thneed_pc to files_common
  release/files_common
Due: none

this is built
  release/files_common
Due: none

add to .gitignore
  selfdrive/assets/.gitignore
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
