Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

alertmanager type hints (#2201)
  selfdrive/controls/lib/alertmanager.py
Due: pylint

quick lgtm fixes
  selfdrive/debug/cycle_alerts.py
  selfdrive/ui/qt/settings.cc
Due: pylint, cppcheck

add type hints to selfdrive/version.py
  selfdrive/test/process_replay/camera_replay.py
  selfdrive/test/process_replay/update_model.py
  selfdrive/test/process_replay/update_refs.py
  selfdrive/version.py
Due: pylint

Use cache to find the next file to upload
  selfdrive/loggerd/uploader.py
Due: pylint

read bool param with read_db_bool
  selfdrive/loggerd/loggerd.cc
  selfdrive/ui/qt/settings.cc
Due: cppcheck

fix bug in params.cc
  selfdrive/boardd/boardd.cc
  selfdrive/common/params.cc
  selfdrive/common/params.h
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/settings.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

ioniq -> ioniq_hev
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
Due: pylint

improve concurrency: multiple readers, single writer locks
  common/params.py
  selfdrive/common/params.cc
Due: pylint, cppcheck

touch.c:deleting useless function
  selfdrive/common/touch.c
  selfdrive/common/touch.h
Due: cppcheck

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Update interface.py
  selfdrive/car/hyundai/interface.py
Due: pylint

fix
  selfdrive/car/hyundai/interface.py
Due: pylint

hyundai car brand sort
  selfdrive/car/hyundai/interface.py
Due: pylint

fix
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

hyundai lfa set is value @xx979xx
  selfdrive/car/hyundai/carcontroller.py
Due: pylint

fix
  selfdrive/car/hyundai/values.py
Due: pylint

hyundai car brand sort
  selfdrive/car/hyundai/values.py
Due: pylint

use_elect_ems set value
  selfdrive/car/hyundai/carstate.py
Due: pylint

hyundai kia car info add
  README.md
Due: none

elect_ems add fix
  selfdrive/car/hyundai/carstate.py
Due: pylint

Update test_car_models.py
  selfdrive/test/test_car_models.py
Due: pylint

Update test_startup.py
  selfdrive/controls/tests/test_startup.py
Due: pylint

Update carstate.py
  selfdrive/car/hyundai/carstate.py
Due: pylint

Update hyundaican.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

cleanup long planner, mpc: unused globals and arguments
  selfdrive/controls/lib/long_mpc.py
  selfdrive/controls/lib/planner.py
  selfdrive/controls/tests/test_following_distance.py
Due: pylint

Revert "tici: take into account frame timestamp (#2199)"
  selfdrive/controls/lib/pathplanner.py
Due: pylint

remove parallel url downloader
  tools/lib/filereader.py
  tools/lib/url_file_parallel.py
Due: pylint
