Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update RELEASES.md old-commit-hash: ce14deb83f0db5ee020add8887f6ec4f5cf76d4e
  RELEASES.md
Due: none

Update RELEASES.md
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: dfad3d22dcbe5ae9ec97d787f86ebd9be37804e6
  RELEASES.md
Due: none

const referer
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

engine and transmission only
  selfdrive/car/fw_versions.py
Due: pylint

Added support for APA racks
  selfdrive/debug/vw_mqb_config.py
Due: pylint

Chrysler: add engine-specific FW request for some cars (#25503)
  selfdrive/car/chrysler/values.py
  selfdrive/car/fw_versions.py
Due: pylint

Static analysis fix
  selfdrive/debug/vw_mqb_config.py
Due: pylint

Update translations
  selfdrive/ui/translations/main_nl.ts
Due: none

Update translations
  selfdrive/ui/translations/main_ar.ts
Due: none

don't show lang for now
  selfdrive/ui/translations/languages.json
Due: none

Add Arabic Translation (#25269)
  selfdrive/ui/translations/main_ar.ts
Due: none

Prius v also doesn't send ACC_HUD
  selfdrive/car/toyota/carcontroller.py
Due: pylint

common
  selfdrive/car/toyota/carcontroller.py
Due: pylint

Toyota: don't send ACC_HUD on Prius V (#25539)
  selfdrive/car/toyota/carcontroller.py
Due: pylint

Static analysis fix2
  selfdrive/debug/vw_mqb_config.py
Due: pylint

getTextRect: pass text by const reference (#25555)
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

build test files by default
  .github/workflows/selfdrive_tests.yaml
  SConstruct
Due: none

only on master based
  SConstruct
Due: none

build test files by default (#25515)
  .github/workflows/selfdrive_tests.yaml
  SConstruct
Due: none

V4LEncoder: set bytesused to buf->len (#25050)
  selfdrive/loggerd/encoder/v4l_encoder.cc
Due: cppcheck

update webcam readme
  tools/webcam/README.md
Due: none

update webcam readme old-commit-hash: 051e1e0a062e0eb398e9bb16291b95ba3ae497eb
  tools/webcam/README.md
Due: none

secret formula v2
  selfdrive/car/toyota/carstate.py
Due: pylint

more reliable check
  SConstruct
Due: none

can use the more interesting segment now
  selfdrive/car/tests/routes.py
Due: pylint

fix and improve pt-BR translation
  selfdrive/ui/translations/main_pt.ts
Due: none

only build camera test on pc
  system/camerad/SConscript
Due: none

controlsd: disambiguate can error and can socket lag
  selfdrive/controls/controlsd.py
Due: pylint

controlsd: disambiguate can error and can socket lag (#25559)
  selfdrive/controls/controlsd.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
