Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Rename action to compile-openpilot
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
Due: none

move push_image line to tag_multiarch step
  .github/workflows/selfdrive_tests.yaml
Due: none

fix
  selfdrive/car/mock/interface.py
Due: mypy

arch suffix for scons cache
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup/action.yaml
Due: none

cache_key_prefix for setup-with-retry
  .github/workflows/setup-with-retry/action.yaml
Due: none

Re-disable docker_push on non-master
  .github/workflows/selfdrive_tests.yaml
Due: none

clean up
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Due: mypy

add test to assert no crashing
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy

clean up hyundai
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy

fix print
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/car/toyota/values.py
Due: mypy

fix startup
  selfdrive/controls/tests/test_startup.py
Due: mypy

cleanup downloads folders
  common/prefix.py
Due: mypy

Add newlines
  .github/workflows/setup-with-retry/action.yaml
  selfdrive/test/docker_common.sh
Due: none

more clean up, fix med pattern
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Due: mypy

DontUseNativeDialog
  tools/cabana/common/colordlg.cc
Due: none

Fix multiarch merge script
  .github/workflows/selfdrive_tests.yaml
Due: none

replace TEST_RLOG_URL with a publicly accessible url
  tools/cabana/tests/test_cabana.cc
Due: none

add documentation
  selfdrive/car/toyota/values.py
Due: mypy

unset TARGET_ARCHITECTURE before running build
  .github/workflows/selfdrive_tests.yaml
Due: none

use major version
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Due: mypy

replace REQUIRE with assert
  system/loggerd/tests/test_logger.cc
Due: cppcheck

add get_platform_codes function
  selfdrive/car/toyota/values.py
Due: mypy

add print_platform_codes.py
  selfdrive/car/toyota/tests/print_platform_codes.py
Due: mypy

add test
  selfdrive/car/toyota/tests/test_toyota.py
Due: mypy

not optional
  selfdrive/car/toyota/values.py
Due: mypy

Updated model input names to match onnx inputs
  selfdrive/modeld/dmonitoringmodeld.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/navmodeld.py
Due: mypy

constant
  selfdrive/car/toyota/values.py
Due: mypy

remove optional
  selfdrive/car/toyota/values.py
Due: mypy
