Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

+ fwdCamera for 2023 Tucson Limited ICE
  selfdrive/car/hyundai/fingerprints.py
Due: mypy

put within a function
  launch_chffrplus.sh
Due: none

qcomgpsd: don't send bad time assistance
  system/qcomgpsd/qcomgpsd.py
Due: mypy

add param for targe channel and test for migration
  common/params.cc
  system/updated/tests/test_updated.py
  system/updated/updated.py
Due: mypy, cppcheck

env variable
  selfdrive/manager/process_config.py
Due: mypy

migrater
  selfdrive/manager/manager.py
  selfdrive/manager/migration.py
Due: mypy

Add hack for HDA2 with no ADAS ECU
  selfdrive/car/hyundai/interface.py
Due: mypy

also remove the directory
  selfdrive/manager/migration.py
Due: mypy

Hyundai CAN-FD: Add LKAS and LKAS_ALT messages to HDA2 init
  selfdrive/car/hyundai/interface.py
Due: mypy

fix with environment variable
  selfdrive/manager/process_config.py
  selfdrive/test/helpers.py
Due: mypy

use existing api host
  system/updated/updated.py
Due: mypy

use environment variable
  selfdrive/manager/process_config.py
Due: mypy

cleanup
  common/api/__init__.py
  selfdrive/test/helpers.py
  system/updated/tests/test_updated.py
  system/updated/updated.py
Due: mypy

spaces
  common/api/__init__.py
Due: mypy

more generic
  system/hardware/base.py
  system/hardware/pc/hardware.py
  system/hardware/tici/hardware.py
  system/updated/casync/casync.py
  system/updated/tests/test_updated.py
  system/updated/updated.py
Due: mypy

revert that
  system/updated/casync/casync.py
Due: mypy

don't run in ci for now
  pyproject.toml
Due: none

better name
  system/camerad/cameras/real_debayer.cl
Due: none

no cross references
  selfdrive/updated/tests/test_base.py
  selfdrive/updated/tests/test_git.py
  system/updated/tests/test_updated.py
Due: mypy

inline
  selfdrive/manager/process_config.py
Due: mypy

build agnos
  Jenkinsfile
  release/create_casync_agnos_release.py
  release/create_release_manifest.py
Due: mypy

not the wrong one
  system/camerad/sensors/os04c10.cc
Due: cppcheck

include path
  Jenkinsfile
  release/create_release_manifest.py
Due: mypy

need trans
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

cleanup
  Jenkinsfile
  release/create_release_manifest.py
  tools/lib/azure_container.py
Due: mypy

rm this
  tools/lib/azure_container.py
Due: mypy

test it
  Jenkinsfile
Due: none

all agnos partitions are AB
  release/create_release_manifest.py
Due: mypy

fix that
  release/create_release_manifest.py
  system/version.py
Due: mypy

correct
  release/create_casync_agnos_release.py
Due: mypy

build agnos first
  Jenkinsfile
Due: none

better temp dir
  Jenkinsfile
  release/create_casync_agnos_release.py
Due: mypy

revert the order
  Jenkinsfile
Due: none

not anymore relevant
  selfdrive/test/process_replay/test_debayer.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
