Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

tools/lib: add auto_camera_source for multi-source camera file resolution
  tools/lib/file_sources.py
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Due: mypy

pandad: remove USB panda support
  selfdrive/pandad/SConscript
  selfdrive/pandad/main.cc
  selfdrive/pandad/panda.cc
  selfdrive/pandad/panda.h
  selfdrive/pandad/panda_comms.cc
  selfdrive/pandad/panda_comms.h
  selfdrive/pandad/panda_safety.cc
  selfdrive/pandad/pandad.cc
  selfdrive/pandad/pandad.h
  selfdrive/pandad/pandad.py
  selfdrive/pandad/spi.cc
Due: mypy, cppcheck

Remove Asius WebRTC integration
  common/params_keys.h
  selfdrive/assets/asius/webrtc_short.png
  selfdrive/ui/layouts/settings/asius.py
  selfdrive/ui/mici/layouts/settings/asius.py
  system/athena/athenad.py
  system/manager/process_config.py
  system/webrtc/session_manager.py
Due: mypy, cppcheck

Move Asius driving toggles into settings
  selfdrive/ui/layouts/settings/asius.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/mici/layouts/settings/asius.py
  selfdrive/ui/mici/layouts/settings/settings.py
  selfdrive/ui/mici/layouts/settings/toggles.py
Due: mypy

Clean up unused Asius logo assets
  selfdrive/assets/asius/asius.png
  selfdrive/assets/asius/asius_icon.png
  selfdrive/assets/asius/asius_short.png
  selfdrive/assets/asius/spinner_asius.png
Due: none

Adjust Asius spinner logo padding
  selfdrive/assets/asius/spinner_asius.png
Due: none

Default API hosts to Asius
  common/params_keys.h
Due: cppcheck

dongleId to public key
  common/api.py
  system/athena/registration.py
  system/athena/tests/test_registration.py
  tools/jotpluggler/sketch_layout.cc
  tools/lib/helpers.py
  tools/lib/route.py
  tools/replay/route.cc
  tools/scripts/ssh.py
Due: mypy

jenkins: fix mici release branch pushing
  Jenkinsfile
  release/build_release.sh
Due: none

needs to be a real release branch name for the tests
  release/build_release.sh
  selfdrive/test/setup_device_ci.sh
Due: none

Revert "webrtcd: turn CerealProxyRunner into more general AsyncTaskRunner (#38093)"
  system/webrtc/webrtcd.py
Due: mypy

Revert "fix frame timing feature in webrtcd (#38090)"
  system/webrtc/webrtcd.py
Due: mypy

Revert "remote teleop frame timing support (#38014)"
  system/webrtc/device/video.py
  system/webrtc/webrtcd.py
Due: mypy

Revert "remote teleop multi-stream on 1 video track (#38013)"
  system/athena/athenad.py
  system/loggerd/loggerd.h
  system/webrtc/device/video.py
  system/webrtc/webrtcd.py
  tools/bodyteleop/web.py
Due: mypy, cppcheck

Revert "remote body teleop from connect support (#38011)"
  system/athena/athenad.py
  system/webrtc/webrtcd.py
Due: mypy

Revert "bump to 0.11.2"
  RELEASES.md
  common/version.h
Due: cppcheck

tinygrad doesn't need to run in 'MainProcess'?
  system/manager/process.py
Due: mypy

rm tooDistracted, add distractedTypes
  selfdrive/test/process_replay/migration.py
Due: mypy

use round
  selfdrive/test/process_replay/migration.py
Due: mypy

ugly ipc through params
  common/params_keys.h
  selfdrive/modeld/big_modeld.py
  selfdrive/modeld/router.py
  system/manager/process_config.py
Due: mypy, cppcheck

more
  selfdrive/test/process_replay/migration.py
Due: mypy

import
  selfdrive/modeld/router.py
Due: mypy

fix
  selfdrive/modeld/router.py
Due: mypy

fix2
  selfdrive/test/process_replay/migration.py
Due: mypy

migration: fix missing and wrong fields in driverMonitoringStateDEPRECATED (#38105)
  selfdrive/test/process_replay/migration.py
Due: mypy

change to Param
  cereal/log.capnp
  cereal/services.py
  common/params.h
  common/params_keys.h
  system/loggerd/encoderd.cc
  system/webrtc/webrtcd.py
Due: mypy, cppcheck

remove getInt helper; add back in diff pr
  common/params.h
  system/loggerd/encoderd.cc
Due: cppcheck

manager: remove obsolete tinygrad `MainProcess` workaround (#38104)
  system/manager/process.py
Due: mypy

reword unclear error message
  system/loggerd/encoder/v4l_encoder.cc
Due: cppcheck

move webrtcd change to new branch
  system/webrtc/webrtcd.py
Due: mypy

hw encoder: set_bitrate and apply_bitrate based on Param (#38095)
  common/params_keys.h
  system/loggerd/encoder/encoder.h
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.h
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/encoder/v4l_encoder.h
  system/loggerd/encoderd.cc
  system/loggerd/loggerd.h
Due: cppcheck

bitrate controller
  system/webrtc/webrtcd.py
Due: mypy

modeld/SConscript: tg_devices depends on tg_backend only
  selfdrive/modeld/SConscript
Due: none

modeld/SConscript: tg_devices depends on tg_backend only (#38108)
  selfdrive/modeld/SConscript
Due: none

fix class name
  common/parameterized.py
Due: mypy

comment
  common/parameterized.py
Due: mypy

parameterized_class: fix class name (#38109)
  common/parameterized.py
Due: mypy

check angle matches safety
  selfdrive/car/tests/test_models.py
Due: mypy

add to fuzzy
  selfdrive/car/tests/test_models.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
