Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

cabana: show persistent fps counter (#38898)
  openpilot/tools/cabana/ui/mainwin.cc
Due: none

cabana: reserve space for the signal panel
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
Due: none

cabana: prevent signal panel collapse (#38903)
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
Due: none

cabana: keep chart tooltips below menus
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/tiplabel.cc
  openpilot/tools/cabana/ui/chart/tiplabel.h
Due: none

cabana: keep messages and logs switch border
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
Due: none

cabana: flatten signal panel containers
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: flatten signal panel containers (#38904)
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: exclude popup menus from plot hover
  openpilot/tools/cabana/ui/chart/chart.cc
Due: none

cabana: disable tool window collapse
  openpilot/tools/cabana/ui/tools/tooldialog.h
Due: none

cabana: remove message table outer border
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
Due: none

cabana: stop chart tooltips over menus (#38905)
  openpilot/tools/cabana/ui/chart/chart.cc
  openpilot/tools/cabana/ui/chart/chartswidget.cc
  openpilot/tools/cabana/ui/chart/tiplabel.cc
  openpilot/tools/cabana/ui/chart/tiplabel.h
Due: none

cabana: unify video and live stream titles
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/mainwin.h
Due: none

cabana: disable tool window collapse (#38906)
  openpilot/tools/cabana/ui/tools/tooldialog.h
Due: none

cabana: put stream before dbc in window title
  openpilot/tools/cabana/ui/mainwin.cc
Due: none

cabana: show fingerprint in route details
  openpilot/tools/cabana/ui/tools/routeinfo.cc
Due: none

cabana: remove message table outer border (#38907)
  openpilot/tools/cabana/ui/widgets/messageswidget.cc
Due: none

cabana: unify video and live stream titles (#38908)
  openpilot/tools/cabana/ui/mainwin.cc
  openpilot/tools/cabana/ui/mainwin.h
  openpilot/tools/cabana/ui/tools/routeinfo.cc
Due: none

cabana: unify menu highlight colors
  openpilot/tools/cabana/ui/theme.cc
Due: none

cabana: preserve selected menu color on hover
  openpilot/tools/cabana/ui/dropdown.h
  openpilot/tools/cabana/ui/theme.cc
Due: none

cabana: preserve selected menu color on hover (#38909)
  openpilot/tools/cabana/ui/dropdown.h
Due: none

cabana: balance signal action spacing
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: balance signal action spacing (#38911)
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: preserve master remove action
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: match remove icon to selected row
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: improve signal panel layout
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/detailwidget.h
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
Due: none

cabana: match row actions to selection colors
  openpilot/tools/cabana/ui/widgets/signalview.cc
Due: none

cabana: improve signal panel layout (#38910)
  openpilot/tools/cabana/ui/widgets/detailwidget.cc
  openpilot/tools/cabana/ui/widgets/detailwidget.h
  openpilot/tools/cabana/ui/widgets/signalview.cc
  openpilot/tools/cabana/ui/widgets/signalview.h
Due: none

slop
  launch_env.sh
  openpilot/common/camera120.h
  openpilot/common/camera120.py
  openpilot/selfdrive/selfdrived/selfdrived.py
  openpilot/selfdrive/selfdrived/tests/test_camera120.py
  openpilot/system/camerad/cameras/camera_qcom2.cc
  openpilot/system/camerad/cameras/hw.h
  openpilot/system/camerad/cameras/spectra.cc
  openpilot/system/camerad/main.cc
  openpilot/system/camerad/sensors/os04c10.cc
  openpilot/system/camerad/sensors/os04c10_720p_registers.h
  openpilot/system/camerad/sensors/sensor.h
  openpilot/system/camerad/test/720p120.md
  openpilot/system/loggerd/encoder/v4l_encoder.cc
  openpilot/system/loggerd/encoderd.cc
  openpilot/system/loggerd/loggerd.h
  openpilot/system/manager/manager.py
  openpilot/system/manager/process_config.py
  openpilot/system/manager/test/test_camera120.py
  openpilot/system/webrtc/device/video.py
  openpilot/system/webrtc/tests/test_camera120.py
  openpilot/system/webrtc/webrtcd.py
  scripts/camera120.html
  scripts/camera120.py
Due: mypy, cppcheck

modeld: recover big model with one process restart
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

modeld: retry big model loading once
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

Use manager lifecycle for one Chestnut model retry
  openpilot/selfdrive/modeld/modeld.py
  openpilot/system/manager/manager.py
Due: mypy

Remove redundant Chestnut retry eligibility checks
  openpilot/system/manager/manager.py
Due: mypy

Preserve active big model identity across ignition
  openpilot/common/params_keys.h
Due: cppcheck

Retry Chestnut model once through process eligibility
  openpilot/common/params_keys.h
  openpilot/selfdrive/modeld/modeld.py
  openpilot/system/manager/manager.py
  openpilot/system/manager/process_config.py
Due: mypy, cppcheck

rearrange
  openpilot/common/esim/base.py
  openpilot/common/hardware/comma/hardware.py
  openpilot/common/hardware/comma/modem.py
Due: mypy

locationd: fix critical_services spelling
  openpilot/selfdrive/locationd/locationd.py
Due: mypy

Update Python packages
  uv.lock
Due: none

locationd: fix critical_services spelling (#38912)
  openpilot/selfdrive/locationd/locationd.py
Due: mypy

Link separately compiled model warps and batch input uploads
  openpilot/selfdrive/modeld/SConscript
  openpilot/selfdrive/modeld/compile_modeld.py
  openpilot/selfdrive/modeld/compile_warp.py
  openpilot/selfdrive/modeld/jit.py
  openpilot/selfdrive/modeld/modeld.py
Due: mypy
