Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

loggerd: small cleanup (#19864)
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

dmonitoring: use the same way as driving to build model output more clearly (#19933)
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

OMXEncoder: remove pthread_mutex_t lock from member variables (#19948)
  release/files_common
  selfdrive/common/mutex.h
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Due: cppcheck

pigeon_publish_raw: use capnp::Data::Reader instead of Builder (#19952)
  selfdrive/boardd/boardd.cc
Due: cppcheck

rebase master
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

rebase master
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/dmonitoring.h
Due: cppcheck

rebase master
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

rebase master
  selfdrive/modeld/models/dmonitoring.h
Due: cppcheck

Updated with suggested change
  common/api/__init__.py
Due: pylint

esp carFw missing. Car is 2021 Hyundai Sonata SEL
  selfdrive/car/hyundai/values.py
Due: pylint

use c++ mutex&condition_variable
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Due: cppcheck

rebase
  selfdrive/loggerd/omx_encoder.cc
Due: cppcheck

Test to check return type of get_token()
  common/tests/test_get_token.py
Due: pylint

Update test_get_token.py
  common/tests/test_get_token.py
Due: pylint

refactor get_frame_image
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

pigeon_thread: ensure the pigeon->init() will not be called twice (#19963)
  selfdrive/boardd/boardd.cc
Due: cppcheck

Add ESP FW for 2021 Hyundai Sonata SEL (#19980)
  selfdrive/car/hyundai/values.py
Due: pylint

build release3
  release/build_release3.sh
  release/files_common
Due: none

copy agnos manifest
  release/build_release3.sh
  release/files_common
Due: none

build in jenkins
  Jenkinsfile
Due: none

nproc doesn't work
  Jenkinsfile
  selfdrive/common/version.h
  selfdrive/ui/SConscript
Due: cppcheck

no pandaextra
  release/build_release3.sh
Due: none

revert that
  selfdrive/common/version.h
  selfdrive/ui/SConscript
Due: cppcheck

don't modify version from source
  Jenkinsfile
  release/build_release3.sh
Due: none

build after tests
  Jenkinsfile
Due: none

restore the symlink
  Jenkinsfile
Due: none

get_frame_image: moved the global variables into function static (#19982)
  selfdrive/camerad/cameras/camera_common.cc
Due: cppcheck

only master
  Jenkinsfile
Due: none

remove apk
  release/build_release3.sh
Due: none

revert that
  Jenkinsfile
Due: none

build release3 (#19984)
  Jenkinsfile
  release/build_release3.sh
  release/files_common
Due: none

copy continue.sh into release3
  release/build_release3.sh
Due: none
