Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

LongitudinaPlanner: add comment about lateral accel calculation (#24096)
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

put camera/GPU IRQs on core 3
  launch_chffrplus.sh
Due: none

body is gold
  docs/CARS.md
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint, cppcheck

handle no llk
  selfdrive/car/body/carcontroller.py
  selfdrive/car/tests/test_models.py
Due: pylint

oops
  docs/CARS.md
  selfdrive/car/body/interface.py
Due: pylint

add button controlled car unit test
  selfdrive/controls/tests/test_cruise_buttons.py
Due: pylint

litte more
  selfdrive/car/body/interface.py
  selfdrive/car/docs_definitions.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint

add more logging to camera sensor probe
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

car port: comma body (#24019)
  docs/CARS.md
  selfdrive/car/body/__init__.py
  selfdrive/car/body/bodycan.py
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/car/body/interface.py
  selfdrive/car/body/radar_interface.py
  selfdrive/car/body/values.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint

flip that
  selfdrive/car/body/carcontroller.py
Due: pylint

stash
  common/conversions.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/tests/test_cruise_buttons.py
  selfdrive/controls/tests/test_cruise_speed.py
Due: pylint

MacOS build does in fact work with FFMPEG v5
  tools/mac_setup.sh
Due: none

clean up
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/tests/test_cruise_buttons.py
Due: pylint

sidebar: the word SEARCHING didn't fit
  selfdrive/ui/qt/sidebar.cc
Due: cppcheck

body: locationd support
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
Due: pylint, cppcheck

fewer hacks
  selfdrive/car/body/carcontroller.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/models/live_kf.py
Due: pylint, cppcheck

my body is never still
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/locationd/locationd.cc
Due: pylint, cppcheck

finnish script
  tools/latency_logging/print_timestamps.py
Due: pylint

clean unused
  selfdrive/boardd/boardd.cc
  selfdrive/common/swaglog.cc
  selfdrive/common/swaglog.h
  selfdrive/manager/manager.py
Due: pylint, cppcheck

update comma two
  third_party/acados/aarch64/lib/libacados.so
  third_party/acados/aarch64/lib/libblasfeo.so
Due: none

clean unused logging
  common/logging_extra.py
Due: pylint

body on localizer
  selfdrive/locationd/locationd.cc
Due: cppcheck

minor change
  selfdrive/car/body/carcontroller.py
Due: pylint

move wait back to 5 secs
  selfdrive/car/body/carcontroller.py
Due: pylint

update refs
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

cleanup
  selfdrive/boardd/boardd.cc
Due: cppcheck

try again
  selfdrive/test/process_replay/ref_commit
Due: none

locationd: body support (#24098)
  selfdrive/car/body/carcontroller.py
  selfdrive/car/body/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

update acados again with commit 8ea8827fafb1b23b4c7da1c4cf650de1cbd73584
  third_party/acados/build.sh
  third_party/acados/include/acados/ocp_nlp/ocp_nlp_common.h
  third_party/acados/x86_64/lib/libacados.so
Due: none

monotonic + json fixes
  common/logging_extra.py
  selfdrive/common/swaglog.cc
  selfdrive/common/swaglog.h
  tools/latency_logging/print_timestamps.py
Due: pylint, cppcheck

del test
  tools/latency_logging/print_timestamps.py
  tools/latency_logging/test.py
Due: pylint

remove whilelines
  selfdrive/boardd/boardd.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/common/swaglog.cc
  selfdrive/manager/manager.py
  selfdrive/modeld/modeld.cc
Due: pylint, cppcheck

auto switch
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
Due: cppcheck
