Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

fix livestream bitrate controller
  openpilot/system/webrtc/webrtcd.py
Due: mypy

fix continuation
  openpilot/selfdrive/monitoring/policy.py
Due: mypy

cabana: de-Qt, part 1
  openpilot/tools/cabana/.gitignore
  openpilot/tools/cabana/SConscript
  openpilot/tools/cabana/binaryview.cc
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/chart/chartswidget.cc
  openpilot/tools/cabana/chart/signalselector.cc
  openpilot/tools/cabana/chart/sparkline.cc
  openpilot/tools/cabana/dbc/dbc.cc
  openpilot/tools/cabana/dbc/dbc.h
  openpilot/tools/cabana/dbc/dbcfile.cc
  openpilot/tools/cabana/dbc/dbcfile.h
  openpilot/tools/cabana/dbc/dbcmanager.cc
  openpilot/tools/cabana/dbc/dbcmanager.h
  openpilot/tools/cabana/detailwidget.cc
  openpilot/tools/cabana/historylog.cc
  openpilot/tools/cabana/historylog.h
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/messageswidget.cc
  openpilot/tools/cabana/settings.cc
  openpilot/tools/cabana/settings.h
  openpilot/tools/cabana/signalview.cc
  openpilot/tools/cabana/streams/abstractstream.cc
  openpilot/tools/cabana/streams/abstractstream.h
  openpilot/tools/cabana/streams/livestream.cc
  openpilot/tools/cabana/streams/livestream.h
  openpilot/tools/cabana/streams/replaystream.cc
  openpilot/tools/cabana/streams/replaystream.h
  openpilot/tools/cabana/streamselector.cc
  openpilot/tools/cabana/tests/test_cabana.cc
  openpilot/tools/cabana/tests/test_runner.cc
  openpilot/tools/cabana/utils/export.cc
  openpilot/tools/cabana/utils/export.h
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
  openpilot/tools/cabana/videowidget.cc
Due: none

fix sample
  openpilot/system/webrtc/webrtcd.py
Due: mypy

lil more
  openpilot/tools/cabana/core/can_data.h
  openpilot/tools/cabana/core/color.h
  openpilot/tools/cabana/core/message_id.h
  openpilot/tools/cabana/core/settings.h
  openpilot/tools/cabana/dbc/dbcqt.cc
  openpilot/tools/cabana/dbc/dbcqt.h
  openpilot/tools/cabana/tests/test_cabana.cc
Due: none

modeld: add USB GPU fallback
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

cabana: replace QRandomGenerator with std::mt19937
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/deqt.md
Due: none

cabana: remove QCompleter usage
  openpilot/tools/cabana/chart/signalselector.cc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/signalview.cc
Due: none

cabana: replace QRegExp validators with hand-rolled checks
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/signalview.cc
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
Due: none

cabana: replace QRegularExpression validators with hand-rolled checks
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/signalview.cc
  openpilot/tools/cabana/streams/devicestream.cc
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
Due: none

cabana: replace QDebug/q* logging with fprintf
  openpilot/tools/cabana/binaryview.cc
  openpilot/tools/cabana/cabana.cc
  openpilot/tools/cabana/cameraview.cc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/streams/pandastream.cc
  openpilot/tools/cabana/streams/socketcanstream.cc
Due: none

cabana: replace QCommandLineParser with manual argv parsing
  openpilot/tools/cabana/cabana.cc
  openpilot/tools/cabana/deqt.md
Due: none

cabana: replace QProcess with fork/exec for messaging bridge
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/streams/devicestream.cc
  openpilot/tools/cabana/streams/devicestream.h
Due: none

cabana: replace QSocketNotifier with self-pipe waiter thread
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
Due: none

cabana: drop QPropertyAnimation/QEasingCurve fades
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/videowidget.cc
  openpilot/tools/cabana/videowidget.h
Due: none

cabana: replace QDateTime/QLocale with chrono and C parsing
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/streams/routes.cc
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
Due: none

cabana: drop QGraphics shadow/opacity effects
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/deqt.md
Due: none

ui: show model status
  openpilot/common/params_keys.h
  openpilot/selfdrive/modeld/modeld.py
  openpilot/selfdrive/ui/mici/onroad/hud_renderer.py
  openpilot/selfdrive/ui/ui_state.py
Due: mypy, cppcheck

cabana: replace QJson* with json11
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/mainwin.h
  openpilot/tools/cabana/streams/routes.cc
Due: none

cabana: remove leftover chart/video animation glue
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/chart/chart.h
  openpilot/tools/cabana/chart/chartswidget.cc
  openpilot/tools/cabana/videowidget.cc
  openpilot/tools/cabana/videowidget.h
Due: none

cabana: fix bridge exec detection and message handler teardown
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/streams/devicestream.cc
Due: none

cabana: fix CLI exit codes and DoubleValidator edge cases
  openpilot/tools/cabana/cabana.cc
  openpilot/tools/cabana/utils/util.cc
Due: none

cabana: fix codespell marshalled -> marshaled
  openpilot/tools/cabana/utils/util.h
Due: none

cabana: de-Qt, part 2 (#38359)
  openpilot/tools/cabana/binaryview.cc
  openpilot/tools/cabana/cabana.cc
  openpilot/tools/cabana/cameraview.cc
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/chart/chart.h
  openpilot/tools/cabana/chart/chartswidget.cc
  openpilot/tools/cabana/chart/signalselector.cc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/mainwin.h
  openpilot/tools/cabana/signalview.cc
  openpilot/tools/cabana/streams/devicestream.cc
  openpilot/tools/cabana/streams/devicestream.h
  openpilot/tools/cabana/streams/pandastream.cc
  openpilot/tools/cabana/streams/routes.cc
  openpilot/tools/cabana/streams/socketcanstream.cc
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
  openpilot/tools/cabana/videowidget.cc
  openpilot/tools/cabana/videowidget.h
Due: none

cabana: remove graphics layout APIs
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/deqt.md
Due: none

fix import breaking ci
  openpilot/system/webrtc/webrtcd.py
Due: mypy

cabana: replace Qt shader program wrapper
  openpilot/tools/cabana/cameraview.cc
  openpilot/tools/cabana/cameraview.h
  openpilot/tools/cabana/deqt.md
Due: none

cabana: replace QSettings storage
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/settings.cc
Due: none

modeld: avoid fallback load starvation
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

rm those
  openpilot/tools/cabana/cabana.cc
  openpilot/tools/cabana/deqt.md
Due: none

Revert "modeld: avoid fallback load starvation"
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

modeld: keep small inference alive during big model
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

cabana: remove QVector, QMap, QSet, QPointer
  openpilot/tools/cabana/chart/chart.cc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/messageswidget.cc
  openpilot/tools/cabana/messageswidget.h
  openpilot/tools/cabana/signalview.h
  openpilot/tools/cabana/streams/routes.cc
  openpilot/tools/cabana/streams/routes.h
  openpilot/tools/cabana/tools/findsignal.cc
Due: none

fix that
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/settings.cc
  openpilot/tools/cabana/settings.h
Due: none

clean up and add catches
  openpilot/system/webrtc/device/video.py
  openpilot/system/webrtc/tests/test_stream_session.py
  openpilot/system/webrtc/webrtcd.py
Due: mypy

Revert "modeld: keep small inference alive during big model"
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

modeld: resume small model on big failure
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

cabana: replace QFile/QFileInfo/QDir/QIODevice/QStandardPaths with std::filesystem
  openpilot/tools/cabana/SConscript
  openpilot/tools/cabana/assets/assets.qrc
  openpilot/tools/cabana/deqt.md
  openpilot/tools/cabana/mainwin.cc
  openpilot/tools/cabana/settings.cc
  openpilot/tools/cabana/streams/devicestream.cc
  openpilot/tools/cabana/streams/replaystream.cc
  openpilot/tools/cabana/streams/socketcanstream.cc
  openpilot/tools/cabana/streamselector.cc
  openpilot/tools/cabana/utils/util.cc
  openpilot/tools/cabana/utils/util.h
Due: none
