Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

dashcam only
  selfdrive/car/volkswagen/interface.py
Due: pylint

don't need process_replay yet
  selfdrive/test/process_replay/test_processes.py
Due: pylint

regen CARS.md with Passat NMS in dashcam
  docs/CARS.md
Due: none

New video added
  selfdrive/car/gm/values.py
Due: pylint

Lateral planner: Don't prompt/initiate lane changes if lateral control is not active (#25436)
  selfdrive/controls/lib/desire_helper.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/test/process_replay/process_replay.py
Due: pylint

gm scale up set speed since dbc will factor it
  selfdrive/car/gm/gmcan.py
Due: pylint

can't handle dashcam-orphaned footnotes yet
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: pylint

Multilang: add Portuguese (Brazil) translation (#25287)
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/README.md
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_pt.ts
Due: pylint

Fix Capitalization
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

UI: fix inconsistent capitalization in toggle title (#25441)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

UI: Device Settings Spacing
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Try 2 m/s/s
  selfdrive/car/torque_data/override.yaml
Due: none

Should be good torque values
  selfdrive/car/torque_data/override.yaml
Due: none

Add Silverado test route
  selfdrive/car/tests/routes.py
Due: pylint

Fix translations
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

remove outdated standstill handling
  selfdrive/car/volkswagen/carstate.py
Due: pylint

editor tried to be too helpful at some point
  selfdrive/car/volkswagen/carstate.py
Due: pylint

Car docs: add video link for 2022 Chevy Bolt EUV (#25443)
  selfdrive/car/gm/values.py
Due: pylint

Add to releases
  RELEASES.md
Due: none

All cars must have a harness
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
Due: pylint

except body
  selfdrive/car/tests/test_docs.py
Due: pylint

skip test
  selfdrive/car/tests/test_docs.py
Due: pylint

Add exception for Niro EV
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

add comment
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

different values for now
  selfdrive/controls/controlsd.py
Due: pylint

car interfaces add enable event, controlsd can block it
  selfdrive/car/__init__.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/controls/controlsd.py
Due: pylint

handle button presses in create_common_events
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/volkswagen/interface.py
Due: pylint

Add missing FW versions from 9b052af2986bbe3c
  selfdrive/car/hyundai/values.py
Due: pylint

Honda interface.py: cleanup `stop_and_go` variable
  selfdrive/car/honda/interface.py
Due: pylint

fix log paths ref printing in process replay
  selfdrive/test/process_replay/test_processes.py
Due: pylint

rm that
  selfdrive/test/process_replay/test_processes.py
Due: pylint

this is easier to read
  selfdrive/test/process_replay/test_processes.py
Due: pylint

Q for IoniQ
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
Due: pylint

Add video link for Santa Fe 2022
  selfdrive/car/hyundai/values.py
Due: pylint

Update selfdrive/car/hyundai/values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
