Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

pandad: improve startup time
  selfdrive/boardd/pandad.py
Due: pylint

reduce ram friction
  selfdrive/car/torque_data/override.yaml
Due: none

add test
  selfdrive/boardd/tests/test_pandad.py
Due: pylint

reset with gpio
  selfdrive/boardd/pandad.py
Due: pylint

adjust threshold
  selfdrive/boardd/tests/test_pandad.py
Due: pylint

fix
  selfdrive/boardd/tests/test_pandad.py
Due: pylint

add harness kit content to the doc
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

these aren't needed
  selfdrive/boardd/boardd.cc
Due: cppcheck

add event for steering angle calibrating
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/controls/lib/events.py
Due: pylint

u[pdate refs
  selfdrive/test/process_replay/ref_commit
Due: none

Refactor ReplayContext and ProcessConfig
  selfdrive/test/process_replay/process_replay.py
Due: pylint

how about this
  selfdrive/controls/lib/events.py
Due: pylint

rename
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
  selfdrive/controls/lib/events.py
Due: pylint

more openpilot-y
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
Due: pylint

RAM 1500 5TH GEN: Reduce friction (#28138)
  selfdrive/car/torque_data/override.yaml
  selfdrive/test/process_replay/ref_commit
Due: none

parts as enum
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

camerad: write static AE settings only once (#28134)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/sensor2_i2c.h
Due: cppcheck

nissan
  docs/CARS.md
  selfdrive/car/nissan/values.py
Due: pylint

no panda
  selfdrive/boardd/tests/test_boardd_loopback.py
Due: pylint

loggerd: log HW-specific extras
  system/hardware/base.h
  system/hardware/tici/hardware.h
  system/loggerd/logger.cc
Due: cppcheck

merge column
  docs/CARS.md
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

add comment to code
  selfdrive/car/ford/carstate.py
Due: pylint

move to top
  selfdrive/car/ford/carstate.py
Due: pylint

better wording
  selfdrive/car/ford/carstate.py
Due: pylint

rename column
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

fix value
  system/loggerd/logger.cc
Due: cppcheck

Minor fixes
  selfdrive/test/process_replay/process_replay.py
Due: pylint

more general
  selfdrive/controls/lib/events.py
Due: pylint

loggerd: log HW-specific extras (#28084)
  system/hardware/base.h
  system/hardware/tici/hardware.h
  system/loggerd/logger.cc
Due: cppcheck

fix
  selfdrive/controls/lib/events.py
Due: pylint

?
  selfdrive/controls/lib/events.py
Due: pylint

above
  selfdrive/controls/lib/events.py
Due: pylint

bootlog: log agnos partition hashes
  system/hardware/tici/hardware.h
Due: cppcheck

use isonroad
  selfdrive/boardd/boardd.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
