Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Multilang: Update pt-BR translation. (#26089)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

Hyundai: CAN-FD Hybrid gas pressed signal (#26086)
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/values.py
Due: pylint

Hyundai: Longitudinal support for Camera SCC cars (CAN for now)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/interface.py
Due: pylint

fix time formatting
  tools/cabana/videowidget.cc
Due: none

disable vertical resize
  tools/cabana/detailwidget.cc
Due: none

Fix CARS.md
  docs/CARS.md
Due: none

Update test route
  selfdrive/car/tests/routes.py
Due: pylint

Forward modified FCA11 and FCA12 messages
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

Update tools/cabana/videowidget.cc
  tools/cabana/videowidget.cc
Due: none

cabana: misc touchups (#26092)
  tools/cabana/detailwidget.cc
  tools/cabana/videowidget.cc
Due: none

gm: match panda standstill check
  selfdrive/car/gm/carstate.py
  selfdrive/car/tests/test_models.py
Due: pylint

fix
  selfdrive/car/gm/carstate.py
Due: pylint

needs to be <= 10 to avoid a fault, fix for safety tests
  selfdrive/car/gm/carstate.py
Due: pylint

Refactor model: no klblock (#26035)
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Update hyundaicanfd.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: pylint

CI speedup
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  .pre-commit-config.yaml
Due: none

complete forms
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

load dbc from paste
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

click on video to play/pause
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

load from high quality video by default, fallback to qcamera
  tools/cabana/cabana.cc
Due: none

filter by address if string contains :
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

specify monospace font for hex string
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
Due: none

dispaly msb and lsb in binary view
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
Due: none

ui brightness: fix exposure scale factor
  selfdrive/ui/ui.cc
Due: cppcheck

draw at bottom
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

show freq instead of count
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/messageswidget.cc
Due: none

Cabana: complete edit functions (#26097)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

cabana: use monospace font for hex string (#26102)
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
Due: none

move binaryview to seperate files
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
