Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

add to ignored cars
  selfdrive/car/tests/test_lateral_limits.py
Due: pylint

detect and send
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
Due: pylint

detect in rest of places
  selfdrive/car/subaru/carstate.py
Due: pylint

Add 2021 Escape PHEV Updated Engine ECU
  selfdrive/car/ford/values.py
Due: pylint

Update CARS.md
  docs/CARS.md
Due: none

Update values.py
  selfdrive/car/nissan/values.py
Due: pylint

display hex bytes in multiple lines
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

Disable Dashcam Only
  selfdrive/car/ford/interface.py
Due: pylint

default is true
  tools/cabana/settings.cc
  tools/cabana/settings.h
Due: none

cleanup
  tools/cabana/util.cc
Due: none

update
  docs/CARS.md
Due: none

Update system/hardware/tici/hardware.py
  system/hardware/tici/hardware.py
Due: pylint

100ms
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Revert "not clean"
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint_metrics.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/tests/test_startup.py
Due: pylint

Revert "formatting"
  selfdrive/controls/tests/test_startup.py
Due: pylint

just import from fw_versions
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/debug/test_fw_query_on_routes.py
Due: pylint

need to consider subaddrs (0.3 to 0.7s for toyota)
  selfdrive/car/tests/test_fw_fingerprint_metrics.py
Due: pylint
