Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Apply suggestions from code review
  selfdrive/car/tests/test_models.py
Due: pylint

don't use end of route segment
  selfdrive/car/tests/routes.py
Due: pylint

no can invalid cnt tolerance
  selfdrive/car/tests/test_models.py
Due: pylint

start checking can valid immediately once available
  selfdrive/car/tests/test_models.py
Due: pylint

we check counter violations
  selfdrive/car/tests/test_models.py
Due: pylint

update refs for EV6 new safety param
  docs/CARS.md
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint

Hyundai: Car Port for Tucson Hybrid 2022 (#25276)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaicanfd.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint

Try to get Chrysler engine FW
  selfdrive/car/fw_versions.py
Due: pylint

remove old boardd stuff
  selfdrive/boardd/tests/boardd_old.py
  selfdrive/boardd/tests/replay_many.py
  selfdrive/boardd/tests/test_boardd_api.py
Due: pylint

try this
  selfdrive/car/fw_versions.py
Due: pylint

Ford: add CADS radar interface (#24296)
  release/files_common
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/ford/values.py
Due: pylint

Panda-OP LKAS state sync
  selfdrive/car/gm/carcontroller.py
Due: pylint

0.8.16 release notes
  RELEASES.md
Due: none

Get engine FW for certain Chrysler
  selfdrive/car/fw_versions.py
Due: pylint

Add our Ram's engine FW
  selfdrive/car/chrysler/values.py
Due: pylint

Changed 'CONTROLEREN' to 'CONTROLEER'
  selfdrive/ui/translations/main_nl.ts
Due: none

Add toggle to disable saving road cam
  common/params.cc
  selfdrive/loggerd/loggerd.h
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
Due: pylint, cppcheck

test_models: no CAN invalid tolerance (#25501)
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models.py
Due: pylint

Apply suggestions from code review
  README.md
Due: none

README.md: update grammar (#25488)
  README.md
Due: none

laikad: move cache folder off tmpfs
  selfdrive/locationd/laikad.py
Due: pylint

better name
  selfdrive/car/fw_versions.py
Due: pylint

add that back
  tools/ubuntu_setup.sh
Due: none

setup: perform all pyenv setup in a single place (#23408)
  update_requirements.sh
Due: none

Update some sentences to make it clear. Change short form of some words.
  selfdrive/ui/translations/main_th.ts
Due: none

Hyundai Sonata custom torque FF
  selfdrive/car/hyundai/interface.py
Due: pylint

Send LFA and HDA icons for all CAN-FD
  selfdrive/car/hyundai/carcontroller.py
Due: pylint

v4l_encoder: free buf_out in destructor (#25044)
  selfdrive/loggerd/encoder/v4l_encoder.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
