Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

fix that override
  selfdrive/controls/lib/latcontrol.py
Due: pylint

comment
  selfdrive/controls/lib/latcontrol_angle.py
Due: pylint

update refs
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

ignore
  selfdrive/test/process_replay/model_replay.py
Due: pylint

HKG: Add FW for 2022 Kia Telluride
  selfdrive/car/hyundai/values.py
Due: pylint

set in init function
  selfdrive/controls/lib/latcontrol_angle.py
Due: pylint

hardcoded slowdown
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

smaller standstill alert
  selfdrive/controls/lib/events.py
Due: pylint

new class OpenPilotPrefix
  common/openpilotprefix.h
  release/files_common
  tools/cabana/cabana.cc
Due: cppcheck

only short trans
  selfdrive/car/hyundai/values.py
Due: pylint

HKG: Add FW for 2022 Kia Telluride (#26750)
  selfdrive/car/hyundai/values.py
Due: pylint

need to do it this way so overriding works correctly
  selfdrive/controls/lib/latcontrol_angle.py
Due: pylint

Update selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_car_interfaces.py
Due: pylint

Update selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/interface.py
Due: pylint

try these limits
  selfdrive/car/toyota/values.py
Due: pylint

try this
  selfdrive/car/toyota/values.py
Due: pylint

log the angle!
  selfdrive/car/toyota/carcontroller.py
Due: pylint

global variable
  selfdrive/car/toyota/carcontroller.py
Due: pylint

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

move random_string to util
  common/openpilotprefix.h
  common/util.cc
  common/util.h
Due: cppcheck

cleanup
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
Due: none

dont update if no msg_id
  tools/cabana/detailwidget.cc
Due: none

replace use_qcam with replay_flags
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Due: none

Hyundai: Add FW Versions for 2022 Ioniq 5 HDA1
  selfdrive/car/hyundai/values.py
Due: pylint

add replay panel to settings
  SConstruct
  selfdrive/ui/SConscript
  selfdrive/ui/qt/offroad/replaypanel.cc
  selfdrive/ui/qt/offroad/replaypanel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Check IONIQ_5 fwdCamera FW to segregate radar and camera SCC cars
  selfdrive/car/hyundai/interface.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
