Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

this needs prefix
  conftest.py
Due: mypy

rm vipc
  common/prefix.py
Due: mypy

cleanup
  conftest.py
Due: mypy

pytest: fix tici setup fixture (#31379)
  conftest.py
Due: mypy

Revert "make vipc and msgq prefix paths easier to cleanup (#31378)"
  common/prefix.py
Due: mypy

fix
  selfdrive/manager/helpers.py
Due: mypy

also in prefix
  selfdrive/manager/helpers.py
Due: mypy

Revert "Certified Herbalist Model (#31294)"
  selfdrive/modeld/models/supercombo.onnx
Due: none

Revert "update model replay ref (#31310)"
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

no d
  selfdrive/manager/helpers.py
Due: mypy

get it from the path
  selfdrive/manager/helpers.py
Due: mypy

sensord: fix IRQ affinity
  system/sensord/sensors_qcom2.cc
Due: cppcheck

isp assert
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

timeout
  selfdrive/test/test_time_to_onroad.py
Due: mypy

disable this for testing
  Jenkinsfile
Due: none

Revert "disable this for testing"
  Jenkinsfile
Due: none

move below
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Export fingerprints
  selfdrive/car/toyota/fingerprints.py
Due: mypy

timeless route
  common/params.cc
  system/loggerd/logger.cc
  system/loggerd/logger.h
  tools/lib/route.py
Due: mypy, cppcheck

export
  selfdrive/car/honda/fingerprints.py
Due: mypy
