Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

locationd: Set ECEF_POS valid flag to false if in no-gps mode (#22857)
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
Due: cppcheck

Added fingerprint for Japanese 2017 X-Trail
  selfdrive/car/nissan/values.py
Due: pylint

we dont need rhd for active direction
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

cleanup
  SConstruct
  pyextra/acados_template/acados_ocp_solver.py
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
  pyextra/acados_template/utils.py
  third_party/acados/build.sh
Due: none

define suffix as constant
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

Added fingerprint for Japanese 2017 X-Trail (#22881)
  selfdrive/car/nissan/values.py
Due: pylint

Move shutdown/reboot handling to manager
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
Due: pylint, cppcheck

more logging
  selfdrive/manager/manager.py
Due: pylint

check enagaged
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

honda
  selfdrive/car/honda/values.py
Due: pylint

hyundai
  selfdrive/car/hyundai/values.py
Due: pylint

toyota
  selfdrive/car/toyota/values.py
Due: pylint

VW
  selfdrive/car/volkswagen/values.py
Due: pylint

Run test car models in matrix
  .github/workflows/selfdrive_tests.yaml
  selfdrive/test/test_models.py
Due: pylint

Batch of ECU FW from cars that fuzzy fingerprinted (#22883)
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

cache key per job
  .github/workflows/selfdrive_tests.yaml
Due: none

ci: populate scons cache
  .github/workflows/selfdrive_tests.yaml
Due: none

release build can use the regular cache
  .github/workflows/selfdrive_tests.yaml
Due: none

no volume for docker run
  .github/workflows/selfdrive_tests.yaml
Due: none

no need to load the cache then
  .github/workflows/selfdrive_tests.yaml
Due: none

actually cache files
  .github/workflows/selfdrive_tests.yaml
Due: none

upload cache on master
  .github/workflows/selfdrive_tests.yaml
Due: none

ci: use scons cache (#22885)
  .github/workflows/selfdrive_tests.yaml
Due: none

ci: new name for scons cache to switch to new timestamp
  .github/workflows/selfdrive_tests.yaml
Due: none

make files readable
  .github/workflows/selfdrive_tests.yaml
Due: none

Apply suggestions from code review
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Move shutdown/reboot handling to manager (#22882)
  selfdrive/common/params.cc
  selfdrive/manager/manager.py
  selfdrive/ui/qt/offroad/settings.cc
Due: pylint, cppcheck

get current time
  .github/workflows/selfdrive_tests.yaml
Due: none

ci: fix timestamp in cache key (#22886)
  .github/workflows/selfdrive_tests.yaml
Due: none

actually expose variables
  .github/workflows/selfdrive_tests.yaml
Due: none
