Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

boardd: connect to SPI panda by UID (#27035)
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
  selfdrive/boardd/panda_comms.cc
  selfdrive/boardd/panda_comms.h
  selfdrive/boardd/spi.cc
Due: cppcheck

fix display range
  tools/cabana/chartswidget.cc
Due: none

give gps all then power
  selfdrive/sensord/pigeond.py
Due: pylint

fix memory corruption in live stream
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
Due: none

improve layout
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/detailwidget.cc
  tools/cabana/mainwin.cc
Due: none

improve layout
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
Due: none

updateState before end reset model
  tools/cabana/historylog.cc
Due: none

add validator
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

improve sigmodel
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

expand new signal
  tools/cabana/signaledit.cc
Due: none

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: pylint

add comment
  tools/cabana/dbcmanager.h
Due: none

reserve vector
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
Due: none

cleanup condition
  tools/cabana/binaryview.cc
Due: none

add 2017 Escalade fingerprints and base params
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/torque_data/substitute.yaml
Due: pylint

revert to 16gps 8glonass
  selfdrive/sensord/pigeond.py
Due: pylint

tmp change for easy cold start
  tools/gpstest/test_gps.py
Due: pylint

Crafter has a min steer speed :(
  selfdrive/car/volkswagen/interface.py
Due: pylint

jenkins: tmp disable sim test due to ZMQ bug
  Jenkinsfile
  selfdrive/manager/test/test_manager.py
Due: pylint

dont update all cells on highlight
  tools/cabana/binaryview.cc
Due: none

move file
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
Due: none

tab charts
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

cleanup endian stuffs
  tools/cabana/binaryview.cc
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/signaledit.cc
Due: none

Santa Fe Hev 2022 Fingerprint
  selfdrive/car/hyundai/values.py
Due: pylint

cleanup
  tools/cabana/chartswidget.cc
Due: none

support pause and slow motion playback in live stream mode
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
Due: none

override
  tools/cabana/streams/livestream.h
Due: none

virtual functions
  tools/cabana/streams/livestream.h
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
