Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Add spinner
  selfdrive/ui/android/spinner/spinner
  selfdrive/ui/android/spinner/spinner.c
Due: none

Updates: ZSS, AlertManager, INDI, long_mpc
  selfdrive/car/toyota/carstate.py
  selfdrive/controls/lib/alertmanager.py
  selfdrive/controls/lib/long_mpc.py
Due: pylint

Updates: car_helpers, interfaces, CC, longcontrol, speed smoother, pid, latcontrol_pid, controlsd
  selfdrive/car/car_helpers.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/pid.py
  selfdrive/controls/lib/speed_smoother.py
Due: pylint

UI logic
  selfdrive/ui/android/ui.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

Fix missing closing bracket
  cereal/log.capnp
Due: none

Dup. ordinal
  cereal/log.capnp
Due: none

Dup. ordinal
  cereal/car.capnp
Due: none

already added
  opendbc/toyota_prius_2017_pt_generated.dbc
Due: none

Why did the cherry-pick add this
  selfdrive/ui/ui.cc
Due: cppcheck

Update tools/plotjuggler/juggle.py
  tools/plotjuggler/juggle.py
Due: pylint

Some UI fixes
  selfdrive/ui/android/ui.cc
Due: cppcheck

disable lanespeed since it uses old missing model polys
  selfdrive/manager.py
Due: pylint

This is renamed
  selfdrive/debug/uiview.py
Due: pylint

PlotJuggler demo (#20172)
  tools/plotjuggler/README.md
  tools/plotjuggler/demo_layout.xml
  tools/plotjuggler/juggle.py
Due: pylint

Fix uiview (#336)
  selfdrive/debug/uiview.py
Due: pylint

add buttons!
  selfdrive/ui/paint.cc
Due: cppcheck

fix qt 5.12.8
  selfdrive/ui/qt/ui.cc
Due: cppcheck

no lane speed :(
  selfdrive/debug/uiview.py
  selfdrive/ui/paint.cc
Due: pylint, cppcheck

unused
  SConstruct
Due: none

don't clear cache
  selfdrive/manager.py
Due: pylint

Fix uiview.py
  selfdrive/debug/uiview.py
Due: pylint

Move the duplicate function declaration to camera_common.h
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

class CameraStateBase
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

Fix uiview.py (#20175)
  selfdrive/debug/uiview.py
Due: pylint

Move duplicate function declarations to camera_common.h (#20176)
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

Colorize lane lines and path (#337)
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

Part 2 of updates, after grey panda commit
  README.md
  SA_RELEASES.md
  cereal/car.capnp
  common/colors.py
  common/op_params.py
  helper_scripts/df-test-tuner-mods.py
  helper_scripts/dg-test-tuner.py
  helper_scripts/gas_tuner.py
  helper_scripts/temp/steer_unavailable_testing.py
  op_edit.py
  opendbc/toyota_nodsu_hybrid_pt_generated_rav4h_tss2.dbc
  opendbc/toyota_nodsu_pt_generated_rav4_tss2.dbc
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/lib/dynamic_follow/__init__.py
  selfdrive/controls/lib/dynamic_gas.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/lib/pid.py
  selfdrive/loggerd/uploader.py
  selfdrive/ui/paint.cc
Due: pylint, cppcheck

Update releases
  SA_RELEASES.md
Due: none

Update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Add link
  README.md
Due: none

add new sentry client package
  Pipfile
  Pipfile.lock
Due: none

Remove LS and DCO params, support white panda
  common/op_params.py
  selfdrive/controls/controlsd.py
Due: pylint

Comma pedal is actually sorta smooth now (#338)
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/lib/longcontrol.py
Due: pylint

Make opEdit executable
  op_edit.py
Due: pylint

add new sentry client package (#20178)
  Pipfile
  Pipfile.lock
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
