Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Qt: show current calibration values (#20455)
  selfdrive/locationd/calibrationd.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.hpp
Due: pylint, cppcheck

remove conflicting nissan leaf fingerprint
  selfdrive/car/nissan/values.py
Due: pylint

Improve VW HUD with laneless and LDW
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/volkswagencan.py
Due: pylint

No longer depend on laneless param
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/volkswagencan.py
Due: pylint

initial commit, works
  selfdrive/ui/SConscript
  selfdrive/ui/main.cc
  selfdrive/ui/replay/.gitignore
  selfdrive/ui/replay/FileReader.cpp
  selfdrive/ui/replay/FileReader.hpp
  selfdrive/ui/replay/SConscript
  selfdrive/ui/replay/Unlogger.cpp
  selfdrive/ui/replay/Unlogger.hpp
  selfdrive/ui/replay/get_files_comma_api.py
  selfdrive/ui/replay/main.cpp
  selfdrive/ui/replay/nui
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
  selfdrive/ui/replay/test/.gitignore
  selfdrive/ui/replay/test/TestFrameReader.cpp
  selfdrive/ui/replay/test/TestFrameReader.hpp
  selfdrive/ui/replay/test/test.pro
  selfdrive/ui/ui
Due: pylint, cppcheck

remove nui
  tools/nui/.gitignore
  tools/nui/FileReader.cpp
  tools/nui/FileReader.hpp
  tools/nui/SConscript
  tools/nui/Unlogger.cpp
  tools/nui/Unlogger.hpp
  tools/nui/get_files_comma_api.py
  tools/nui/main.cpp
  tools/nui/nui
  tools/nui/test/.gitignore
  tools/nui/test/TestFrameReader.cpp
  tools/nui/test/TestFrameReader.hpp
  tools/nui/test/test.pro
Due: pylint

live mpc weight config
  selfdrive/controls/lib/lateral_mpc/lateral_mpc.c
  selfdrive/controls/lib/lateral_mpc/libmpc_py.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/tests/test_lateral_mpc.py
  selfdrive/debug/mpc/test_mpc_wobble.py
  selfdrive/debug/mpc/tune_lateral.py
Due: pylint

fix drive stats offset on home screen
  selfdrive/ui/qt/home.cc
Due: cppcheck

need to add stds
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/modeld/models/driving.cc
Due: pylint, cppcheck

make work on empty data
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

no divide by 0
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

Send LTA msg on TSS2+ Toyotas (#19731)
  selfdrive/car/toyota/carcontroller.py
Due: pylint

close android activities
  selfdrive/hardware/eon/hardware.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
Due: cppcheck

new line
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

only if activity is launched
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

update model replay
  selfdrive/test/process_replay/model_ref_commit
Due: none

fix
  selfdrive/hardware/eon/hardware.h
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

CarFW: Skoda Superb B8 2015 DSG 4x4
  README.md
  selfdrive/car/volkswagen/values.py
Due: pylint

Updated fp order upon request
  selfdrive/car/volkswagen/values.py
Due: pylint

CarFW: Skoda Superb B8 2015 DSG 4x4 (#20605)
  README.md
  selfdrive/car/volkswagen/values.py
Due: pylint

update proc replat
  selfdrive/test/process_replay/ref_commit
Due: none

close android activities when settings is closed (#20604)
  selfdrive/hardware/eon/hardware.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
Due: cppcheck

new model replay ref
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

working again
  selfdrive/ui/SConscript
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

Add Ecu.eps for 2018 Golf R DSG
  selfdrive/car/volkswagen/values.py
Due: pylint

agnos 0.12
  selfdrive/hardware/tici/agnos.json
Due: none

update
  selfdrive/hardware/tici/agnos.json
Due: none

bump version
  launch_env.sh
Due: none

Add Ecu.eps for 2018 Golf R DSG (#20607)
  selfdrive/car/volkswagen/values.py
Due: pylint

agnos 0.12 (#20608)
  launch_env.sh
  selfdrive/hardware/tici/agnos.json
Due: none

no heading cost (#20594)
  selfdrive/controls/lib/lateral_mpc/lateral_mpc.c
  selfdrive/controls/lib/lateral_mpc/libmpc_py.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/tests/test_lateral_mpc.py
  selfdrive/debug/mpc/test_mpc_wobble.py
  selfdrive/debug/mpc/tune_lateral.py
  selfdrive/modeld/models/driving.cc
  selfdrive/test/process_replay/model_ref_commit
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/process_replay/ref_commit
Due: pylint, cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
