Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Fix Leon model-year
  README.md
Due: none

Add Accord Hybrid
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

Repalce old Accord
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

fix low memory on tici
  selfdrive/controls/controlsd.py
Due: pylint

no pref
  launch_chffrplus.sh
Due: none

Update Lexus RXH route with logs, CHR+H, skip Avalon for now (fixup in another PR)
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

use build.py in build_devel.sh
  release/build_devel.sh
Due: none

Add CRV
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

check can rx and tx error counts
  selfdrive/controls/controlsd.py
Due: pylint

last update time + release notes
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/tests/test_update.py
Due: pylint, cppcheck

remove test
  selfdrive/ui/tests/test_update.py
Due: pylint

typo
  selfdrive/controls/controlsd.py
Due: pylint

revert to previous constructor
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

change label name
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

first commit
  selfdrive/car/toyota/carstate.py
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

this should be working
  selfdrive/car/toyota/carstate.py
Due: pylint

Use standard UDS request/reponse, fix missing arg.
  selfdrive/car/fw_versions.py
Due: pylint

Mazda FP 2.0 support
  selfdrive/car/fw_versions.py
  selfdrive/car/mazda/values.py
  selfdrive/debug/test_fw_query_on_routes.py
Due: pylint

time format for last update check
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

How did I miss this!
  selfdrive/test/test_routes.py
Due: pylint

Add CX-5 FW test
  selfdrive/controls/tests/test_startup.py
Due: pylint

cleanup
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

CameraViewWidget
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.h
Due: cppcheck

continue
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

cleanup
  selfdrive/ui/qt/home.h
Due: cppcheck

use unique_ptr for vipc_client
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

sm.update(0) in onTimeout()
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

bg_colors use QColor
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/ui.h
Due: cppcheck

whitespace
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

write IsDriverViewEnabled in showEvent/hideEvnet
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

fix draw
  selfdrive/ui/qt/offroad/driverview.cc
Due: cppcheck

indent
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

apply reviews
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

virtual draw
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

connected()->frameReceived()
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

rebase master
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

CameraViewWidget
  selfdrive/ui/SConscript
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

fix viewport
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
