Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

test
  .github/workflows/selfdrive_tests.yaml
Due: none

fake pr push
  .github/workflows/selfdrive_tests.yaml
Due: none

revert
  .github/workflows/selfdrive_tests.yaml
Due: none

try this
  .github/workflows/selfdrive_tests.yaml
Due: none

hey this works
  .github/workflows/selfdrive_tests.yaml
Due: none

would need to be here
  .github/workflows/selfdrive_tests.yaml
Due: none

OffroadHome: replace DriveStats with PrimeAd when no prime
  selfdrive/ui/qt/home.cc
Due: cppcheck

UI: add WiFiPromptWidget
  selfdrive/assets/offroad/icon_wifi_uploading.svg
  selfdrive/ui/SConscript
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/qt/widgets/wifi.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

add WiFiPromptWidget to offroad home
  selfdrive/ui/qt/widgets/prime.cc
Due: cppcheck

OffroadHome: move experimental mode button to right column
  selfdrive/ui/qt/home.cc
Due: cppcheck

SetupWidget: tweaks to fit smaller space
  selfdrive/ui/qt/widgets/prime.cc
Due: cppcheck

WiFiPrompt: update using network type
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/qt/widgets/wifi.h
Due: cppcheck

SetupWidget: remove PrimeAd
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Due: cppcheck

WiFiPromptWidget: open Wi-Fi settings
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/qt/widgets/wifi.h
Due: cppcheck

no longer necessary
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/wifi.cc
Due: cppcheck

reduce spacing to fit vertical space
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/wifi.cc
Due: cppcheck

cleanup
  selfdrive/ui/qt/home.cc
Due: cppcheck

rm bad func
  selfdrive/car/fw_versions.py
  selfdrive/car/hyundai/values.py
Due: pylint

typing for new func and remove old from dc
  selfdrive/car/fw_query_definitions.py
Due: pylint

todo done
  selfdrive/car/fw_query_definitions.py
Due: pylint

shrink PrimeUser widget and increase Setup Wi-Fi font size
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Fix environment setup for regen
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: pylint

tested!
  selfdrive/car/fw_versions.py
Due: pylint

correctly resize widget when stack index changes
  selfdrive/ui/qt/widgets/wifi.cc
Due: cppcheck

Update values.py
  selfdrive/car/hyundai/values.py
Due: pylint
