Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

bump chestnut fw
  openpilot/common/hardware/usb.py
  openpilot/system/hardware/chestnut/firmware_wrapped.bin
Due: mypy

chestnut: reword alerts
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/chestnut/status.py
  openpilot/system/hardware/hardwared.py
Due: mypy

chestnut: align alerts (#39051)
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/chestnut/status.py
  openpilot/system/hardware/hardwared.py
Due: mypy

chestnut: bump fw (#39050)
  openpilot/common/hardware/usb.py
  openpilot/system/hardware/chestnut/firmware_wrapped.bin
Due: mypy

VW MEB: hold fault repro, do not merge
  openpilot/selfdrive/car/card.py
  openpilot/selfdrive/selfdrived/events.py
Due: mypy

ui: show chestnut icon before selfdriveState
  openpilot/selfdrive/ui/mici/onroad/hud_renderer.py
Due: mypy

soundd: louder warning sounds
  openpilot/selfdrive/assets/sounds/critical_max.wav
  openpilot/selfdrive/assets/sounds/dm_critical_max.wav
  openpilot/selfdrive/assets/sounds/warning.wav
  openpilot/selfdrive/ui/soundd.py
Due: mypy

ui: sync gpu with offroad state (#39053)
  openpilot/selfdrive/ui/mici/onroad/hud_renderer.py
Due: mypy

soundd: louder warning sounds (#39052)
  openpilot/selfdrive/assets/sounds/critical_max.wav
  openpilot/selfdrive/assets/sounds/dm_critical_max.wav
  openpilot/selfdrive/assets/sounds/warning.wav
  openpilot/selfdrive/ui/soundd.py
Due: mypy

jp: add segment and duration
  openpilot/tools/jotpluggler/app.h
  openpilot/tools/jotpluggler/session.cc
Due: none

bump tinygrad
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

jp: zoom improvements
  openpilot/tools/jotpluggler/app.h
  openpilot/tools/jotpluggler/plot.cc
  openpilot/tools/jotpluggler/render.cc
  openpilot/tools/jotpluggler/session.cc
Due: none

ci: build macOS on macOS 26
  .github/workflows/tests.yaml
Due: none

Revert "ci: build macOS on macOS 26"
  .github/workflows/tests.yaml
Due: none

Revert "modeld: drop chestnut on fallback (#39044)"
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

rebuild big models
  openpilot/selfdrive/modeld/models/big_driving_tinygrad.pkl
  openpilot/selfdrive/modeld/models/big_driving_warp_1344x760_tinygrad.pkl
  openpilot/selfdrive/modeld/models/big_driving_warp_1928x1208_tinygrad.pkl
Due: none

model replay pr bot: show both
  openpilot/selfdrive/test/process_replay/model_replay.py
  openpilot/tools/lib/github_utils.py
Due: mypy

chestnut: show orange gpu offroad
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/selfdrive/selfdrived/selfdrived.py
  openpilot/selfdrive/ui/ui_state.py
  openpilot/system/hardware/chestnut/status.py
Due: mypy

chestnut: fix offroad alert (#39056)
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/selfdrive/selfdrived/selfdrived.py
  openpilot/selfdrive/ui/ui_state.py
  openpilot/system/hardware/chestnut/status.py
Due: mypy

network: force metered on comma prime webbing sim (#38756)
  openpilot/common/esim/base.py
  openpilot/common/hardware/comma/hardware.py
  openpilot/common/hardware/comma/modem.py
Due: mypy

bump tinygrad (#39054)
  openpilot/selfdrive/modeld/modeld.py
  openpilot/selfdrive/modeld/models/big_driving_tinygrad.pkl
  openpilot/selfdrive/modeld/models/big_driving_warp_1344x760_tinygrad.pkl
  openpilot/selfdrive/modeld/models/big_driving_warp_1928x1208_tinygrad.pkl
Due: mypy

test_onroad: chestnut usb unplug fallback
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

test_onroad: fix chestnut unplug test
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

test_onroad: chestnut fallback
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

check that small model is running
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

fix small model check
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

add chestnut model fallback test (#39058)
  openpilot/selfdrive/test/test_onroad.py
Due: mypy

Revert "ui: lead bar (#39033)"
  openpilot/selfdrive/ui/mici/onroad/model_renderer.py
Due: mypy

Revert "ui: remove question marks (#38938)"
  openpilot/selfdrive/ui/mici/layouts/settings/network/network_layout.py
Due: mypy

Revert "ui: longitudinal policy indicator (#39040)"
  openpilot/selfdrive/assets/icons_mici/longitudinal/car.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/car_green.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_1.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_1_green.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_2.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_2_green.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_3.png
  openpilot/selfdrive/assets/icons_mici/longitudinal/distance_3_green.png
  openpilot/selfdrive/ui/mici/onroad/augmented_road_view.py
  openpilot/selfdrive/ui/mici/onroad/long_indicator.py
  openpilot/selfdrive/ui/mici/onroad/model_renderer.py
Due: mypy

Revert "DM: Super Leicht Model (#38942)"
  openpilot/cereal/log.capnp
  openpilot/selfdrive/modeld/models/dmonitoring_model.onnx
  openpilot/selfdrive/monitoring/policy.py
  openpilot/selfdrive/monitoring/test_monitoring.py
  openpilot/selfdrive/test/process_replay/model_replay.py
  openpilot/tools/jotpluggler/layouts/driver-monitoring-debug.json
Due: mypy

Revert "Enable Experimental Mode by default without confirmation (#39043)"
  openpilot/common/params_keys.h
  openpilot/selfdrive/ui/layouts/settings/toggles.py
  openpilot/selfdrive/ui/mici/layouts/home.py
  openpilot/selfdrive/ui/mici/layouts/settings/toggles.py
  openpilot/selfdrive/ui/onroad/exp_button.py
  openpilot/selfdrive/ui/ui_state.py
Due: mypy, cppcheck

Revert "ui: add descriptions for settings (#38867)"
  openpilot/selfdrive/ui/mici/layouts/settings/developer.py
  openpilot/selfdrive/ui/mici/layouts/settings/device/device_layout.py
  openpilot/selfdrive/ui/mici/layouts/settings/network/__init__.py
  openpilot/selfdrive/ui/mici/layouts/settings/network/network_layout.py
  openpilot/selfdrive/ui/mici/layouts/settings/software.py
  openpilot/selfdrive/ui/mici/layouts/settings/toggles.py
  openpilot/selfdrive/ui/mici/widgets/button.py
  openpilot/selfdrive/ui/mici/widgets/dialog.py
  openpilot/system/ui/widgets/__init__.py
Due: mypy

jenkins: build release-chestnut-staging
  Jenkinsfile
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
