Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

clean up CC
  selfdrive/car/gm/carcontroller.py
Due: pylint

flip
  selfdrive/car/gm/gmcan.py
Due: pylint

rm
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/gmcan.py
Due: pylint

rm comment
  selfdrive/car/gm/values.py
Due: pylint

clean up
  selfdrive/car/gm/values.py
Due: pylint

custom starting/stopping probably not needed
  selfdrive/car/gm/interface.py
Due: pylint

Update selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carcontroller.py
Due: pylint

use longcontroller with joystick
  selfdrive/controls/controlsd.py
Due: pylint

order
  selfdrive/controls/controlsd.py
Due: pylint

proper speed plan
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

one statement
  selfdrive/controls/controlsd.py
Due: pylint

t_since_plan
  selfdrive/controls/controlsd.py
Due: pylint

add docker kill to openpilot docker
  tools/sim/start_openpilot_docker.sh
Due: none

sim: add docker kill to openpilot docker (#26310)
  tools/sim/start_openpilot_docker.sh
Due: none

fix state not updated if replay is paused
  tools/cabana/chartswidget.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

Cabana: fix update issues when the the replay is paused (#26311)
  tools/cabana/chartswidget.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

explicit length check
  selfdrive/car/volkswagen/interface.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

fix crash
  selfdrive/car/gm/carcontroller.py
Due: pylint

openpilot -> openpilot available
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
Due: pylint

note for dsu cars
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/toyota/interface.py
Due: pylint

common footnotes
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
Due: pylint

Revert "note for dsu cars" - another PR
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/toyota/interface.py
Due: pylint

space
  selfdrive/car/docs_definitions.py
Due: pylint

better?
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

regen
  selfdrive/car/tests/test_models_segs.txt
Due: none

Update selfdrive/car/docs_definitions.py
  selfdrive/car/docs_definitions.py
Due: pylint

typo
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

no dirty segments
  selfdrive/car/tests/test_models_segs.txt
Due: none

Hyundai: Add FW for 2023 Ioniq 5 HDA2
  selfdrive/car/hyundai/values.py
Due: pylint

Automatically zoom to fixed scale in map_renderer.cc
  selfdrive/navd/map_renderer.cc
Due: cppcheck

VW MQB: Harness updates
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: pylint

split lat long icons
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/ui.cc
Due: cppcheck
