Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

fix pc build
  system/camerad/cameras/camera_common.h
  system/loggerd/encoder/encoder.h
Due: cppcheck

test
  selfdrive/ui/ui.cc
Due: cppcheck

keep alive
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

we haven't done rgb for a while
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/cameras/camera_util.h
  system/camerad/cameras/spectra.cc
  system/camerad/test/test_ae_gray.cc
Due: cppcheck

test2
  selfdrive/ui/qt/onroad/driver_monitoring.cc
  selfdrive/ui/ui.cc
Due: cppcheck

bring this stuff back
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/spectra.cc
Due: cppcheck

test
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

it's not really rgb
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/test/test_ae_gray.cc
Due: cppcheck

no camerastate in sensors
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

bring this over
  system/camerad/cameras/camera_util.h
Due: cppcheck

and encoder
  system/loggerd/encoder/encoder.h
Due: cppcheck

camerad: prep part 2 (#33584)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_util.h
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/sensor.h
  system/loggerd/encoder/encoder.h
Due: cppcheck

fix mac?
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

wip
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

no camera in ui!
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

i remember why we always cut mac
  system/loggerd/encoder/encoder.h
Due: cppcheck

loggerd: fix mac build
  system/loggerd/encoder/encoder.h
Due: cppcheck

fix mac build
  system/camerad/cameras/camera_common.h
Due: cppcheck

locationd: replaced the loop and setattr with direct attribute assignment (#33466)
  selfdrive/locationd/locationd.py
Due: mypy

camerad: abstract out ISP handling (#33583)
  selfdrive/ui/qt/widgets/cameraview.h
  system/camerad/SConscript
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/cameras/spectra.cc
  system/camerad/cameras/spectra.h
  system/camerad/cameras/tici.h
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/sensor.h
Due: cppcheck

longitudinal maneuver readme: small improvements
  tools/longitudinal_maneuvers/README.md
Due: none

fix ui report issues
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

fix indentation
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

Update selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

ci: fix ui report issues (#33585)
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

remove CameraType from camera_common.h
  system/camerad/cameras/camera_common.h
  system/loggerd/encoder/encoder.h
  system/loggerd/encoderd.cc
  system/loggerd/loggerd.h
  tools/replay/framereader.h
  tools/replay/logreader.h
  tools/replay/util.h
Due: cppcheck

move debugging parameters
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

fix event check in poll loop to validate POLLPRI
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

simplify handle_camera_event
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

remove libyuv
  system/camerad/SConscript
  system/camerad/cameras/camera_common.cc
Due: cppcheck

Add Helper Function getGainFactor
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

virutal ~SpectraCamera
  system/camerad/cameras/spectra.h
Due: cppcheck

camerad: remove `CameraType` enum from `camera_common.h` (#33588)
  system/camerad/cameras/camera_common.h
  system/loggerd/encoder/encoder.h
  system/loggerd/encoderd.cc
  system/loggerd/loggerd.h
  tools/replay/framereader.h
  tools/replay/logreader.h
  tools/replay/util.h
Due: cppcheck

camerad: remove libyuv dependency (#33593)
  system/camerad/SConscript
  system/camerad/cameras/camera_common.cc
Due: cppcheck

camerad: move debugging parameters from camera_common.h to camera_qcom2.cc (#33589)
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

camerad: fix POLLPRI event check in poll loop (#33591)
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck
