Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

restore key doesnt work
  .github/workflows/test.yaml
Due: none

clutil.h: remove extern C (#19809)
  selfdrive/common/clutil.h
Due: cppcheck

Fix macOS CI (#19822)
  .github/workflows/test.yaml
  tools/mac_setup.sh
Due: none

use carla provided frame_number
  tools/sim/bridge.py
Due: pylint

fix carla comm issues error
  selfdrive/controls/controlsd.py
Due: pylint

add minimal W-A-S-D keyboard controls
  tools/sim/lib/keyboard_ctrl.py
Due: pylint

pin macos versions
  tools/mac_setup.sh
Due: none

fix window from carla docker not showing
  tools/sim/start_carla.sh
Due: none

new macOS cache
  tools/mac_setup.sh
Due: none

carla 0.9.7 uses `frame`, not `frame_number`
  tools/sim/bridge.py
  tools/sim/start_carla.sh
Due: pylint

refactor wifi, no more event loop
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/offroad/wifi.hpp
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/offroad/wifiManager.hpp
  selfdrive/ui/qt/widgets/input_field.cc
  selfdrive/ui/qt/widgets/input_field.hpp
Due: cppcheck

refactor wifi, no more event loop
  selfdrive/ui/qt/offroad/wifi.cc
Due: cppcheck

clean up
  selfdrive/ui/qt/home.cc
Due: cppcheck

set parents on all qt objects
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.hpp
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/wifi.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/input_field.cc
  selfdrive/ui/qt/widgets/keyboard.cc
  selfdrive/ui/qt/widgets/offroad_alerts.cc
  selfdrive/ui/qt/widgets/setup.cc
Due: cppcheck

no divide by 0
  selfdrive/controls/lib/pathplanner.py
Due: pylint

set safetyModel on health for simulator
  tools/sim/bridge.py
Due: pylint

safetyModel check now works with simulator
  selfdrive/controls/controlsd.py
Due: pylint

misc cleanup
  selfdrive/controls/lib/lateral_mpc/generator.cpp
  selfdrive/controls/lib/lateral_mpc/lateral_mpc.c
  selfdrive/controls/lib/lateral_mpc/lib_mpc_export/acado_common.h
  selfdrive/controls/lib/lateral_mpc/lib_mpc_export/acado_integrator.c
  selfdrive/controls/lib/lateral_mpc/lib_mpc_export/acado_solver.c
  selfdrive/controls/lib/lateral_mpc/libmpc_py.py
  selfdrive/controls/lib/pathplanner.py
Due: pylint, cppcheck

2 more
  selfdrive/test/process_replay/test_processes.py
Due: pylint

final fixes
  selfdrive/controls/lib/lateral_mpc/generator.cpp
  selfdrive/controls/lib/lateral_mpc/lateral_mpc.c
  selfdrive/controls/lib/lateral_mpc/libmpc_py.py
  selfdrive/controls/lib/pathplanner.py
Due: pylint, cppcheck

ignore ubloxRaw and frontFrame when running sim
  selfdrive/controls/controlsd.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

note?
  selfdrive/test/process_replay/test_processes.py
Due: pylint

Update selfdrive/controls/controlsd.py
  selfdrive/controls/controlsd.py
Due: pylint

no vehicle was more confusing
  selfdrive/ui/sidebar.cc
Due: cppcheck

Update Subaru and GM test routes (#19828)
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/test_processes.py
Due: pylint

added WINDOW flag for optional show carla window
  tools/sim/start_carla.sh
Due: none

hopefully this isn't slow
  .github/workflows/test.yaml
Due: none

upgrade
  .github/workflows/test.yaml
Due: none

try this
  .github/workflows/test.yaml
Due: none

apparently this is the right way to do this
  .github/workflows/test.yaml
  tools/mac_setup.sh
Due: none

Carla fixes (#19824)
  selfdrive/controls/controlsd.py
  tools/sim/bridge.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/start_carla.sh
Due: pylint

turn off onroad
  selfdrive/ui/qt/home.cc
Due: cppcheck

fix mac CI (#19829)
  tools/mac_setup.sh
Due: none
