Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Corrected COMMA_BODY
  selfdrive/car/body/values.py
Due: mypy

Fixed type annotations
  selfdrive/car/__init__.py
Due: mypy

Change the term "Non-US" to "South America" for the "Corolla Hybrid (Non-US only) 2020-23" entry
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: mypy

tools/sim: remove special docker image
  .github/workflows/tools_tests.yaml
  selfdrive/test/docker_common.sh
  tools/sim/Dockerfile.sim
Due: none

Change the term "Non-US" to "South America" for the "Corolla Hybrid (Non-US only) 2020-23" entry (#32658)
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: mypy

tools/sim: remove special docker image (#32659)
  .github/workflows/tools_tests.yaml
  selfdrive/test/docker_common.sh
  tools/sim/Dockerfile.sim
Due: none

Update BOUNTIES.md re. Toyota SecOC and community bounty.
  docs/BOUNTIES.md
Due: none

Replace markdown-it-py with small function in common/
  common/markdown.py
  common/tests/test_markdown.py
  pyproject.toml
  system/updated/updated.py
Due: mypy

simple test
  common/tests/test_markdown.py
Due: mypy

unused
  common/tests/test_markdown.py
Due: mypy

Changed for unit tests
  selfdrive/car/__init__.py
Due: mypy

Fixed unit tests
  selfdrive/car/__init__.py
Due: mypy

Corrected spelling mistakes
  selfdrive/car/__init__.py
Due: mypy

use timezone from tilequery mapbox api
  poetry.lock
  pyproject.toml
  selfdrive/navd/navd.py
  system/timed.py
Due: mypy

add prompts for dev/runtime packages
  Dockerfile.openpilot_base
  tools/install_ubuntu_dependencies.sh
  tools/ubuntu_setup.sh
Due: none

add custom setproctitle
  common/realtime.py
  common/setproctitle.py
  pyproject.toml
  scripts/waste.py
  selfdrive/modeld/modeld.py
  system/manager/process.py
Due: mypy

add test
  common/tests/test_setproctitle.py
Due: mypy

Update poetry.lock
  poetry.lock
Due: none

fix lint
  common/setproctitle.py
  common/tests/test_setproctitle.py
Due: mypy

support only Linux
  common/setproctitle.py
Due: mypy

test only Linux
  common/tests/test_setproctitle.py
Due: mypy

final lint
  common/setproctitle.py
Due: mypy

add timezone into cereal
  cereal/log.capnp
  system/timed.py
Due: mypy

lock
  poetry.lock
Due: none

Update test_setproctitle.py
  common/tests/test_setproctitle.py
Due: mypy

Update setproctitle.py
  common/setproctitle.py
Due: mypy

linting fixes
  common/markdown.py
  common/tests/test_markdown.py
Due: mypy

Replace markdown-it-py with small function in common/ (#32664)
  common/markdown.py
  common/tests/test_markdown.py
  poetry.lock
  pyproject.toml
  system/updated/updated.py
Due: mypy

python dependency analysis
  poetry.lock
  pyproject.toml
Due: none

Update BOUNTIES.md
  docs/BOUNTIES.md
Due: none

Update BOUNTIES.md re. Toyota SecOC and community bounty. (#32661)
  docs/BOUNTIES.md
Due: none

python dependency notes (#32668)
  poetry.lock
  pyproject.toml
Due: none

Replace setproctitle dependency
  common/setproctitle.py
  poetry.lock
  pyproject.toml
  scripts/waste.py
  selfdrive/modeld/modeld.py
  system/manager/process.py
Due: mypy

Fix both set and getproctime, missng realtime import
  common/realtime.py
  common/setproctitle.py
Due: mypy

pandad: fix receive buffer size on failed transfer
  selfdrive/pandad/panda.cc
Due: cppcheck
