Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

NEOS 19
  launch_env.sh
  selfdrive/hardware/eon/neos.json
Due: none

scale qcamera with omx
  selfdrive/loggerd/encoder.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
  selfdrive/loggerd/raw_logger.cc
  selfdrive/loggerd/raw_logger.h
Due: cppcheck

VW MQB: Update steering angle and actuator delay (#23584)
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
Due: pylint

Update refs for PR:#23584)
  selfdrive/test/process_replay/ref_commit
Due: none

androidd: track system_server too
  selfdrive/hardware/eon/androidd.py
Due: pylint

cleanup
  selfdrive/loggerd/omx_encoder.cc
  selfdrive/loggerd/omx_encoder.h
Due: cppcheck

move in_y_ptr down
  selfdrive/loggerd/omx_encoder.cc
Due: cppcheck

remove downscale from LogCameraInfo
  selfdrive/loggerd/loggerd.h
Due: cppcheck

merge pilot
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/values.py
  selfdrive/test/test_routes.py
Due: pylint

these weren't on the 2019 pilot
  selfdrive/car/honda/values.py
Due: pylint

prod manifest
  selfdrive/hardware/eon/neos.json
Due: none

NEOS 19 (#23586)
  launch_env.sh
  selfdrive/hardware/eon/neos.json
Due: none

update startup conditions after ignition is on
  selfdrive/thermald/thermald.py
Due: pylint

cleanup
  selfdrive/controls/controlsd.py
Due: pylint

cleanup thermal status
  selfdrive/thermald/thermald.py
Due: pylint

cleanup main.cc
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/main.cc
Due: cppcheck

fix ae_gray_test build errors
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/main.cc
  selfdrive/camerad/test/ae_gray_test.cc
Due: cppcheck

mpc is valid again
  selfdrive/controls/controlsd.py
Due: pylint

chmod +x
  selfdrive/test/process_replay/regen_all.py
Due: pylint

dont change that
  selfdrive/test/process_replay/regen.py
Due: pylint

ubloxRaw is unused
  selfdrive/test/process_replay/process_replay.py
Due: pylint

ensure engaged in regen, fix managerState, peripheralState
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

enable engagement check again
  selfdrive/test/process_replay/test_processes.py
Due: pylint

hacks to make process replay engage again
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: pylint

revert loggerd change
  selfdrive/loggerd/raw_logger.cc
Due: cppcheck

proper alive checks
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: pylint

fix video framerate consistency
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

add submaster config for gm
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/process_replay.py
Due: pylint

first working regen
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

proper logMonoTime
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

fix loggerd
  selfdrive/loggerd/raw_logger.cc
Due: cppcheck

regen all services we can run without HW
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint

save dongleid as value to limit cardinality
  selfdrive/statsd.py
Due: pylint

loggerd: matroska without the extension
  selfdrive/loggerd/raw_logger.cc
Due: cppcheck

update ref
  selfdrive/test/process_replay/ref_commit
Due: none

Ensure controlsd can engage again in process replay (#23556)
  selfdrive/controls/controlsd.py
  selfdrive/loggerd/raw_logger.cc
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
Due: pylint, cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)
