Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

VW MQB: Add FW for 2021 Volkswagen Atlas
  selfdrive/car/volkswagen/values.py
Due: pylint

clean up
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
Due: cppcheck

clean up
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

boardd: handle false positive ignitions on red panda setups
  selfdrive/boardd/boardd.cc
Due: cppcheck

let's make map_settings_btn public
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

VW MQB: Add FW for 2021 Volkswagen Atlas (#29125)
  selfdrive/car/volkswagen/values.py
Due: pylint

Update selfdrive/boardd/spi.cc
  selfdrive/boardd/spi.cc
Due: cppcheck

boardd: reduce jitter around nacks (#29123)
  selfdrive/boardd/spi.cc
Due: cppcheck

since we don't have map, use enabled
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

boardd: handle false positive ignitions on red panda setups (#29126)
  selfdrive/boardd/boardd.cc
Due: cppcheck

accidentally deleted
  poetry.lock
  pyproject.toml
Due: none

fix image size
  selfdrive/assets/navigation/nav-settings.png
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

consistent map showing behavior
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

can do clean up in another PR
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
Due: cppcheck

add line
  selfdrive/ui/qt/onroad.h
Due: cppcheck

rename
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

make movement less jerky
  selfdrive/car/body/carcontroller.py
Due: pylint

ui/map: hide settings with showing map (#29127)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

Python packages: unpin (#29089)
  poetry.lock
  pyproject.toml
Due: none

useless spacing
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

[commabody] Support both self-balancing bodies and the wheeled bodies (#29118)
  common/params.cc
  selfdrive/car/body/carcontroller.py
  selfdrive/controls/controlsd.py
Due: pylint, cppcheck

use old nav icon
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

mapsd exit needs some work
  selfdrive/manager/test/test_manager.py
Due: pylint

mapsd exit needs some work old-commit-hash: 571bf47b0a1438ef2e09437e4749f150969f57ec
  selfdrive/manager/test/test_manager.py
Due: pylint

handle DM icon (and test)
  common/params.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

clean up
  common/params.cc
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

no reason
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

remove old image
  selfdrive/assets/navigation/nav-settings.png
Due: none

Update SAFETY.md (#29129)
  docs/SAFETY.md
Due: none

Update description
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Update releases
  RELEASES.md
Due: none

don't use setCurrentIndex
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
Due: cppcheck

Revert "don't use setCurrentIndex"
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
