Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

pandad: guarantee SPI slave turnaround time (#38464)
  openpilot/selfdrive/pandad/spi.cc
Due: cppcheck

probe gpu
  openpilot/selfdrive/modeld/SConscript
Due: none

camerad: account for BPS clock overhead
  openpilot/system/camerad/cameras/spectra.cc
Due: cppcheck

only on uncompiled
  openpilot/selfdrive/modeld/SConscript
Due: none

force to max
  openpilot/system/camerad/cameras/spectra.cc
Due: cppcheck

fix USB GPU build probe
  openpilot/selfdrive/modeld/SConscript
Due: none

allow cold Chestnut initialization
  openpilot/selfdrive/modeld/SConscript
Due: none

comma four: experimental mode explainer (#37961)
  openpilot/selfdrive/ui/mici/layouts/home.py
  openpilot/selfdrive/ui/mici/layouts/settings/toggles.py
  openpilot/selfdrive/ui/ui_state.py
Due: mypy

retry
  openpilot/selfdrive/modeld/SConscript
Due: none

comment
  openpilot/selfdrive/modeld/SConscript
Due: none

fix
  openpilot/selfdrive/modeld/SConscript
Due: none

tinygrad: recover USB GPU transfers
  .gitmodules
Due: none

probe chestnut before compiling big model (#38540)
  openpilot/selfdrive/modeld/SConscript
Due: none

log chestnut state
  openpilot/cereal/log.capnp
  openpilot/cereal/services.py
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

chestnut metrics
  openpilot/cereal/log.capnp
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

more metrics
  openpilot/cereal/log.capnp
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

fix chestnut metrics
  openpilot/cereal/log.capnp
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

cache chestnut power limit
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

use valid
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

move to class
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

log chestnut metrics (#38527)
  openpilot/cereal/log.capnp
  openpilot/cereal/services.py
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

match chestnut firmware hash
  openpilot/common/hardware/usb.py
  openpilot/selfdrive/modeld/helpers.py
Due: mypy

pin upstream chestnut firmware
  openpilot/common/hardware/usb.py
Due: mypy

build: package so
  pyproject.toml
Due: none

Update .gitmodules
  .gitmodules
Due: none

repointing opendbc_repo
  .gitmodules
Due: none

op: handle AGNOS updates
  tools/op.sh
Due: none

use common
  tools/op.sh
Due: none

don't just reboot
  tools/op.sh
Due: none

base a62f9948-142d-4406-887b-81260951e71b
  openpilot/selfdrive/modeld/models/dmonitoring_model.onnx
Due: none

1c13f8c7-a35d-4796-880a-902f600130db/400
  openpilot/selfdrive/modeld/models/driving_supercombo.onnx
Due: none

smooth rdf
  openpilot/selfdrive/modeld/modeld.py
Due: mypy

jp: fix segment range parsing
  openpilot/tools/jotpluggler/sketch_layout.cc
Due: none
