Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

Add 2021 Lexus RX350 engine FW (#19542)
  selfdrive/car/toyota/values.py
Due: pylint

increase athena test timeout
  selfdrive/athena/test_helpers.py
Due: pylint

Toyota RAV4H FW
  selfdrive/car/toyota/values.py
Due: pylint

2020 Camry FW
  selfdrive/car/toyota/values.py
Due: pylint

Toyota RAV4H FW (#19546)
  selfdrive/car/toyota/values.py
Due: pylint

2020 Camry FW (#19547)
  selfdrive/car/toyota/values.py
Due: pylint

add function get_alert_alpha()
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

safe_poll
  selfdrive/ui/ui.cc
Due: cppcheck

remove varialbe do_exit
  selfdrive/ui/ui.cc
Due: cppcheck

common transform
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

create_thumbnail in camera_common
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Update values.py for Insight
  selfdrive/car/honda/values.py
Due: pylint

Honda Insight FW (#19559)
  selfdrive/car/honda/values.py
Due: pylint

make onboarding a bit nicer
  selfdrive/ui/qt/offroad/onboarding.cc
  selfdrive/ui/qt/offroad/wifi.cc
Due: cppcheck

cameras: use common transform (#19552)
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_frame_stream.h
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_qcom2.h
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/cameras/camera_webcam.h
Due: cppcheck

it builds
  SConstruct
  tools/nui/SConscript
  tools/nui/Unlogger.cpp
  tools/nui/Unlogger.hpp
  tools/nui/main.cpp
Due: none

Added pyenv-virtualenv to ubuntu install script
  tools/ubuntu_setup.sh
Due: none

cleanup
  SConstruct
  selfdrive/ui/SConscript
  tools/nui/SConscript
Due: none

remove that
  tools/nui/.gitignore
  tools/nui/SConscript
  tools/nui/nui.pro
Due: none

build nui with scons (#19561)
  SConstruct
  selfdrive/ui/SConscript
  tools/nui/.gitignore
  tools/nui/SConscript
  tools/nui/Unlogger.cpp
  tools/nui/Unlogger.hpp
  tools/nui/main.cpp
  tools/nui/nui.pro
Due: none

Qt settings: highlight selected nav button
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.hpp
Due: cppcheck

ui: delete the variable do_exit that is no longer used (#19551)
  selfdrive/ui/ui.cc
Due: cppcheck

add start_time parameter to unlogger
  tools/replay/unlogger.py
Due: pylint

fix ui crash
  selfdrive/ui/paint.cc
Due: cppcheck

create speedlimitd
  release/files_common
  selfdrive/debug/cpu_usage_stat.py
  selfdrive/locationd/speedlimitd.py
  selfdrive/manager.py
  selfdrive/ui/paint.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: pylint, cppcheck

fix ui build
  selfdrive/ui/qt/widgets/drive_stats.cc
Due: cppcheck

use swaglog
  selfdrive/locationd/speedlimitd.py
Due: pylint

ui_read_params
  selfdrive/ui/ui.cc
Due: cppcheck

remove last_athena_ping from UIState
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

test interp with varied length arrays
  common/tests/test_numpy_fast.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
