Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

rm 17 Corolla
  selfdrive/test/test_models.py
Due: pylint

Add new Corolla route
  selfdrive/test/test_routes.py
Due: pylint

Was using a pedal
  selfdrive/test/test_routes.py
Due: pylint

Fixes
  selfdrive/test/test_routes.py
Due: pylint

rm
  selfdrive/test/test_routes.py
Due: pylint

Add starting point for torque unification
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_pid.py
Due: pylint

create base TestRoute class
  selfdrive/test/test_routes.py
Due: pylint

Refactor test_routes.py
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

Revert "Refactor test_routes.py"
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

Revert "create base TestRoute class"
  selfdrive/test/test_routes.py
Due: pylint

assume default to be true
  selfdrive/test/test_models.py
Due: pylint

fix build error
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/wifi.cc
Due: cppcheck

fix mypy?
  selfdrive/test/test_routes.py
Due: pylint

this works too
  selfdrive/test/test_routes.py
Due: pylint

no seek in constructor
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

check if idx out of range
  selfdrive/ui/replay/replay.cc
Due: cppcheck

Update route for 2017 Corolla (#20793)
  selfdrive/test/test_models.py
  selfdrive/test/test_routes.py
Due: pylint

change name
  selfdrive/ui/replay/main.cc
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

remove active
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

new line
  selfdrive/ui/replay/replay.cc
Due: cppcheck

pass in subMaster in constructor
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

buf count from camera_common.h
  selfdrive/ui/replay/replay.cc
  selfdrive/ui/replay/replay.hpp
Due: cppcheck

new signal slot syntax
  selfdrive/ui/replay/replay.cc
Due: cppcheck

cereal builds
  .python-version
  SConstruct
Due: none

Revert "Locationd 100hz (#20759)"
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Due: pylint, cppcheck

UI builds
  SConstruct
Due: none

new ref
  selfdrive/test/process_replay/ref_commit
Due: none

libyuv
  SConstruct
  phonelibs/libyuv/mac_arm64/lib/libyuv.a
Due: none

Building on M1 (#20796)
  .python-version
  SConstruct
  phonelibs/libyuv/mac_arm64/lib/libyuv.a
Due: none

Revert "Locationd 100hz (#20759)" (#20797)
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/test_onroad.py
Due: pylint, cppcheck

remove from release notes after revert
  RELEASES.md
Due: none

configure SSL globally on NEOS
  selfdrive/ui/main.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
Due: cppcheck

remove line
  selfdrive/ui/qt/setup/wifi.cc
Due: cppcheck

Fix build errors in qt/setup (#20795)
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/wifi.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
