Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update values.py
  selfdrive/car/volkswagen/values.py
Due: pylint

remove * device_from_calib
  selfdrive/ui/ui.cc
Due: cppcheck

Make tolerance None by default
  selfdrive/test/process_replay/process_replay.py
Due: pylint

Reverse the retrieval order of FakeSocket
  selfdrive/test/process_replay/process_replay.py
Due: pylint

Disable controlsdLagging event during process replay
  selfdrive/controls/controlsd.py
Due: pylint

agnos 7
  RELEASES.md
  launch_env.sh
  system/hardware/tici/agnos.json
  system/hardware/tici/hardware.py
Due: pylint

new build
  RELEASES.md
  system/hardware/tici/agnos.json
Due: none

no caibx
  system/hardware/tici/agnos.json
Due: none

agnos 7.1
  launch_env.sh
  system/hardware/tici/agnos.json
Due: none

update segmentation-models-pytorch
  poetry.lock
  pyproject.toml
Due: none

Change pub order for torqued
  selfdrive/test/process_replay/process_replay.py
Due: pylint

harness connector only
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

comment
  docs/CARS.md
  selfdrive/car/CARS_template.md
Due: none

review
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/docs_definitions.py
Due: pylint

update timm and segmentation-models-pytorch (#28178)
  poetry.lock
  pyproject.toml
Due: none

put back harness parts
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

VW: Explicit signal copy
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Due: pylint

normalize whitespace
  selfdrive/car/volkswagen/mqbcan.py
Due: pylint

prod manifest
  system/hardware/tici/agnos.json
Due: none

Update RELEASES.md
  RELEASES.md
Due: none

HKG: Add missing FW for 2022 Hyundai Santa Fe (#28150)
  selfdrive/car/hyundai/values.py
Due: pylint

avoid data copying
  tools/cabana/tools/search.cc
  tools/cabana/tools/signal_filterer.h
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
