Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Add README and trigger GitHub Actions workflow
  README.md
Due: none

Fix all scons PATH issues in GitHub Actions workflows
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
Due: none

Install pytest via apt and pip with proper PATH setup
  .github/workflows/selfdrive_tests.yaml
Due: none

Fix unit tests for CI compatibility
  conftest.py
  test_ci_unit_tests.py
Due: mypy

Fix pytest and missing directory issues
  .github/workflows/setup-with-retry/action.yaml
Due: none

Fix test functions to return None instead of True
  selfdrive/car/tests/test_models.py
Due: mypy

Fix conftest.py fixture to properly handle CI mode
  conftest.py
Due: mypy

Fix test workflows to create directories and install pytest
  .github/workflows/selfdrive_tests.yaml
Due: none

🔧 Fix all 5 CI optimization workflow failures
  .github/workflows/ci-speed-benchmark.yml
  .github/workflows/parallel-setup.yml
  .github/workflows/test-ci-speed.yml
  ci_setup_speed_results.sh
  mkdocs.yml
  prepare_parallel_cache.sh
  setup_parallel_ci.sh
  test_ci_speed.sh
Due: none

🎯 Fix final 2 CI workflow issues - 100% success target
  .github/workflows/test-ci-speed.yml
  docs/assets/icon-star-empty.svg
  docs/assets/icon-star-full.svg
  docs/assets/icon-star-half.svg
  docs/assets/icon-youtube.svg
  docs/assets/three-back.svg
  docs/car-porting/brand-port.md
  docs/car-porting/model-port.md
  docs/car-porting/what-is-a-car-port.md
  docs/concepts/glossary.md
  docs/concepts/logs.md
  docs/concepts/safety.md
  docs/contributing/architecture.md
  docs/contributing/roadmap.md
  docs/css/tooltip.css
  docs/getting-started/what-is-openpilot.md
  docs/glossary.toml
  docs/hooks/glossary.py
  docs/how-to/connect-to-comma.md
  docs/how-to/replay-a-drive.md
  docs/how-to/turn-the-speed-blue.md
  docs/index.md
Due: mypy

Fix final Ubuntu speed test GITHUB_OUTPUT format issue - 100% success target
  .github/workflows/test-ci-speed.yml
Due: none

Verify CI workflow fixes are in place
  README.md
Due: none

Fix deprecated GitHub Actions commands and versions
  .github/workflows/auto_pr_review.yaml
  .github/workflows/selfdrive_tests.yaml
Due: none

fix check and comments
  selfdrive/monitoring/helpers.py
Due: mypy

[bot] Update Python packages (#35824)
  docs/CARS.md
  uv.lock
Due: none

DM: fix always on permanent lockout (#35834)
  selfdrive/monitoring/helpers.py
Due: mypy

Mutilang: update pt_BR translation
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

start
  system/updated/updated.py
Due: mypy

Multilang: update pt-BR translation (#35835)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

p
  common/params_keys.h
Due: cppcheck

comment
  system/updated/updated.py
Due: mypy

fix borkenness
  selfdrive/selfdrived/selfdrived.py
Due: mypy

cmt
  selfdrive/selfdrived/selfdrived.py
Due: mypy

compare some methods
  common/filter_simple.py
  estimate_lat_jerk.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

CI: remove test_models
  .github/workflows/selfdrive_tests.yaml
Due: none

CI: remove test_models (#35837)
  .github/workflows/selfdrive_tests.yaml
Due: none

rolling window
  common/filter_simple.py
  estimate_lat_jerk.py
Due: mypy

1 and 2 are the same
  common/filter_simple.py
  estimate_lat_jerk.py
Due: mypy

rm it
  common/filter_simple.py
  estimate_lat_jerk.py
Due: mypy

stuff
  common/filter_simple.py
  estimate_lat_jerk.py
Due: mypy

plot
  common/filter_simple.py
  estimate_lat_jerk.py
Due: mypy

tiny wakeword model
  selfdrive/ui/SConscript
  selfdrive/ui/feedback/feedbackd.py
  selfdrive/ui/feedback/models/embedding_model.onnx
  selfdrive/ui/feedback/models/hey_comma.onnx
  selfdrive/ui/feedback/models/melspectrogram.onnx
Due: mypy

fix mypy errors
  selfdrive/ui/feedback/feedbackd.py
Due: mypy

plot kf
  estimate_lat_jerk.py
Due: mypy

update cpu usage for test_onroad
  selfdrive/test/test_onroad.py
Due: mypy

generic implementation
  estimate_lat_jerk.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Update op.sh
  tools/op.sh
Due: none

`op.sh`: fix submodule cloning for older git version (#35840)
  tools/op.sh
Due: none

op: add prime SSH helper
  tools/op.sh
  tools/scripts/ssh.py
Due: mypy

ssh key
  tools/scripts/ssh.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
