Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --quiet
  - --force
  - -j8

combine util.h&utilpp.h
  common/params_pxd.pxd
  installer/updater/updater.cc
  release/files_common
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/main.cc
  selfdrive/common/SConscript
  selfdrive/common/clutil.cc
  selfdrive/common/params.cc
  selfdrive/common/test_params.c
  selfdrive/common/util.cc
  selfdrive/common/util.h
  selfdrive/common/utilpp.h
  selfdrive/loggerd/loggerd.cc
  selfdrive/loggerd/raw_logger.cc
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/visiontest.mk
  selfdrive/proclogd/SConscript
  selfdrive/ui/android/ui.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.cc
Due: cppcheck

rebase master
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/pigeon.cc
  selfdrive/camerad/cameras/camera_qcom.cc
  selfdrive/camerad/cameras/camera_qcom.h
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/loggerd/raw_logger.cc
  selfdrive/loggerd/tests/testraw.cc
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
  selfdrive/proclogd/proclogd.cc
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/ui/qt/widgets/drive_stats.cc
Due: cppcheck

fix race condition with encoder thread
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

simplify SnG detection for Global for slower response yet reliable
  selfdrive/car/subaru/carcontroller.py
Due: pylint

rebase master
  selfdrive/camerad/cameras/camera_common.cc
  selfdrive/camerad/cameras/camera_frame_stream.cc
  selfdrive/camerad/cameras/camera_webcam.cc
  selfdrive/camerad/main.cc
  selfdrive/clocksd/clocksd.cc
  selfdrive/locationd/ubloxd_main.cc
  selfdrive/logcatd/logcatd_android.cc
  selfdrive/logcatd/logcatd_systemd.cc
  selfdrive/sensord/gpsd.cc
  selfdrive/sensord/sensors_qcom.cc
  selfdrive/sensord/sensors_qcom2.cc
Due: cppcheck

fix problem with drawing path (#19670)
  selfdrive/ui/paint.cc
Due: cppcheck

Move all CarControllerParams into values.py (#19663)
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/carcontroller.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/lib/latcontrol_indi.py
Due: pylint

dont show speed below zero
  selfdrive/ui/paint.cc
Due: cppcheck

UI: refactor model related functions (#19657)
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

new version
  selfdrive/ui/android/ui.cc
  selfdrive/ui/paint.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/sidebar.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.hpp
Due: cppcheck

kind of works now
  SConstruct
  phonelibs/QrCode/QrCode.cpp
  phonelibs/QrCode/QrCode.hpp
  phonelibs/SConscript
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/pairing_qr.cc
  selfdrive/ui/qt/widgets/pairing_qr.hpp
Due: cppcheck

QR code is now on screen
  selfdrive/ui/qt/widgets/pairing_qr.cc
  selfdrive/ui/qt/widgets/pairing_qr.hpp
Due: cppcheck

testing is needed
  common/params_pyx.pyx
  selfdrive/registration.py
  selfdrive/ui/qt/widgets/pairing_qr.cc
Due: pylint, cppcheck

less paramaters
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/ui.cc
Due: cppcheck

paint.cc car_space_to_full_frame less paramaters (#19676)
  selfdrive/ui/paint.cc
  selfdrive/ui/paint.hpp
  selfdrive/ui/ui.cc
Due: cppcheck

works, waiting for server update
  SConstruct
  phonelibs/SConscript
  selfdrive/ui/SConscript
  selfdrive/ui/qt/widgets/QrCode.cpp
  selfdrive/ui/qt/widgets/QrCode.hpp
  selfdrive/ui/qt/widgets/pairing_qr.cc
Due: cppcheck

reduce diff
  SConstruct
  phonelibs/SConscript
  selfdrive/ui/qt/widgets/pairing_qr.cc
Due: cppcheck

refactoring part1
  selfdrive/ui/SConscript
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/api.hpp
  selfdrive/ui/qt/widgets/drive_stats.cc
  selfdrive/ui/qt/widgets/pairing_qr.cc
Due: cppcheck

Chrysler non-ACC Fix - Only allow openpilot in ACC mode (#19581)
  selfdrive/car/chrysler/carstate.py
Due: pylint

only run logcatd while onroad
  selfdrive/manager.py
Due: pylint

logcatd_android: use sleep_for instead of usleep
  selfdrive/logcatd/logcatd_android.cc
Due: cppcheck

add AVALON 2021 to the interface.
  selfdrive/car/toyota/interface.py
Due: pylint

add fp and dbc
  selfdrive/car/toyota/values.py
Due: pylint

point it to me
  .gitmodules
Due: none

ff03bcfbadfbec99
  selfdrive/car/toyota/values.py
Due: pylint

add avalon 2021 to readme
  README.md
Due: none

start loggerd tests
  selfdrive/loggerd/tests/test_encoder.py
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

rlog
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

qlog test
  Jenkinsfile
  selfdrive/loggerd/tests/test_loggerd.py
  selfdrive/logmessaged.py
Due: pylint

init data and sentinel
  selfdrive/loggerd/tests/test_loggerd.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/
