Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

fix indentation
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

add primeTypeChanged signal to uiState
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

hide advanced networking toggles on prime type change
  selfdrive/ui/qt/offroad/networking.cc
  selfdrive/ui/qt/offroad/networking.h
Due: cppcheck

switch between map settings on prime type change
  selfdrive/ui/qt/maps/map_settings.cc
Due: cppcheck

hyundai: fix logging stock AEB events
  selfdrive/car/hyundai/carstate.py
Due: pylint

hyundai: fix FCA11 checksum and counter
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

update refs and comment about alt DBC definition we do not support
  selfdrive/car/hyundai/hyundaican.py
Due: pylint

thermald: consider pmic temp while onroad
  selfdrive/thermald/thermald.py
Due: pylint

this is better
  selfdrive/thermald/thermald.py
Due: pylint

move singalform to seperate files
  tools/cabana/SConscript
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/parser.h
  tools/cabana/signalform.cc
  tools/cabana/signalform.h
Due: none

don't add fake faults
  selfdrive/car/gm/carstate.py
Due: pylint

rename
  selfdrive/car/gm/carstate.py
Due: pylint

Update selfdrive/car/gm/carstate.py
  selfdrive/car/gm/carstate.py
Due: pylint

add header to chart
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/mainwin.cc
Due: none

Update selfdrive/car/gm/values.py
  selfdrive/car/gm/values.py
Due: pylint

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

zoom in/out
  tools/cabana/assets/zoom_in.png
  tools/cabana/assets/zoom_out.png
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

update at 20 HZ
  tools/cabana/messageswidget.cc
  tools/cabana/parser.cc
  tools/cabana/parser.h
Due: none

rix wrong idx
  tools/cabana/messageswidget.cc
Due: none

remove chart after signal deleted
  tools/cabana/chartswidget.cc
  tools/cabana/parser.cc
  tools/cabana/parser.h
Due: none

add chart header
  tools/cabana/assets/zoom_in.png
  tools/cabana/assets/zoom_out.png
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/parser.cc
  tools/cabana/parser.h
Due: none

get all signal val from logs
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

add route
  selfdrive/car/tests/routes.py
Due: pylint

min speeds and PQ default delay
  selfdrive/car/volkswagen/interface.py
Due: pylint

loop in selected range
  tools/cabana/assets/zoom_in.png
  tools/cabana/assets/zoom_out.png
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

clear list before append
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/parser.cc
  tools/cabana/parser.h
  tools/replay/replay.h
Due: none

extend live torque to all hyundai and toyota cars
  selfdrive/locationd/torqued.py
Due: pylint

update refs
  selfdrive/test/process_replay/ref_commit
Due: none
