Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Revert "Sleep shadow mode (#38578)"
  openpilot/selfdrive/modeld/models/dmonitoring_model.onnx
Due: none

Revert "DM: Zoom Zoom Model (#38554)"
  openpilot/selfdrive/modeld/models/dmonitoring_model.onnx
Due: none

big: bb895420-f830-e6b6-7461-84631913e7b0/12864
  openpilot/selfdrive/modeld/models/big_driving_supercombo.onnx
Due: none

Update Python packages
  uv.lock
Due: none

pandad: fix SPI corruption test
  openpilot/selfdrive/pandad/spi.cc
Due: cppcheck

jenkins: reboot onroad test devices
  Jenkinsfile
Due: none

jenkins: retry reboot readiness checks
  Jenkinsfile
Due: none

naive attention
  openpilot/selfdrive/modeld/models/big_driving_supercombo.onnx
Due: none

only last feat
  openpilot/selfdrive/modeld/models/big_driving_supercombo.onnx
Due: none

static pad
  openpilot/selfdrive/modeld/models/big_driving_supercombo.onnx
Due: none

cruise planner: fix decel jerk from cruise
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

dead variable
  openpilot/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

not worth 1m
  openpilot/selfdrive/modeld/compile_modeld.py
Due: mypy

saves 24s
  openpilot/selfdrive/modeld/SConscript
Due: none

save 13s
  openpilot/selfdrive/modeld/compile_modeld.py
Due: mypy

lfs
  openpilot/selfdrive/ui/installer/installer.cc
Due: none

Revert "lfs"
  openpilot/selfdrive/ui/installer/installer.cc
Due: none

use compiled helper for hardwared alert, source doesn't matter. scons skips compile if it's empty/lfs pointer
  openpilot/selfdrive/modeld/SConscript
  openpilot/selfdrive/modeld/helpers.py
  openpilot/system/hardware/hardwared.py
Due: mypy

log it
  openpilot/selfdrive/modeld/SConscript
Due: none

rmnl
  openpilot/selfdrive/modeld/SConscript
Due: none

parallelize model compilation
  openpilot/selfdrive/modeld/SConscript
  openpilot/selfdrive/modeld/compile_modeld.py
Due: mypy

explain compiler affinity
  openpilot/selfdrive/modeld/SConscript
Due: none

compile failed
  openpilot/common/params_keys.h
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/hardwared.py
Due: mypy, cppcheck

out of scope
  openpilot/common/params_keys.h
  openpilot/selfdrive/selfdrived/alerts_offroad.json
  openpilot/system/hardware/hardwared.py
Due: mypy, cppcheck

rmnl
  openpilot/system/hardware/hardwared.py
Due: mypy

chestnut: don't compile if big model is LFS pointer (#38655)
  openpilot/selfdrive/modeld/SConscript
  openpilot/selfdrive/modeld/helpers.py
  openpilot/system/hardware/hardwared.py
Due: mypy

lfs: exclude big driving model in master clones (#38626)
  .lfsconfig
Due: none

fix lfs
  tools/release/build_release.sh
Due: none

fix stop?
  openpilot/selfdrive/controls/lib/drive_helpers.py
  openpilot/selfdrive/controls/lib/longcontrol.py
Due: mypy

ui: unregister interactive timeout callbacks
  openpilot/selfdrive/ui/mici/layouts/onboarding.py
  openpilot/selfdrive/ui/mici/onroad/cabin_camera_dialog.py
  openpilot/selfdrive/ui/onroad/cabin_camera_dialog.py
  openpilot/selfdrive/ui/tests/test_ui_state.py
  openpilot/selfdrive/ui/ui_state.py
Due: mypy

car: reset calibration when car changes
  openpilot/selfdrive/car/card.py
  openpilot/selfdrive/car/tests/test_card.py
Due: mypy

wifi: add direct wpa_supplicant backend
  openpilot/system/ui/lib/dhcp_client.py
  openpilot/system/ui/lib/tests/test_dhcp_client.py
  openpilot/system/ui/lib/tests/test_wpa_ctrl.py
  openpilot/system/ui/lib/udhcpc.script
  openpilot/system/ui/lib/wifi_network_store.py
  openpilot/system/ui/lib/wpa_ctrl.py
Due: mypy

wifi: replace NetworkManager WiFi and tethering
  openpilot/selfdrive/ui/layouts/settings/settings.py
  openpilot/selfdrive/ui/mici/layouts/settings/network/__init__.py
  openpilot/selfdrive/ui/mici/layouts/settings/network/network_layout.py
  openpilot/selfdrive/ui/mici/layouts/settings/network/wifi_ui.py
  openpilot/system/ui/lib/networkmanager.py
  openpilot/system/ui/lib/tests/test_handle_state_change.py
  openpilot/system/ui/lib/tests/test_standalone_wifi.py
  openpilot/system/ui/lib/tests/test_wifi_manager_bringup.py
  openpilot/system/ui/lib/tests/test_wpa_ctrl.py
  openpilot/system/ui/lib/wifi_manager.py
  openpilot/system/ui/lib/wifi_network_store.py
  openpilot/system/ui/lib/wpa_ctrl.py
  openpilot/system/ui/mici_setup.py
  openpilot/system/ui/tici_setup.py
  openpilot/system/ui/tici_updater.py
  openpilot/system/ui/widgets/network.py
  pyproject.toml
  uv.lock
Due: mypy

wifi: test profile interoperability
  openpilot/system/ui/lib/tests/test_handle_state_change.py
  openpilot/system/ui/lib/tests/test_network_store.py
  openpilot/system/ui/lib/tests/test_standalone_wifi.py
  openpilot/system/ui/lib/tests/test_wifi_manager_bringup.py
  openpilot/system/ui/lib/wifi_network_store.py
Due: mypy

wifi: validate imported profile UUIDs
  openpilot/system/ui/lib/tests/test_network_store.py
  openpilot/system/ui/lib/wifi_network_store.py
Due: mypy

wifi: adopt automatic fallback connections
  openpilot/system/ui/lib/tests/test_handle_state_change.py
  openpilot/system/ui/lib/wifi_manager.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
