Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

remove duplicate code, wait for signal
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/ui.h
Due: cppcheck

agnos 6.1
  launch_env.sh
  selfdrive/sensord/rawgps/modemdiag.py
Due: pylint

docs: specify Lexus Safety System+ package for RX 2016
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: pylint

hybrid too
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: pylint

unit test
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
Due: pylint

clean up
  selfdrive/car/tests/test_docs.py
Due: pylint

revert test
  selfdrive/car/toyota/values.py
Due: pylint

like this
  selfdrive/car/tests/test_docs.py
Due: pylint

1456d261-d232-4654-8885-4d9fde883894/440 6b7d7cec-ead8-40f3-86cc-86d52c9b03fe/300
  .gitmodules
  selfdrive/modeld/SConscript
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/thneed/thneed_common.cc
Due: cppcheck

compute only 9 tokens: 1456d261-d232-4654-8885-4d9fde883894/440 6b7d7cec-ead8-40f3-86cc-86d52c9b03fe/300
  selfdrive/modeld/models/supercombo.onnx
Due: none

1456d261-d232-4654-8885-4d9fde883894/440 6b7d7cec-ead8-40f3-86cc-86d52c9b03fe/700
  selfdrive/modeld/models/supercombo.onnx
Due: none

dont use tinygrad matmul for now
  selfdrive/modeld/SConscript
Due: none

bump tinygrad
  selfdrive/modeld/SConscript
Due: none

1456d261-d232-4654-8885-4d9fde883894/440 e63ab895-2222-4abd-a9a5-af86bb70e260/700
  selfdrive/modeld/models/supercombo.onnx
Due: none

float16 1456d261-d232-4654-8885-4d9fde883894/440 e63ab895-2222-4abd-a9a5-af86bb70e260/700
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/runners/onnx_runner.py
Due: pylint

fork tinygrad
  .gitmodules
Due: none

Revert "increase steer rate cost"
  selfdrive/controls/lib/drive_helpers.py
Due: pylint

increase steer rate cost
  selfdrive/controls/lib/drive_helpers.py
Due: pylint

basics
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

Update long weights
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: pylint

Move LATMPCN so scons compiles
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/tests/test_lateral_mpc.py
Due: pylint

Kinda works
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

new tuning
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

new lat
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_planner.py
Due: pylint

Add tinygrad optim
  release/files_common
Due: none

Update model ref
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

staging manifest
  system/hardware/tici/agnos.json
Due: none

no casync
  system/hardware/tici/agnos.json
Due: none

updater: configure git config for new target branch
  selfdrive/updated.py
Due: pylint

prod manifest
  system/hardware/tici/agnos.json
Due: none

Specify separation time in openpilot
  selfdrive/car/isotp_parallel_query.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
