Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Ford: seperate logging-only request in FW query config
  selfdrive/car/ford/values.py
Due: mypy

explain model year hint better
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
Due: mypy

test part numbers again
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
Due: mypy

simulator: Correctly handle arrival at destination
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
Due: mypy

Add unit-test for absolute pathes in build files
  .github/workflows/compile-openpilot/action.yaml
Due: none

Change absolute pathes to relative pathes in main SConscript
  SConstruct
Due: none

Change absolute pathes to relative pathes in controls' SConstruct
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
Due: none

Change absolute pathes to relative pathes in locationd SConstruct
  selfdrive/locationd/SConscript
Due: none

Change absolute pathes to relative pathes in modeld's SConstruct
  selfdrive/modeld/SConscript
Due: none

Change absolute pathes to relative pathes in navd's SConstruct
  selfdrive/navd/SConscript
Due: none

Change absolute pathes to relative pathes in ui's SConstruct
  selfdrive/ui/SConscript
Due: none

Change absolute pathes to relative pathes in cabana's SConscript
  tools/cabana/SConscript
Due: none

cleanup notebooks
  selfdrive/car/ford/tests/ford_fuzzy_fingerprint.ipynb
  selfdrive/car/ford/tests/test_match.ipynb
Due: none

remove notebook
  selfdrive/car/ford/tests/ford_fuzzy_fingerprint.ipynb
Due: none

Fix test
  .github/workflows/compile-openpilot/action.yaml
Due: none

cleanup match_fw_to_car_fuzzy and add comments
  selfdrive/car/ford/values.py
Due: mypy

update comment
  selfdrive/car/ford/values.py
Due: mypy

.
  selfdrive/car/ford/values.py
Due: mypy

Revert "remove notebook"
  selfdrive/car/ford/tests/ford_fuzzy_fingerprint.ipynb
Due: none

add notebook back
  selfdrive/car/ford/tests/ford_fuzzy_fingerprint.ipynb
Due: none

Fix test again
  .github/workflows/compile-openpilot/action.yaml
Due: none

Add scripts/test_relcache.py
  scripts/test_relcache.py
Due: mypy

Refactor scripts/test_relcache.py
  scripts/test_relcache.py
Due: mypy

remove PSCM from PLATFORM_CODE_ECUS
  selfdrive/car/ford/values.py
Due: mypy

Correct value
  selfdrive/car/gm/gmcan.py
Due: mypy

Simpler
  selfdrive/car/honda/hondacan.py
Due: mypy

cleanup
  selfdrive/car/honda/hondacan.py
  selfdrive/car/honda/values.py
Due: mypy

Apply suggestions from code review
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy

Fix build with --pc-thneed
  selfdrive/modeld/SConscript
Due: none

more
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Update selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

doesn't write param now
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck
