Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
        args:
        - --warn-unreachable
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

fix driverview
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

need to update here
  selfdrive/ui/qt/offroad/driverview.cc
Due: cppcheck

testing closet changes
  common/api/__init__.py
  launch_openpilot.sh
  selfdrive/boardd/boardd.cc
  selfdrive/controls/controlsd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/loggerd/uploader.py
  selfdrive/ui/ui.cc
  testing_closet_update.sh
Due: pylint, cppcheck

add isp offset
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

gate behind env variable
  selfdrive/camerad/cameras/camera_common.h
  selfdrive/camerad/cameras/camera_qcom2.cc
Due: cppcheck

camerad: disable stats
  selfdrive/camerad/cameras/camera_qcom2.cc
  selfdrive/camerad/cameras/sensor2_i2c.h
Due: cppcheck

Always send valid messages
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
Due: pylint

Only send gnssMeasurement msg when measurementReport type
  selfdrive/locationd/laikad.py
Due: pylint

Add gnss kalman filter to laikad (#24578)
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
Due: pylint

fix typo?
  selfdrive/car/honda/carcontroller.py
Due: pylint

Use ephemeris and move astrodog in laikad
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
Due: pylint

improve test
  selfdrive/locationd/test/test_laikad.py
Due: pylint

another typo
  selfdrive/car/honda/carcontroller.py
Due: pylint

affine aux panda IRQ to boardd core (#24600)
  selfdrive/hardware/tici/hardware.py
Due: pylint

empty list means poll all
  selfdrive/boardd/boardd.cc
  selfdrive/ui/navd/route_engine.cc
  selfdrive/ui/ui.cc
Due: cppcheck

Revert "poll modelV2 in UI"
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/ui.cc
Due: cppcheck

Revert "fix driverview"
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

slow integrators need not be reset
  selfdrive/controls/lib/latcontrol_torque.py
Due: pylint

poll all
  selfdrive/locationd/locationd.cc
Due: cppcheck

Latcontrol torque: integrator need not be reset (#24606)
  selfdrive/controls/lib/latcontrol_torque.py
Due: pylint

update libyuv buildi x64
  third_party/libyuv/x64/lib/libyuv.a
Due: none

Add test for missing car info
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs.py
  selfdrive/car/ford/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/tests/test_docs.py
Due: pylint

Make optional
  selfdrive/car/chrysler/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
Due: pylint

ad4337ea
  selfdrive/modeld/models/dmonitoring_model_q.dlc
Due: none

remove blink slack
  selfdrive/monitoring/driver_monitor.py
Due: pylint

SubMaster: support for polling in C++ (#24602)
  selfdrive/locationd/locationd.cc
Due: cppcheck

revert
  selfdrive/boardd/boardd.cc
  selfdrive/ui/navd/route_engine.cc
Due: cppcheck

handle no segment
  tools/latencylogger/latency_logger.py
Due: pylint

no timeout when modeld is not alive
  selfdrive/ui/ui.cc
Due: cppcheck

Update selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

poll on modelV2
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/ui.cc
Due: cppcheck

debug times
  selfdrive/ui/ui.cc
Due: cppcheck

more reliable button pressing
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hda2can.py
  selfdrive/car/hyundai/values.py
Due: pylint

Revert "GM: Fix noisy brake pressed (#23712)"
  selfdrive/car/gm/carstate.py
Due: pylint

keep this
  selfdrive/car/gm/carstate.py
Due: pylint

same check, but don't clip CS.brake
  selfdrive/car/gm/carstate.py
Due: pylint
