Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

selfdrive: Fix state machine test imports
  selfdrive/selfdrived/tests/test_state_machine.py
Due: mypy

simplify instructions
  tools/longitudinal_maneuvers/README.md
Due: none

revert
  tools/longitudinal_maneuvers/generate_report.py
Due: mypy

remove broken video, better image
  tools/longitudinal_maneuvers/README.md
Due: none

details
  tools/longitudinal_maneuvers/README.md
Due: none

discord
  tools/longitudinal_maneuvers/README.md
Due: none

final
  tools/longitudinal_maneuvers/README.md
Due: none

Longitudinal manuever docs (#33561)
  tools/longitudinal_maneuvers/README.md
Due: none

more powar
  system/hardware/tici/tests/test_power_draw.py
Due: mypy

reluctantly
  selfdrive/test/test_onroad.py
Due: mypy

Add small in-progress GIF clip to longitudinal_maneuvers README
  tools/longitudinal_maneuvers/README.md
Due: none

test selfdrived!
  pyproject.toml
Due: none

exit() is for interactive sessions
  selfdrive/test/cpp_harness.py
Due: mypy

fix
  selfdrive/ui/tests/test_runner.cc
Due: cppcheck

comments
  selfdrive/ui/tests/test_runner.cc
  selfdrive/ui/tests/test_translations.cc
Due: cppcheck

more
  conftest.py
Due: mypy

it's the same file
  selfdrive/selfdrived/tests/test_state_machine.py
Due: mypy

Update selfdrive/selfdrived/tests/test_state_machine.py
  selfdrive/selfdrived/tests/test_state_machine.py
Due: mypy

tests: fix selfdrive state machine import (#33571)
  selfdrive/selfdrived/tests/test_state_machine.py
Due: mypy

test all of selfdrive/
  conftest.py
  pyproject.toml
  selfdrive/ui/tests/test_translations.cc
Due: mypy, cppcheck

revive camera_fixups_isp
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/cameras/isp_programs.h
Due: cppcheck

debug
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

ignore what we used to
  conftest.py
Due: mypy

Add clip to longitudinal_maneuvers README (#33574)
  tools/longitudinal_maneuvers/README.md
Due: none

Update Python packages
  uv.lock
Due: none

[bot] Update Python packages (#33576)
  uv.lock
Due: none

no isp err
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

add toggles
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

still getting an mmu fault
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

ci: add toggles to ui report (#33577)
  .github/workflows/ui_preview.yaml
  selfdrive/ui/tests/test_ui/run.py
Due: mypy

1
  selfdrive/ui/ui.cc
Due: cppcheck

debug output
  selfdrive/ui/qt/onroad/driver_monitoring.cc
Due: cppcheck

2
  selfdrive/ui/qt/onroad/driver_monitoring.cc
Due: cppcheck

3
  selfdrive/ui/qt/onroad/driver_monitoring.cc
Due: cppcheck

reduce timeout
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

test
  selfdrive/ui/ui.cc
Due: cppcheck

debug printf
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

debug print
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

loop until received 20 uiDebug messages
  selfdrive/ui/tests/test_ui/run.py
Due: mypy
