Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs']
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(opendbc)|(laika_repo)|(rednose_repo)|(selfdrive/debug)/'
        args:
        - --select=E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra)|(external)|(cereal)|(rednose)|(panda)|(laika)|(laika_repo)|(rednose_repo)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(phonelibs)|(external)|(cereal)|(opendbc)|(panda)|(tools)|(selfdrive/modeld/thneed/debug)|(selfdrive/modeld/test)|(selfdrive/camerad/test)/'
        args:
        - --error-exitcode=1
        - --quiet
        - --force
        - -j8

Test update process with NEOS 14B
  installer/updater/update.json
  launch_env.sh
Due: none

Revert "Test update process with NEOS 14B"
  installer/updater/update.json
  launch_env.sh
Due: none

Make updated more resilient (#1853)
  launch_chffrplus.sh
  selfdrive/updated.py
Due: pylint

Simplify neoupdate dir wipe
  selfdrive/updated.py
Due: pylint

Revert always-force-update hack
  selfdrive/updated.py
Due: pylint

Super hax always full update
  launch_chffrplus.sh
  selfdrive/updated.py
Due: pylint

Dedupe param and force UI presentation
  common/params.py
  selfdrive/updated.py
Due: pylint

Fix typo, reinit state machine
  installer/updater/updater
  installer/updater/updater.cc
  selfdrive/updated.py
Due: pylint, cppcheck

Don't clear neoupdate, better timers
  selfdrive/updated.py
Due: pylint

WIP bg update without semaphore file
  installer/updater/updater
  installer/updater/updater.cc
  selfdrive/updated.py
Due: pylint, cppcheck

NEOS background download
  common/params.py
  installer/updater/updater
  installer/updater/updater.cc
  launch_chffrplus.sh
  launch_env.sh
  selfdrive/updated.py
Due: pylint, cppcheck

Inline the download param setting function
  selfdrive/updated.py
Due: pylint

Don't init UI unless we're foreground
  installer/updater/updater
  installer/updater/updater.cc
Due: cppcheck

Shorten timer during test
  selfdrive/updated.py
Due: pylint

Force NEOS update if cached for testing
  launch_chffrplus.sh
Due: none

Typo fix
  selfdrive/updated.py
Due: pylint

Restore default update timing
  selfdrive/updated.py
Due: pylint

Logic tweaks
  installer/updater/updater
  installer/updater/updater.cc
  selfdrive/updated.py
Due: pylint, cppcheck

More testing hax
  launch_chffrplus.sh
Due: none

Set downloading param for APK
  selfdrive/updated.py
Due: pylint

Revert more of test-debug force updating
  launch_chffrplus.sh
Due: none

Nix out-of-date comment
  launch_chffrplus.sh
Due: none

Further unwinding of test-debug hax
  selfdrive/updated.py
Due: pylint

bash is totally awesome
  selfdrive/updated.py
Due: pylint

bash is *really* awesome
  launch_chffrplus.sh
Due: none

Reduce a potential race window
  selfdrive/updated.py
Due: pylint

print -> cloudlog
  selfdrive/updated.py
Due: pylint

GC an unused environment variable
  selfdrive/updated.py
Due: pylint

replace -> strip
  selfdrive/updated.py
Due: pylint

Restore dropped f-string prefix
  selfdrive/updated.py
Due: pylint

SCC doesn't resume under 3.7m
  selfdrive/car/hyundai/carcontroller.py
Due: pylint
