Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

add alt query (same as Hyundai)
  selfdrive/car/subaru/values.py
Due: mypy

refs
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy

add condition to only set connection[wireless][hidden] to true when connecting to a hidden network
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
Due: cppcheck

slight
  system/camerad/sensors/os04c10_registers.h
Due: cppcheck

Apply suggestions from code review
  selfdrive/car/ford/fingerprints.py
Due: mypy

update docs
  docs/CARS.md
Due: none

bugfix: add support for Bronco Sport 2023 (#31794)
  docs/CARS.md
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
Due: mypy

Export fingerprints
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy

Fix check
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
Due: mypy

more appropriate up here
  selfdrive/car/toyota/carcontroller.py
Due: mypy

consistenet
  selfdrive/car/toyota/carcontroller.py
Due: mypy

Update selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/carstate.py
Due: mypy

Update ref_commit
  selfdrive/test/process_replay/ref_commit
Due: none

Update selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy

not all cars yet
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
Due: mypy, cppcheck

works but at what cost
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

clean up
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/window.h
Due: cppcheck

inside settings
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/ui.cc
Due: cppcheck

write param so we save the distance button changes
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.cc
Due: mypy, cppcheck

setChecked activates buttonToggled and already writes param!
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Due: mypy, cppcheck

don't need this, we update from longitudinalPlan on changes
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

some clean up
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/qt/window.h
  selfdrive/ui/ui.cc
Due: cppcheck

more
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/ui.cc
Due: cppcheck

ui
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

wip - rebase devel hacks
  scripts/bfg.sh
Due: none

allow some time for ui to receive and write param
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

plannerd: only track changes in case no ui
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Revert "plannerd: only track changes in case no ui"
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

write in plannerd as well, I assume this is atomic?
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

don't write when setting checked (only user clicks)
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

better nane
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
