Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

add icon
  docs/assets/icon-youtube.svg
Due: none

fix
  docs/CARS.md
  selfdrive/car/CARS_template.md
  selfdrive/car/docs_definitions.py
Due: pylint

try this
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint

dynamic find bit
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Due: none

VW MQB: Add FW for 2019 Volkswagen Golf
  selfdrive/car/volkswagen/values.py
Due: pylint

multiple threaded decoding
  tools/replay/framereader.cc
Due: none

No more glonass
  selfdrive/locationd/laikad.py
Due: pylint

change
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Due: none

Revert "change"
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Due: none

change sorting and headers
  tools/cabana/tools/findsimilarbits.cc
Due: none

make perc a float
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Due: none

cabana: sync play button state (#26917)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

VW MQB: Add FW for 2019 Volkswagen Golf (#26920)
  selfdrive/car/volkswagen/values.py
Due: pylint

match CAN
  selfdrive/car/hyundai/carstate.py
Due: pylint

think these are missing
  selfdrive/car/hyundai/carstate.py
Due: pylint

HKG CAN-FD: set cruise state available with car signal (#26812)
  selfdrive/car/hyundai/carstate.py
Due: pylint

available on TCS signal always
  selfdrive/car/hyundai/carstate.py
Due: pylint

cmt enh
  selfdrive/car/hyundai/carstate.py
Due: pylint

better comment
  selfdrive/car/hyundai/carstate.py
Due: pylint

better
  selfdrive/car/hyundai/carstate.py
Due: pylint

wip
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Hyundai CAN-FD: set available from TCS ACC available (#26921)
  selfdrive/car/hyundai/carstate.py
Due: pylint

make separate score func
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
Due: cppcheck

n4ot g
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

Change pythonpath
  .github/workflows/badges.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  Dockerfile.openpilot
  SConstruct
  docs/docker/Dockerfile
  launch_chffrplus.sh
  release/build_release.sh
  selfdrive/test/ci_shell.sh
  selfdrive/test/test_updated.py
  tools/sim/Dockerfile.sim
  tools/sim/start_openpilot_docker.sh
  tools/webcam/Dockerfile
  tools/webcam/README.md
  update_requirements.sh
Due: pylint

Revert "No more glonass"
  selfdrive/locationd/laikad.py
Due: pylint

openpilotpath
  Jenkinsfile
  SConstruct
  launch_chffrplus.sh
  selfdrive/modeld/dmonitoringmodeld
  selfdrive/modeld/modeld
  selfdrive/modeld/navmodeld
  selfdrive/modeld/tests/snpe_benchmark/benchmark.sh
  tools/gpstest/fuzzy_testing.py
Due: pylint

filter on can steering pressed
  selfdrive/car/hyundai/carstate.py
Due: pylint

white inner triangle
  docs/CARS.md
  docs/assets/icon-youtube-2.svg
  selfdrive/car/docs_definitions.py
Due: pylint

width
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: pylint
