Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/'
        additional_dependencies: ['git+https://github.com/numpy/numpy-stubs', 'types-requests', 'types-atomicwrites',
                                  'types-pycurl']
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/debug/)/'
        args:
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)/'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)/|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

longitudinal MPC: merge upper and lower accel constraint, use bounds instead of parameters for it
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

controlsd: fix vCruise jumping on pcmCruise cars (#23388)
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: pylint

Joystick inactive handoff to controller Joystick angle and swap modes
  selfdrive/common/params.cc
  selfdrive/controls/controlsd.py
  tools/joystick/README.md
  tools/joystick/joystickd.py
Due: pylint, cppcheck

Fix FF path in Thermal Controller
  selfdrive/thermald/fan_controller.py
Due: pylint

do not pass angle to "indi" due to missing desired rate.
  selfdrive/controls/controlsd.py
  tools/joystick/joystickd.py
Due: pylint

Remove KIA_NIRO_HEV_2021 from STEER_MAX = 255 blacklist
  selfdrive/car/hyundai/values.py
Due: pylint

will make an issue
  selfdrive/car/hyundai/carcontroller.py
Due: pylint

Remove KIA_NIRO_HEV_2021 from STEER_MAX = 255 blacklist (#23906)
  selfdrive/car/hyundai/values.py
Due: pylint

fixup
  selfdrive/controls/controlsd.py
Due: pylint

no rounding errors
  selfdrive/modeld/modeld.cc
Due: cppcheck

log extra frame id
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

sync based on frame ts
  selfdrive/modeld/modeld.cc
Due: cppcheck

ints only
  selfdrive/modeld/modeld.cc
Due: cppcheck

update ref
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Cython: improve error message
  pyextra/acados_template/acados_ocp_solver_pyx.pyx
Due: none

longitudinal MPC: formulate speed and accel constraints as bounds
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: pylint

VW MQB: Add FW for 2020 Volkswagen Jetta
  selfdrive/car/volkswagen/values.py
Due: pylint

no calib model
  models/dmonitoring_model.current
  models/dmonitoring_model.onnx
  models/dmonitoring_model_q.dlc
Due: none

VW MQB: Add FW for 2018 Škoda Octavia
  selfdrive/car/volkswagen/values.py
Due: pylint

mac setup: add catch2
  tools/mac_setup.sh
Due: none

VW MQB: Add FW for 2018 Škoda Octavia (#23909)
  selfdrive/car/volkswagen/values.py
Due: pylint

VW MQB: Add FW for 2020 Volkswagen Jetta (#23908)
  selfdrive/car/volkswagen/values.py
Due: pylint

path fixes
  SConstruct
  selfdrive/modeld/SConscript
Due: none

VW MQB: Add FW for 2022 Volkswagen Tiguan
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: pylint

VW MQB: Add FW for 2022 Volkswagen Tiguan (#23913)
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: pylint

lower model FCW + stock longitudinal threshold to -1.25m/s^2
  selfdrive/controls/controlsd.py
Due: pylint

lower model FCW + stock longitudinal threshold to -1.25m/s^2 (#23915)
  selfdrive/controls/controlsd.py
Due: pylint

modeld: sync based on frame timestamp (#23901)
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Update selfdrive/car/hyundai/values.py
  selfdrive/car/hyundai/values.py
Due: pylint

Fix Honda Bosch standstill release
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Due: pylint
