Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

more aesthetic ordering
  SConstruct
  selfdrive/car/tests/test_models.py
Due: pylint

alphabetical :(
  SConstruct
Due: none

Update values.py
  selfdrive/car/honda/values.py
Due: pylint

update filter slower
  system/micd.py
Due: pylint

Hyundai: Add FW for 2022 Tucson Hybrid (#26647)
  selfdrive/car/hyundai/values.py
Due: pylint

fix divide by zero
  system/micd.py
Due: pylint

Fix OpenCL driver URL
  Dockerfile.openpilot_base_cl
  tools/webcam/README.md
Due: none

micd: scale sound volume with ambient noise level (#26399)
  poetry.lock
  pyproject.toml
  release/files_common
  selfdrive/manager/process_config.py
  selfdrive/ui/soundd/sound.cc
  system/hardware/tici/hardware.h
  system/micd.py
  tools/ubuntu_setup.sh
Due: pylint, cppcheck

add is_sound_playing to hardware.py
  system/hardware/base.py
  system/hardware/pc/hardware.py
  system/hardware/tici/hardware.py
Due: pylint

micd: don't update filtered sound level if playing sound
  system/micd.py
Due: pylint

sim: disable micd
  tools/sim/launch_openpilot.sh
Due: none

Update RELEASES.md
  RELEASES.md
Due: none

Toyota: Add FW for 2023 Toyota Camry Hybrid
  selfdrive/car/toyota/values.py
Due: pylint

fixed header
  tools/cabana/binaryview.cc
Due: none

Revert IsOffroad check
  selfdrive/thermald/power_monitoring.py
Due: pylint

VW MQB: Allow engage at standstill
  selfdrive/car/volkswagen/interface.py
Due: pylint
