Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

TODO
  system/ui/setup.py
Due: mypy

system/ui: disabled button styles
  system/ui/lib/button.py
Due: mypy

system/ui: disabled button styles (#35236)
  system/ui/lib/button.py
Due: mypy

svg -> png script
  selfdrive/assets/prep-svg.sh
Due: none

feat(clip): delete get_metadata call (#35229)
  tools/clip/run.py
  tools/lib/route.py
Due: mypy

support low gear for ford
  selfdrive/car/car_specific.py
Due: mypy

revert uv.lock
  uv.lock
Due: none

get dlc_to_len from opendbc/safety/board/can_declarations.h
  selfdrive/pandad/panda.h
Due: cppcheck

remove unused assets
  selfdrive/assets/images/triangle.svg
  selfdrive/assets/offroad/icon_calibration.png
  selfdrive/assets/offroad/icon_close.svg
  selfdrive/assets/offroad/icon_menu.png
  selfdrive/assets/offroad/icon_minus.png
  selfdrive/assets/offroad/icon_network.png
  selfdrive/assets/offroad/icon_road.png
  selfdrive/assets/offroad/icon_settings.png
  selfdrive/assets/offroad/icon_shell.png
  selfdrive/assets/offroad/icon_wifi_uploading.svg
Due: none

these are icons
  selfdrive/assets/assets.qrc
  selfdrive/assets/icons/checkmark.png
  selfdrive/assets/icons/chevron_right.png
  selfdrive/assets/icons/chffr_wheel.png
  selfdrive/assets/icons/circled_check.svg
  selfdrive/assets/icons/circled_slash.svg
  selfdrive/assets/icons/couch.svg
  selfdrive/assets/icons/disengage_on_accelerator.svg
  selfdrive/assets/icons/driver_face.png
  selfdrive/assets/icons/experimental.svg
  selfdrive/assets/icons/experimental_grey.svg
  selfdrive/assets/icons/experimental_white.svg
  selfdrive/assets/icons/eye_closed.svg
  selfdrive/assets/icons/eye_open.svg
  selfdrive/assets/icons/lock_closed.svg
  selfdrive/assets/icons/metric.png
  selfdrive/assets/icons/monitoring.png
  selfdrive/assets/icons/speed_limit.png
  selfdrive/assets/icons/warning.png
  selfdrive/assets/icons/wifi_strength_full.svg
  selfdrive/assets/icons/wifi_strength_high.svg
  selfdrive/assets/icons/wifi_strength_low.svg
  selfdrive/assets/icons/wifi_strength_medium.svg
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/offroad/experimental_mode.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/driver_monitoring.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/widgets/input.cc
Due: cppcheck

these are images
  selfdrive/assets/assets.qrc
  selfdrive/assets/images/button_continue_triangle.svg
  selfdrive/assets/images/spinner_comma.png
  selfdrive/assets/images/spinner_track.png
  selfdrive/ui/qt/setup/setup.cc
  system/ui/spinner.py
Due: mypy, cppcheck

fix
  selfdrive/assets/icons/checkmark.svg
Due: none

fix
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/buttons.cc
Due: cppcheck

Revert "remove unused assets"
  selfdrive/assets/images/triangle.svg
  selfdrive/assets/offroad/icon_calibration.png
  selfdrive/assets/offroad/icon_close.svg
  selfdrive/assets/offroad/icon_menu.png
  selfdrive/assets/offroad/icon_minus.png
  selfdrive/assets/offroad/icon_network.png
  selfdrive/assets/offroad/icon_road.png
  selfdrive/assets/offroad/icon_settings.png
  selfdrive/assets/offroad/icon_shell.png
  selfdrive/assets/offroad/icon_wifi_uploading.svg
Due: none

move these too
  selfdrive/assets/icons/calibration.png
  selfdrive/assets/icons/close2.svg
  selfdrive/assets/icons/menu.png
  selfdrive/assets/icons/minus.png
  selfdrive/assets/icons/network.png
  selfdrive/assets/icons/road.png
  selfdrive/assets/icons/settings.png
  selfdrive/assets/icons/shell.png
  selfdrive/assets/icons/triangle.svg
  selfdrive/assets/icons/wifi_uploading.svg
Due: none

use new file paths (not rasterized yet)
  system/ui/setup.py
Due: mypy

selfdrive/assets: optimize SVGs
  selfdrive/assets/icons/checkmark.svg
  selfdrive/assets/icons/circled_check.svg
  selfdrive/assets/icons/circled_slash.svg
  selfdrive/assets/icons/close.svg
  selfdrive/assets/icons/close2.svg
  selfdrive/assets/icons/couch.svg
  selfdrive/assets/icons/disengage_on_accelerator.svg
  selfdrive/assets/icons/experimental.svg
  selfdrive/assets/icons/experimental_grey.svg
  selfdrive/assets/icons/experimental_white.svg
  selfdrive/assets/icons/eye_closed.svg
  selfdrive/assets/icons/eye_open.svg
  selfdrive/assets/icons/lock_closed.svg
  selfdrive/assets/icons/triangle.svg
  selfdrive/assets/icons/wifi_strength_full.svg
  selfdrive/assets/icons/wifi_strength_high.svg
  selfdrive/assets/icons/wifi_strength_low.svg
  selfdrive/assets/icons/wifi_strength_medium.svg
  selfdrive/assets/icons/wifi_uploading.svg
  selfdrive/assets/images/button_continue_triangle.svg
  selfdrive/assets/prep-svg.sh
Due: none

selfdrive/assets: optimize SVGs (#35242)
  selfdrive/assets/icons/checkmark.svg
  selfdrive/assets/icons/circled_check.svg
  selfdrive/assets/icons/circled_slash.svg
  selfdrive/assets/icons/close.svg
  selfdrive/assets/icons/close2.svg
  selfdrive/assets/icons/couch.svg
  selfdrive/assets/icons/disengage_on_accelerator.svg
  selfdrive/assets/icons/experimental.svg
  selfdrive/assets/icons/experimental_grey.svg
  selfdrive/assets/icons/experimental_white.svg
  selfdrive/assets/icons/eye_closed.svg
  selfdrive/assets/icons/eye_open.svg
  selfdrive/assets/icons/lock_closed.svg
  selfdrive/assets/icons/triangle.svg
  selfdrive/assets/icons/wifi_strength_full.svg
  selfdrive/assets/icons/wifi_strength_high.svg
  selfdrive/assets/icons/wifi_strength_low.svg
  selfdrive/assets/icons/wifi_strength_medium.svg
  selfdrive/assets/icons/wifi_uploading.svg
  selfdrive/assets/images/button_continue_triangle.svg
  selfdrive/assets/prep-svg.sh
Due: none

selfdrive/assets: rasterize SVGs
  selfdrive/assets/icons/checkmark.png
  selfdrive/assets/icons/circled_check.png
  selfdrive/assets/icons/circled_slash.png
  selfdrive/assets/icons/close.png
  selfdrive/assets/icons/close2.png
  selfdrive/assets/icons/couch.png
  selfdrive/assets/icons/disengage_on_accelerator.png
  selfdrive/assets/icons/experimental.png
  selfdrive/assets/icons/experimental_grey.png
  selfdrive/assets/icons/experimental_white.png
  selfdrive/assets/icons/eye_closed.png
  selfdrive/assets/icons/eye_open.png
  selfdrive/assets/icons/lock_closed.png
  selfdrive/assets/icons/triangle.png
  selfdrive/assets/icons/wifi_strength_full.png
  selfdrive/assets/icons/wifi_strength_high.png
  selfdrive/assets/icons/wifi_strength_low.png
  selfdrive/assets/icons/wifi_strength_medium.png
  selfdrive/assets/icons/wifi_uploading.png
  selfdrive/assets/images/button_continue_triangle.png
Due: none

do entire assets dir
  selfdrive/assets/prep-svg.sh
Due: none

fixed size - 4096px is a lot
  selfdrive/assets/prep-svg.sh
Due: none

optimise them too
  selfdrive/assets/prep-svg.sh
Due: none

use inkscape
  selfdrive/assets/prep-svg.sh
Due: none

regenerate
  selfdrive/assets/icons/checkmark.png
  selfdrive/assets/icons/circled_check.png
  selfdrive/assets/icons/circled_slash.png
  selfdrive/assets/icons/close.png
  selfdrive/assets/icons/close2.png
  selfdrive/assets/icons/couch.png
  selfdrive/assets/icons/disengage_on_accelerator.png
  selfdrive/assets/icons/experimental.png
  selfdrive/assets/icons/experimental_grey.png
  selfdrive/assets/icons/experimental_white.png
  selfdrive/assets/icons/eye_closed.png
  selfdrive/assets/icons/eye_open.png
  selfdrive/assets/icons/lock_closed.png
  selfdrive/assets/icons/triangle.png
  selfdrive/assets/icons/wifi_strength_full.png
  selfdrive/assets/icons/wifi_strength_high.png
  selfdrive/assets/icons/wifi_strength_low.png
  selfdrive/assets/icons/wifi_strength_medium.png
  selfdrive/assets/icons/wifi_uploading.png
  selfdrive/assets/images/button_continue_triangle.png
Due: none

abandon runtime svg
  system/ui/lib/application.py
Due: mypy

selfdrive/assets: rasterize SVGs (#35243)
  selfdrive/assets/icons/checkmark.png
  selfdrive/assets/icons/circled_check.png
  selfdrive/assets/icons/circled_slash.png
  selfdrive/assets/icons/close.png
  selfdrive/assets/icons/close2.png
  selfdrive/assets/icons/couch.png
  selfdrive/assets/icons/disengage_on_accelerator.png
  selfdrive/assets/icons/experimental.png
  selfdrive/assets/icons/experimental_grey.png
  selfdrive/assets/icons/experimental_white.png
  selfdrive/assets/icons/eye_closed.png
  selfdrive/assets/icons/eye_open.png
  selfdrive/assets/icons/lock_closed.png
  selfdrive/assets/icons/triangle.png
  selfdrive/assets/icons/wifi_strength_full.png
  selfdrive/assets/icons/wifi_strength_high.png
  selfdrive/assets/icons/wifi_strength_low.png
  selfdrive/assets/icons/wifi_strength_medium.png
  selfdrive/assets/icons/wifi_uploading.png
  selfdrive/assets/images/button_continue_triangle.png
  selfdrive/assets/prep-svg.sh
  system/ui/lib/application.py
Due: mypy

oops
  system/ui/setup.py
Due: mypy

fixes
  system/ui/setup.py
Due: mypy

params not used
  system/ui/setup.py
Due: mypy

network check thread
  system/ui/setup.py
Due: mypy

fix custom URL and download failed screens
  system/ui/setup.py
Due: mypy

clear keyboard
  system/ui/setup.py
Due: mypy

rm
  system/ui/setup.py
Due: mypy

show full error message
  system/ui/setup.py
Due: mypy

Initial commit: add AdvanceNetwork UI widget
  system/ui/lib/toggle.py
  system/ui/lib/wifi_manager.py
  system/ui/widgets/advance_network.py
Due: mypy

display ip address
  system/ui/lib/wifi_manager.py
  system/ui/widgets/advance_network.py
Due: mypy

more
  system/ui/lib/toggle.py
  system/ui/lib/wifi_manager.py
  system/ui/widgets/advance_network.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
