Repository commaai/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)/|(tinygrad/)|(tinygrad_repo/)'
        additional_dependencies: ['types-PyYAML', 'lxml', 'numpy', 'types-atomicwrites', 'types-pycurl', 'types-requests', 'types-certifi']
        args:
        - --warn-redundant-casts
        - --warn-return-any
        - --warn-unreachable
        - --warn-unused-ignores
        #- --html-report=/home/batman/openpilot
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8

radar fix
  selfdrive/car/toyota/values.py
Due: pylint

adas tss2
  selfdrive/car/toyota/values.py
Due: pylint

None
  selfdrive/car/toyota/values.py
Due: pylint

desactivate radars
  selfdrive/car/toyota/values.py
Due: pylint

radar: add support for LTA radar
  selfdrive/car/toyota/values.py
Due: pylint

remove orphaned __init__
  selfdrive/ui/tests/__init__.py
Due: pylint

add tow to gps ephemeris
  selfdrive/locationd/ublox_msg.cc
Due: cppcheck

Detect radar header message
  selfdrive/car/gm/interface.py
Due: pylint

dashcamOnly if ASCM vehicle with radar unavailable
  selfdrive/car/gm/interface.py
Due: pylint

CI: re-enable timeouts
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

temp fix
  selfdrive/locationd/ublox_msg.cc
Due: cppcheck

facelift
  selfdrive/assets/img_driver_face.png
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

draft
  selfdrive/car/gm/carcontroller.py
Due: pylint

match .2
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

update refs
  selfdrive/test/process_replay/ref_commit
Due: none

.4 is good
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Revert minEnableSpeed
  selfdrive/car/gm/interface.py
Due: pylint

Update tools/cabana/mainwin.cc
  tools/cabana/mainwin.cc
Due: none

size
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

no ss
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck
